/* override aui styles */
header {
  margin: 0 !important;
}
#placeholder {
  height: 350px;
  width: 800px;
}
@media (min-width: 1200px) {
  #placeholder {
    height: 400px;
    width: 1000px;
  }
}
@media (min-width: 1400px) {
  #placeholder {
    height: 500px;
    width: 1200px;
  }
}
.aui-page-panel-inner {
  margin: 0 !important;
}
.aui-page-panel-inner .aui-page-panel-nav-empty {
    width: 25px;
    display: table-cell;
}
input.ng-dirty.ng-invalid, textarea.textarea.ng-invalid-required {
  color: #d04437;
}
/* https://ecosystem.atlassian.net/browse/AUI-1715 */
.aui-select2-container.select2-allowclear .select2-choice .select2-search-choice-close {
  display: block;
  opacity: 0.7;
  top: 10px;
}

.aui-select2-container.select2-allowclear .select2-choice .select2-search-choice-close:hover {
  opacity: 1;
}
.aui-button.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):after {
  margin-left: -8px;
  top: 8px;
}
/* add-on styles */
ul.subtitle {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.subtitle > li {
  display: inline-block;
}
ul.subtitle > li + li:before {
  color: #cccccc;
  margin: 0 3px;
  content: "\b7";
  padding: 0 0.42857142857142855em 0 0.21428571428571427em;
}
th {
    text-align: left;
}
#issuetable {
	border-collapse: initial;
}
.issuekey a, #issuetable .summary a {
    color: #0052CC;
}
.issuekey a:hover, #issuetable .summary a:hover {
    color: #0065FF;
}
.issuekey {
    white-space: nowrap;
}
.fixed {
    text-decoration: line-through;
}
#issuetable th {
    color: #999999;
    font-weight: 400;
}
#issuetable td {
    line-height: 1.286;
    padding: 5px 3px;
    white-space: nowrap;
    vertical-align: top;
}
#issuetable td.summary {
    white-space: normal;
}
#issuetable .summary span .parentIssue, .parentIssue2 {
    background: transparent url('/images/icon-separator.png') no-repeat scroll 100% 2px;
    color: #666;
    padding-right: 10px;
}
.parentIssue2 {
    margin-right: 2px;
}
.nav {
    border-bottom: 1px solid #eee;
}
.details + .first > .nav{
    border-top: 1px solid #ccc;
}
.border {
    border-left: 1px solid #ddd;
}
.rowAlternate {
    background-color: #F5FAFF;
}
.rowNormal {
}
.rowHeader {
    color: #999999;
    font-weight: 400;
    padding: 3px 7px;
}
.rowHeader, .rowNormal, .rowAlternate, .rowFooter {
    display: table-row;
}
.nav, .total, .issuetype, .issuekey, .summary, .priority {
    display: table-cell;
    padding: 3px 7px;
}
.colHeaderLink {
    display: table-cell;
    vertical-align: bottom;
    padding: 3px;
}
.is-not-gadget #slider-wrapper {
    width: 500px;
}
.is-gadget #slider-wrapper {
    width: 300px;
}
.legendColorBox {
    width: 1px;
}
.rowHeader th, .issuetable .colHeaderLink {
    border-bottom: 1px solid #BBBBBB;
}
.rowFooter {
    background-color: #E0F0FF;
}
.businessDay {
}
.nonBusinessDay {
    background-color: #ffeedd;
}
.nonWorkedDay {
}
.workedDay {
}
.toDay {
    background-color: #e3feeb;
}
th.holidayDayOfWeek {
    color: #D04437;
}
#slider-wrapper {
    position: relative;
    height: 21px;
    background-color: #E0F0FF;
    border: 1px solid #C2D9EF;
}
#slider-prev {
    position: absolute;
    left: 5px;
    bottom: 0px;
}
#slider-today {
    position: absolute;
    left:40%;
    bottom: 0px;
}
#slider-next {
    position: absolute;
    bottom: 0px;
    right: 5px;
}
#slider-prev > span {
    border-right: 1px dotted #D2D2D2;
    padding-right: 4px;
}
#slider-next > span {
    border-left: 1px dotted #D2D2D2;
    padding-left: 4px;
}
#slider-today > span:first-child {
    border-left: 1px dotted #D2D2D2;
    padding: 0 4px;
}
#slider-today > span {
    border-right: 1px dotted #D2D2D2;
    padding-right: 4px;
}
.total {
	font-weight: bold;
}
.aui-button.aui-button-link {
    color: #333333;
}
a.fa {
    text-decoration: none;
}
a.disabled {
    color: #707070 !important;
    cursor: default;
    text-decoration: none;
}
.count-pagination {
  margin: 0;
  padding: 5px 3px;
}
.results-count-start,
.results-count-end,
.results-count-total {
  font-weight: bold;
}
.pagination {
  float: right;
}
[ng-click]:not(.disabled):not(.aui-button-primary),
[data-ng-click]:not(.disabled),
[x-ng-click]:not(.disabled) {
    color: #0052CC;
    cursor: pointer;
}
[ng-click]:not(.disabled):not(.aui-button-primary):hover,
[data-ng-click]:not(.disabled):hover,
[x-ng-click]:not(.disabled):hover {
    color: #0065FF;
    cursor: pointer;
}
.aui-navgroup-vertical .aui-nav>li>label {
    padding: 7px 10px;
}
.header {
    width: 100%;
    padding-top: 25px;
}
.main {
  display: flex;
}
.is-not-gadget .content {
  padding: 12px 24px;
  width: 100%
}
.menu {
  width: 200px;
}
.section-header > div:first-child {
  display: flex;
  margin-top: -2px;
}
.section-header > div.h5 {
  margin: 3px 0 5px 0;
}
div.h5 > h5 {
  width: 400px;
}
.section-header > div > div {
  width: 400px;
}
.footer {
    color: #707070;
    font-size: 12px;
    border-top: 1px solid #cccccc;
    width: 100%;
    margin-top: 15px;
}
.is-not-gadget .margin {
    margin-left: 24px;
}
.is-gadget .margin {
    margin-left: 4px;
}
.footer ul {
    margin: auto;
    display: table;
    padding: 10px 0;
}
.footer li {
    display: inline-block;
}
.footer li:not(:last-child):after, pivot-cell span:after {
    content: "\b7";
    margin: 0 10px;
    speak: none;
}
pivot-cell span:after {
    margin: 0 5px;
}
#footer li:last-child:after, pivot-cell span:last-child:after {
    display: none;
}
.inactive {
    color: gray;
}
.red {
    color: #d04437;
}
form.aui .field-group .description {
    font-size: 12px;
    vertical-align: top;
    line-height: 8px;
}
.formTitle {
    border-bottom: 1px solid #ddd;
}
.formTitleDescription {
    font-size: 13px;
    line-height: 40px;
}
.summary .grey {
    color: #999999
}
#slider-today .month:before {
    position: relative;
    top: 2px;
    left: 1px;
    margin-right: 1px;
    content: url('/images/month.png');
}
#slider-today .week:before {
    position: relative;
    top: 2px;
    left: 1px;
    margin-right: 1px;
    content: url('/images/week.png');
}
#slider-today .day:before {
    position: relative;
    top: 2px;
    left: 1px;
    margin-right: 1px;
    content: url('/images/day.png');
}
.checkbox {
  vertical-align: bottom;
}
label .aui-icon {
    padding-top: 8px;
}
.results-wrap .aui-select2-container {
    border: 0;
    height: auto;
    max-width: 330px;
    padding: 2px;
    vertical-align: baseline;
    width: 100%;
}
ul.errors {
    color: #d04437;
    font-weight: bold;
    list-style-type: none;
    padding-left: 0
}
ak-grid-column.ng-scope-bak {
    margin: 0 8px 0 0;
}
table {
    border-collapse: initial;
    width: initial;
}
table td {
    padding: 0;
}
