/* override aui styles */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
  margin: 0 !important;
}

.print { display: none;}
@media print {
    .print {
        display: initial;
    }

    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    .noprint {
        display: none !important;
    }

    .height-reports {
        min-height: 0px !important;
    }

    .aui-label {
        background-color: white;
    }

    .td-issue-txt {
        line-height: 1.1;
        white-space: nowrap !important;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }

    #issuetable th span {
        line-height: 1.1;
        position: relative;
        bottom: 10px;
    }

    #issuetable td {
        line-height: 1.1;
        padding: 2px 4px 2px 0px;
        -webkit-border-vertical-spacing: 0;
    }

    /* PIE CHART */

    #placeholder {
        border-right: none !important;
        display: block !important;
        height: 500px !important;
        width: 900px !important;
        border-right: none !important;
    }

    #legend {
        margin-top: 200px !important;
        margin-left: 2rem !important;
        display: block !important;
    }

    #empty-space-chart {
        margin-left: 930px !important;
    }

}

.height-reports {
    min-height: 960px;
}
.aui-page-panel-inner {
  margin: 0 !important;
}
.aui-page-panel-inner .aui-page-panel-nav-empty {
    width: 25px;
    display: table-cell;
}
div.select2-container.ng-invalid, input.ng-invalid, textarea.textarea.ng-invalid-required {
  color: #d04437 !important;
}
/* https://ecosystem.atlassian.net/browse/AUI-1715 */
.aui-button.aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):after {
  margin-left: -8px;
  top: 8px;
}
.aui-dropdown2.aui-style-default:hover .aui-dropdown2-checkbox:not(.aui-dropdown2-disabled):hover,
.aui-dropdown2.aui-style-default:hover .aui-dropdown2-radio:not(.aui-dropdown2-disabled):hover,
.aui-dropdown2.aui-style-default:hover a:not(.aui-dropdown2-disabled):hover {
  background-color: #f5f5f5;
  color: #333;
}
.aui-dropdown2.aui-style-default .active,
.aui-dropdown2.aui-style-default .aui-dropdown2-active {
  background-color: #f5f5f5;
  color: #333;
  outline: none;
}
.aui-dropdown2.aui-style-default :active,
.aui-dropdown2.aui-style-default :focus {
  outline: none;
}
.aui-dropdown2-heading {
  font-weight: normal;
}
.aui-datepicker-dialog {
    z-index: 10000;
}
/* add-on styles */
.aui-button.aui-button-link.button-compact {
  padding: 0 8px 0 0;
  height: 22px;
  line-height: 18px;
}

ul.subtitle {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.subtitle > li {
  display: inline-block;
}
ul.subtitle > li + li:before {
  color: #cccccc;
  margin: 0 3px;
  content: "\b7";
  padding: 0 0.42857142857142855em 0 0.21428571428571427em;
}
th {
    text-align: left;
}
#issuetable {
	border-collapse: initial;
    margin-top: -12px !important;
}
.issuekey a:hover, #issuetable .summary a:hover {
    color: #0065FF;
}
.issuekey, .nowrap {
    white-space: nowrap;
}
.fixed {
    text-decoration: line-through;
}
#issuetable th {
    color: var(--text-color-5);
    font-weight: 400;
}
#issuetable th.moreFields {
    width: 20%;
}
#issuetable td {
    line-height: 1.286;
    padding: 5px 3px;
}
#issuetable td.summary {
    white-space: normal;
}
#issuetable .summary span .parentIssue, .parentIssue2 {
    background: transparent url('/images/icon-separator.png') no-repeat scroll 100% 2px;
    color: #666;
    padding-right: 10px;
}
.parentIssue2 {
    margin-right: 2px;
}
.nav {
    border-bottom: 1px solid #eee;
}
tr ~ .first > .nav{
    border-top: 1px solid #ccc;
}
.border {
    border-left: 1px solid #ddd;
}
.borderTopTotal {
    border-top: 1px solid #BBBBBB;
}
.rowAlternate {
    background-color: var(--backgroung-color-5);
}
.rowNormal {
    background-color: white !important;
}
.rowHeader {
    color: #999999;
    font-weight: 400;
    padding: 3px 7px;
}
.rowHeader, .rowNormal, .rowAlternate, .rowFooter {
    display: table-row;
}
 .nav, .total, .issuetype, .issuekey, .summary, .priority {
    display: table-cell;
    padding: 3px 7px;
}
.colHeaderLink {
    display: table-cell;
    vertical-align: bottom;
    padding: 0;
}
.is-not-gadget #slider-wrapper {
    width: 590px;
}
.is-not-gadget .chart #slider-wrapper {
    width: 250px;
}
.is-not-gadget .calendar #slider-wrapper {
    width: 70px;
}
.is-gadget #slider-wrapper, .is-gadget #slider-wrapper-issue {
    width: 550px;
}
.is-gadget .calendar #slider-wrapper {
    width: 70px;
}
.issuetime .colHeaderLink:first-child {
    width: 100%;
}
.issuetime .colHeaderLink:not(:first-child) {
    padding: 2px;
    padding-right: 2rem;
    padding-left: 0.5rem;
}
.results-wrap.issuetime {
    margin-left: -4px;
}
.rowHeader th, .issuetable .colHeaderLink {
    border-bottom: 1px solid #80808029;
}
.businessDay {
}
.nonBusinessDay {
    background-color: var(--backgroung-color-4);
}
.nonWorkedDay {
}
.workedDay {
}
.toDay {
    background-color: var(--bg-today);
}
.todayBorder {
    border-top: 4px solid var(--top-today);
}
th.holidayDayOfWeek {
    color: #D04437;
}
.total {
	font-weight: bold;
}
.aui-button.aui-button-link {
    color: #333333;
}
a.fa {
    text-decoration: none;
}
.aui-button .fa {
    color: #707070;
}
a.disabled {
    color: #707070 !important;
    cursor: default;
    text-decoration: none;
}
.count-pagination {
  margin: 0;
  padding: 5px 3px;
}
.results-count-start,
.results-count-end,
.results-count-total {
  font-weight: bold;
}
.pagination {
  float: right;
}
[ng-click]:not(.disabled):not(.inactive):not(.aui-button-primary):not([disabled]):not(.edit),
[data-ng-click]:not(.disabled),
[x-ng-click]:not(.disabled) {
    cursor: pointer;
}
[ng-click]:not(.disabled):not(.inactive):not(.aui-button-primary):hover:not([disabled]):hover,
[data-ng-click]:not(.disabled):hover,
[x-ng-click]:not(.disabled):hover {
    color: #0065FF;
    cursor: pointer;
}
.aui-navgroup-vertical .aui-nav>li>label {
    padding: 7px 10px;
}
.header {
    width: 100%;
    padding-top: 25px;
}
.main {
  display: flex;
}
.is-not-gadget .main {
  min-height: 600px;
}
.is-not-gadget .content {
  padding-top: 1.25rem;
  padding-bottom: 12px;
  padding-left: 0;
  width: 100%
}
.fa.edit {
  display: none;
  color: #999999;
}
.fa.edit:hover {
  color: #0065FF;
}
div.ak-field-group:hover .edit {
  display: inline-block;
}
.copyLink a {
  margin-right: 20px;
}
.copyLink:hover .edit {
  display: inline-block;
  margin-left: -20px;
}
.copyLinkHeader:hover .edit {
  display: inline-block;
}
.section-header > div:first-child {
  display: flex;
  margin-top: -2px;
}
.section-header > div > div {
  width: 450px;
}
.footer {
    color: #707070;
    font-size: 12px;
    border-top: 1px solid #cccccc;
    width: 100%;
}
.is-not-gadget .margin {
    margin-left: 24px;
}
.is-gadget .margin {
    margin-left: 4px;
}
.is-gadget .main.margin {
    width: 100%;
}
.is-gadget .content {
    width: 100%;
}
.footer ul {
    margin: auto;
    display: table;
    padding: 10px 0;
}
.footer li {
    display: inline-block;
}
.footer li:not(:last-child):after, pivot-cell span:after, new-worklog span:after, old-worklog span:after {
    content: "\b7";
    margin: 0 10px;
    speak: none;
}
pivot-cell span:after, new-worklog span:after, old-worklog span:after {
    margin: 0 5px;
}
#footer li:last-child:after, pivot-cell span:last-child:after, new-worklog span:last-child:after, old-worklog span:last-child:after {
    display: none;
}
.inactive {
    color: gray !important;
}
.red {
    color: #d04437;
}
.yellow {
    color: #ff8b00;
}
form.aui .field-group .description {
    font-size: 12px;
    vertical-align: top;
}
form.aui .field-group .description a, .align-top {
    vertical-align: top !important;
}
.formTitle {
    border-bottom: 1px solid #ddd;
}
.formTitleDescription {
    font-size: 13px;
    line-height: 40px;
}
.checkbox {
  vertical-align: bottom;
}
label .aui-icon {
    padding-top: 8px;
}
.results-wrap .aui-select2-container {
    border: 0;
    height: auto;
    max-width: 260px;
    padding: 2px;
    width: 100%;
}
ul.errors {
    color: #d04437;
    font-weight: bold;
    list-style-type: none;
    padding-left: 0
}
ak-grid-column.ng-scope-bak {
    margin: 0 8px 0 0;
}
table {
    border-collapse: initial;
    width: initial;
}
table td {
    padding: 0;
}
.hoverpopup {
    z-index: 1000;
    max-width: 360px;
}
.user-hover-info {
    min-height: 48px;
    position: relative;
    padding: 7px;
}
.user-hover-avatar {
    float: left;
    margin: 0 10px 0 0;
    height: 48px;
    width: 48px;
}
.user-hover-info .user-hover-avatar img {
    border-radius: 24px;
}
.user-hover-info h5 a {
    padding-top: 7px;
    text-decoration: underline;
}
.user-hover-info .user-hover-details {
    margin-left: 8px;
}
.user-hover-details {
    overflow: hidden;
}
.aui-dialog2.aui-layer {
    top: 69px;
}
.ng-scope .invisible {
    display: none;
}
.small {
    font-size: xx-small;
    vertical-align: top;
}
.small-bottom {
    font-size: xx-small;
    vertical-align: bottom;
}
.rowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icons {
    margin: 5px;
}
.msg-overlay {
    position: absolute;
    top: -5px;
    left: 505px;
    z-index: 10;
    margin-right: 27px;
    width: 370px !important;
}
.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-9px, 0) rotate(-60deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;
}

/* START USER PREFERENCES */
.user-preference.msg-overlay {
    top: -45px;
    left: 537px;
    width: 300px !important;
}

.user-preference-form .field-group label {
    font-weight: 700;
}

.user-preference-form .field-group span {
    font-weight: 400;
    color: var(--text-color-2-1);
}
/* END USER PREFERENCES */

/* START COMMON THINGS */
.min-w-280 {
    min-width: 280px;
}

.border-gray-200{
    border-color: #80808029;
}

.m-0-important{
    margin: 0px !important;
}

.font-bold {
    font-weight: 700;
}

.font-bold-light {
    font-weight: 600;
}

.right-6 {
    right: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.border-l-clear {
    border-left: 1px solid #ddd;
}
.align-super {
    vertical-align: super;
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 40px;
    height: 20px;
    margin-top: 15px;
    background-color: #fff;
    border: 2px solid var(--text-divider-color-2-dark);
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 var(--text-divider-color-2-dark);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 var(--secondary-color-clarity-1);
    border-color: var(--secondary-color-clarity-1)
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

span .apple-switch {
    margin-bottom: -5px !important;
    margin-left: 10px !important;
}

input.checkbox {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 17px;
    height: 17px;
    background-color: #fff;
    border: 1px solid var(--text-divider-color-3);
    border-radius: 4px;
}

input.checkbox:checked {
    background: transparent url(/images/icon-check.png) no-repeat scroll;
    background-size: contain;
}

input.checkbox:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
}

select.common {
    background: url('/images/icon-arrow-down.png') no-repeat right;
    -webkit-appearance: none;
    background-position-x: 97.5%;
    background-size: 24px;
    text-indent: 15px;
}
@-moz-document url-prefix() {
    select.common {
        text-indent: 5px;
    }
}
.aui-message.success, .aui-message-success {
    border-color: #4B61FE !important;
}

.aui-message-success:before {
    background-color: #4B61FE !important;
}

.input-tag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 340px;
}

.input-tag ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
}

.input-tag li {
    background-color: var(--text-divider-color-4);
    border-width: 0;
    border-radius: 10px;
    box-shadow: none;
    color: var(--text-color-3);
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 5px 33px 5px 10px;
    position: relative;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 6px;
    text-align: left;
    text-decoration: none;
}

.input-tag li .remove, .aui-label .icon-close {
    background: url(/images/icon-remove.png) no-repeat center !important;
    background-size: 10px !important;
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 7px;
    top: 4px;
    font-size: 1px;
    outline: none;
}

a.tip, i.tip {
    position: relative;
}

a.tip span, i.tip span {
    display: none;
    position: absolute;
    top: 100%;
    width: auto;
    padding: 5px;
    z-index: 100;
    background: #000;
    color: #fff;
    -moz-border-radius: 5px;
    /* this works only in camino/firefox */
    -webkit-border-radius: 5px;
    /* this is just for Safari */
    font-style: normal;
    font-size: 11px;
}

a.tip span:before, i.tip span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 10px;
    top: -5px;
}

a:hover.tip, i:hover.tip {
    font-size: 99%;
    /* this is just for IE */
}

a:hover.tip span, i:hover.tip span {
    display: block;
}

input:disabled, select:disabled {
    background-color: #f4f4f4 !important
}

button:disabled {
    background-color: #dddddd !important
}

button.text-text-white:hover {
    color: white !important;
}

/* END COMMON THINGS */

/* START CONFIG SCREEN */
.field-group {
    margin-left: 25px !important;
}

.field-group label {
    font-weight: 500;
    color: var(--text-color-1) !important;
    font-size: 12px;
    text-align: left !important;
    margin-right: 60px;
    width: 152px !important;
}

.field-group span {
    margin-left: 68px;
    display: inline-block;
    color: var(--text-color-4);
    font-size: 12px;
    max-width: 500px;
}

.field-group span a {
    color: var(--secondary-color-clarity-1);
}

.field-group select {
    border: 1px solid var(--text-divider-color-2-dark);
    border-radius: 4px;
    height: 40px;
    width: 340px;
    color: var(--text-color-3);
    font-weight: 300;
}

.field-group .text-field {
    border: 1px solid var(--text-divider-color-2-dark) !important;
    border-radius: 4px !important;
    height: 40px !important;
    text-indent: 15px;
    color: var(--text-color-3);
    font-weight: 300;
}

.field-group .text-field.common {
    width: 340px;
}

.field-group .text-field.single {
    max-width: 340px;
}

.field-group .select2-container .select2-choices{
    width: 340px !important;
}

.short-select2 ul{
    max-width: 190px !important;
}

.palette-color-picker-button {
    width: 40px !important;
    height: 40px !important;
    border: 0px !important;
    border-radius: 3px;
}

@media (min-width: 1300px) {
    .msg-overlay {
        left: 90% !important;
    }

    .user-preference.msg-overlay {
        left: 55% !important;
    }
}

/* START HOLIDAYS CALENDAR */
.calendar-header{
    border: 0px !important;
    margin-left: 12px !important;
    margin-bottom: 30px !important;
}

.calendar .calendar-header .year-neighbor2 , .calendar .calendar-header .year-neighbor{
    opacity: 1 !important;
    color: var(--text-color-4);
}

.calendar .calendar-header .year-title {
    font-size: 14px;
    font-weight: 450 !important;
    width: 18% !important;
    vertical-align: middle !important;
}

.calendar .calendar-header table .prev, .calendar .calendar-header table .next {
    font-weight: 200;
    font-size: 23px;
}

.calendar table.month th.month-title, .calendar table.month th.day-header {
    text-transform: uppercase;
    font-weight: 450 !important;
    font-size: 12px !important;
    height: 35px;
}

.calendar .months-container {
    margin-left: 12px !important;
}

.calendar .months-container .month-container {
    height: 250px !important;
}

.calendar table.month th.day-header {
    width: 12% !important;
}

.calendar table.month td.day .day-content {
    color: var(--text-color-3) !important;
}
/* END HOLIDAYS CALENDAR */

/* START LEFT MENU */
.ak-field-group .aui-select2-container .select2-choice {
    height: 38px !important;
    text-indent: 5px;
}

.ak-field-group .aui-select2-container .select2-choice .select2-chosen {
    margin-top: 4px;
    color: var(--text-color-3) !important;
    font-weight: 300 !important;
}

.ak-field-group label {
    color: var(--text-color-2) !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

.ak-field-group .text-field, .time-picker-field {
    border: 1px solid var(--text-divider-color-2-dark) !important;
    border-radius: 4px !important;
    height: 40px !important;
    text-indent: 15px;
    color: var(--text-color-3);
    font-weight: 300;
    width: 208px;
}

.normal-text-field {
    border: 1px solid var(--text-divider-color-2-dark) !important;
    border-radius: 4px !important;
    height: 40px !important;
    text-indent: 15px;
    color: var(--text-color-3);
    font-weight: 300;
}

.time-picker-field {
    text-indent: 8px;
}

.ak-field-group {
    padding: 26px 0 0 0;
}

.input-date {
    background: url('/images/icon-calendar.png') no-repeat right white !important;
    background-position-x: 97.5% !important;;
    background-size: 24px !important;
}
/* END LEFT MENU */

/* END CONFIG SCREEN */

/* START Timesheet report */
.borderWeek {
    border-left: 0;
    border-top: 0;
    border-left: 1px solid #80808029;
}

.borderWeekDays {
    border-left: 1px solid #80808029;
}

.stickyCell {
    border-left: 1px solid #00000047;
    position: sticky;
    right: 0;
    background-color: inherit;
}

.bg-white {
    background-color: white;
}

.bg-purple {
    background-color: var(--secondary-color-clarity-4);
}
/* END Timesheet report */

.calendar {
    padding: 0 !important;
}

.calendarTable td {
    padding: 12px 12px !important;
}

/*  START GADGETS */
@media (max-width: 700px) {
    select.common.view-option {
        color: transparent;
        background-position-x: 97.5%;
        text-indent: 15px;
        width: 3rem;
    }

    select option {
        color: black;
      }
    select.common.week-sum {
        background:  url('/images/icon-eye.png') no-repeat left , url('/images/icon-arrow-down.png') no-repeat right;
        background-size: 24px;
        margin-left: 0.75rem;
    }
    select.common.toggle-month {
        background: url('/images/icon-clock.png') no-repeat left, url('/images/icon-arrow-down.png') no-repeat right;
        background-size: 24px;
    }

    .break-line::after{
        content: "\a";
        white-space: pre;
    }

    .is-gadget #slider-wrapper, .is-gadget #slider-wrapper-issue {
        width: 325px;
    }
}

.form-gadget .ak-field-group .text-field {
    width: 310px !important;
}

.form-gadget .aui-select2-container {
    max-width: 310px !important;
}

.form-gadget {
    margin-left: 0.5rem !important
}

.form-gadget div label {
    color: var(--text-color-2) !important;
    font-weight: 500 !important;
    font-size: 12px !important;
}

.form-gadget .checkbox-group {
    padding: 18px 0 0 0;
}

.form-gadget .checkbox-group label {
    vertical-align: bottom;
    margin-left: 5px;
}

.footer-gadget {
    border-top: none !important;
}

.form-gadget .buttons-container {
    border-color: #80808029;
    border-bottom-width: 1px;
    border-top-width: 1px;
    padding: 1.5rem 0 1.5rem 0!important;
    margin-top: 2rem !important;
}

/* END GADGETS */

/* START PIE CHART */
#legend {
    margin-left: 2rem;
    display: inline-block;
    vertical-align: top;
}

#placeholder {
  height: 350px;
  width: 500px;
  display: inline-block;
}

#empty-space-chart {
    margin-left: 530px;
}

.pieLabelBackground {
    height: 35px !important;
    border: 1px solid var(--text-divider-color-2-dark);
    border-radius: 5px;
    background-color: var(--backgroung-color-5) !important;
}

@media (max-width: 600px) {
    #legend {
        display: inherit !important;
        margin-left: 5%;
    }
    .w-75 {
        width: 21rem !important;
    }

    #empty-space-chart {
        margin-left: 30px;
    }

    .pie-first-column.group-by {
        width: 5rem;
    }
}

@media (max-width: 700px) {
    #legend {
        display: inherit !important;
        margin-left: 5%;
    }
    .w-75 {
        width: 21rem !important;
    }

    #empty-space-chart {
        margin-left: 30px;
    }

    .pie-first-column.group-by {
        width: 5rem;
    }
}

@media (min-width: 1200px) {
  #placeholder {
    height: 400px;
    width: 600px;
  }

  #empty-space-chart {
    margin-left: 630px;
  }
}

@media (min-width: 1400px) {
    #placeholder {
      height: 500px;
      width: 700px;
      border-right: 1px solid var(--text-divider-color-2-dark);
    }

    #empty-space-chart {
      margin-left: 730px;
    }
}

@media (min-width: 1600px) {
    #placeholder {
        height: 600px;
        width: 900px;
        border-right: 1px solid var(--text-divider-color-2-dark);
    }

    #empty-space-chart {
        margin-left: 930px;
    }
}

.legendColorBox {
    width: 1px;
}

.legendColorBox > div {
    border: none !important;
}

.legendColorBox :first-child div {
    border-width: 8px !important;
    border-radius: 12px;
}

td.break-line {
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
}

.pie-first-column {
    width: 5rem;
}

.pie-issue-key-column {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pie-first-column.group-by {
    width: 9.1rem;
}

.flot-overlay {
    opacity: 0;
}

/* END PIE CHART */

/* START LOG WORK */
.issue-key-field {
    max-width: 450px !important;
}

form.aui legend, form.aui .log-work.dialog label{
    text-align: left !important;
}

form.aui legend, form.aui .log-work label {
    color: var(--text-color-1);
    font-weight: 500;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    width: 130px !important;
    font-size: 12px;
}

@media (max-width: 600px) {
    form.aui legend, form.aui .log-work label {
        margin-right: 0px;
        text-align: left;
    }

    .issue-work-buttons {
        margin-left: 8.4rem;
    }

    form.aui .long-field {
        max-width: 250px;
    }

    .wiki-edit-content {
        margin-left: -5px;
    }

    .log-work #log-work-date-logged, .log-work #remain-estimate {
        margin-left: -5px;
    }
}

.line-fields {
    width: 800px;
}

form.aui legend, form.aui .log-work .line-fields {
    padding-top: 1.3rem;
}

.button-padlock {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 49px;
    height: 32px;
}

.button-locked {
    background:  url('/images/icon-lock.png') no-repeat left , url('/images/icon-arrow-down.png') no-repeat right;
    background-size: 24px;
}

.button-unlocked {
    background:  url('/images/icon-unlock.png') no-repeat left , url('/images/icon-arrow-down.png') no-repeat right;
    background-size: 24px;
}
/* END LOG WORK */

/* START SEND MAIL */
.field-group.send-mail{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
/* END SEND MAIL */

/* START HOURLY RATES MODAL*/
.field-group-hourly-rate {
    border: 1px solid var(--text-divider-color-2-dark) !important;
    border-radius: 4px !important;
    height: 40px !important;
    text-indent: 15px;
    color: var(--text-color-3);
    font-weight: 300;
}
.label-hourly-rate {
    font-weight: 500;
    font-size: 12px;
    color: var(--text-color-1) !important;
}
/* END HOURLY RATES MODAL*/

form.bitbucket textarea {
    max-width: 342px !important;
}

form.bitbucket label {
    margin-right: 13px;
}

form.bitbucket span {
    margin-left: 20px;
}

.info-box-sizes {
    height: 354px;
    width: 330px;
}

.top-info-box {
    top: 18%;
}

@media (min-width: 1400px) {
    .top-info-box {
        top: 18%;
    }
}

@media (min-width: 1500px) {
    .top-info-box {
        top: 20%;
    }
}

@media (min-width: 1600px) {
    .top-info-box {
        top: 23%;
    }
}

@media (min-width: 1700px) {
    .top-info-box {
        top: 26%;
    }
}

@media (min-width: 1800px) {
    .top-info-box {
        top: 29%;
    }
}

@media (min-width: 1900px) {
    .top-info-box {
        top: 33%;
    }
}

@media (min-width: 2000px) {
    .top-info-box {
        top: 38%;
    }
}

.stars {
    display: inline-block;
    font-size: 33px;
    font-weight: 100;
    position: relative;
    margin-left: 50px;
    margin-top: 5px;
}

.stars:BEFORE {
    position:absolute;
    overflow:hidden;
    z-index:1;
    left:0px;
    top:0px;
    color: var(--secondary-color);
}

.stars:AFTER {
    content:"★ ★ ★ ★ ★";
    position:relative;
    color:#C8CBDB;
}

.stars.rate:AFTER {
    position:absolute;
    left:0px;
}

.stars.rate > A {
    color:transparent;
    text-decoration:none;
    position:relative;
    z-index:2;
}

.stars.rate:HOVER:BEFORE,
.stars.rate:HOVER:AFTER {
    display:none;
}

.stars.rate:HOVER > A {
    color: var(--secondary-color);
}

.stars.rate:HOVER > A:HOVER {
    color: var(--secondary-color);
}

.stars.rate >A:HOVER ~ A {
    color:#C8CBDB;
}

.star-fill {
    color: var(--secondary-color) !important;
}

::-webkit-file-upload-button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: var(--text-color-1);
    background-color: var(--background-file);
    font-weight: 600;
    font-size: 12px;
    border-radius: 0.375rem;
    border: 1px solid #80808029;
}

/* Timesheet Configuration - User Default Settings */
.aui-message.aui-message-success {
    width: 0px;
    height: 40px;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    line-height: 0px;
}

.cp-l-76 {
    position: absolute;
    left: 76%;
    bottom: 4px;
}

.cp-l-35 {
    z-index: 10;
    position: absolute;
    left: 35%;
    bottom: 4px;
}

.cp-l-83 {
    z-index: 10;
    position: absolute;
    left: 83%;
    bottom: 4px;
}

.cp-l-92 {
    z-index: 10;
    position: absolute;
    left: 92%;
    bottom: 4px;
}

.w-24-e {
    width: 24em !important;
}

/* User Default Settings */
.posl-25-p {
    position: relative;
    left: 25%;
}

.posl-30-p {
    position: relative;
    left: 30%;
}


.banner-home {
  display: flex;
  align-items: center;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  border-radius: 0.275rem;
  background-color: #c12222;
  width: 100%;
}

.banner-home .text {
  width: 100%;
  margin-right: 1rem;
  color: white;
}

.banner-home .icon-image {
  width: 0px;
  padding: 0.75rem;
  padding-right: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}
.banner-home .icon-image.remove {
  background-image: url(../images/icon-remove.png);
}

.banner-home .icon-image.info {
  background-image: url(../images/icon-info.png);
}

.banner-home .close-icon {
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
  display: block;
  left: -1.75rem;
}

.banner-home .close-icon:before,
.close-icon:after {
  content: "";
  position: absolute;
  top: 0;
  left: 14px; /* Half the width to keep the lines centered */
  width: 3px;
  border-radius: 25%;
  height: 100%;
  background-color: white;
}

.banner-home .close-icon:before {
  transform: rotate(45deg); /* Rotate line to form X */
}

.banner-home .close-icon:after {
  transform: rotate(-45deg); /* Rotate line to form X */
}