<form class="aui" name="logWorkForm">
<table cellpadding="0" border="0" width="100%" ng-style="{'border-spacing': popupData.worklogs ? '0 5px' : '5px'}">
    <tr>
        <td colspan="2">
            {{'Log Work for' | i18n}} {{popupData.worklog.date | date:'dd/MMM/yy'}}
        </td>
        <td>
            <span class="fa fa-spinner fa-spin" ng-show="popupData.loading"></span>
        </td>
    </tr>
    <tr>
        <td><label>{{'Spent' | i18n}}</label></td>
        <td>
            <input type="text"
                   name="timeSpent"
                   size="8"
                   ng-model="popupData.worklog.timeSpent"
                   enter-pressed="popupData.addWorklog(closePopup)"
                   auto-focus="true"
                   required
                   timespent
                   work-per-day="{started: popupData.worklog.date, configOptions: popupData.configOptions, user: popupData.worklog.user || popupData.loggedInUser}"
                   ng-model-options='{ debounce: 100 }'/>
        </td>
        <td><longer-one-day-warning ng-if="logWorkForm.$valid">&gt;1d!</longer-one-day-warning>
          <span ng-show="logWorkForm.timeSpent.$error.workPerDayError" role="alert" class="red">
            {{logWorkForm.timeSpent.$error.workPerDayError}}
          </span>
          (<a ng-click="popupData.openMoreOptionDialog();closePopup();">{{'more options' | i18n}}</a>)
        </td>
    </tr>
    <tr>
        <td><label>{{'Comment' | i18n}}</label></td>
        <td colspan="2">
            <input class="error"
                   type="text"
                   size="25"
                   ng-model="popupData.worklog.comment"
                   work-labels="workLabelsList"
                   enter-pressed="popupData.loading || popupData.addWorklog(closePopup)"
                   ng-required="workDescriptionRequired"
                   placeholder="{{workDescriptionRequired ? '(required)' : ''}}"/>
        </td>
    </tr>
    <tr ng-if="popupData.worklog.user">
        <td style="text-align: right"><span class="aui-icon aui-icon-warning">Warning</span></td>
        <td colspan="2">
            {{'Log work on behalf of' | i18n}}&nbsp;{{popupData.worklog.user.displayName}}
        </td>
    </tr>
</table>
</form>
