<form class="aui">
<table cellpadding="0" border="0" width="100%" ng-style="{'border-spacing': popupData.worklogs ? '0 5px' : '5px'}">
    <tr>
        <td colspan="2">
            {{'Log Work for' | i18n}} {{popupData.worklog.date | date:'dd/MMM/yy'}}
        </td>
        <td>
            <span class="aui-icon aui-icon-wait" ng-show="popupData.loading"></span>
        </td>
    </tr>
    <tr>
        <td><label>{{'Spent' | i18n}}</label></td>
        <td>
            <input type="text" name="timeSpent" size="8" ng-model="popupData.worklog.timeSpent" enter-pressed="popupData.addWorklog(closePopup)" auto-focus="true" required timespent/>
        </td>
        <td><longer-one-day-warning>&gt;1d!</longer-one-day-warning>(<a ng-click="popupData.openMoreOptionDialog();closePopup();">{{'more options' | i18n}}</a>)</td>
    </tr>
    <tr>
        <td><label>{{'Comment' | i18n}}</label></td>
        <td colspan="2">
            <input class="error" type="text" size="25" ng-model="popupData.worklog.comment" enter-pressed="popupData.addWorklog(closePopup)" ng-required="workDescriptionRequired" placeholder="{{workDescriptionRequired ? '(required)' : ''}}"/>
        </td>
    </tr>
</table>
</form>
