<table cellpadding="0" border="0" cellspacing="5" width="100%">
    <tr ng-repeat="wkLog in popupData.worklogs">
        <td ng-if="wkLog._issueInfo || wkLog._authorInfo">
            <span ng-if="wkLog._issueInfo"><issue-key issue="wkLog._issueInfo"/></span>
            <a ng-class="{inactive: !wkLog._authorInfo.active}"
                title="{{wkLog._authorInfo.emailAddress}}"
                ng-href="#!/?pivotTableType=Timesheet&user={{wkLog._authorInfo.accountId}}&group=&groupByField="
                ng-if="wkLog._authorInfo" ng-bind="wkLog._authorInfo.displayName || wkLog._authorInfo.name"/>
        </td>
        <td width="1%">
            {{wkLog.timeSpentSeconds | prettyHours:jiraConfig}}
        </td>
        <td>
            <span title="{{wkLog.comment.length > 25 ? wkLog.comment : ''}}">{{wkLog.comment | limitTo:25}}</span>
        </td>
        <td nowrap>
            <span class="fa fa-pencil-square-o"
                  ng-click="popupData.openEditWorklogDialog(wkLog.id, wkLog._issue);closePopup();"
                  title="{{'Edit worklog' | i18n}}"
                  ng-show="popupData.canEditOwnWorklog && !popupData.cannotEditOwnWorklogIssue[popupData.rowKey.keyValue] ||
                  popupData.canEditAllWorklog && !popupData.cannotEditAllWorklogIssue[popupData.rowKey.keyValue]">
            </span>
            <span class="fa fa-trash-o" style="color: red"
                  ng-click="popupData.openDeleteWorklogDialog(wkLog.id, wkLog._issue);closePopup();"
                  title="{{'Delete worklog' | i18n}}"
                  ng-show="popupData.canDeleteOwnWorklog && !popupData.cannotDeleteOwnWorklogIssue[popupData.rowKey.keyValue] ||
                  popupData.canDeleteAllWorklog && !popupData.cannotDeleteAllWorklogIssue[popupData.rowKey.keyValue]">
            </span>
        </td>
    </tr>
    <tr ng-show="popupData.pivotTableType != 'Calendar' && popupData.canLogWork && !popupData.cannotLogWorkIssue[popupData.rowKey.keyValue]">
        <td colspan="{{popupData.colspan}}" style="border-top: 1px solid black;">
            <ng-include src="'/templates/popups/addWorklog.html'"></ng-include>
        </td>
    </tr>
    <tr ng-show="popupData.pivotTableType == 'Calendar'">
        <td>
            <button ng-if="popupData.canLogWork || popupData.canLogWorkForUser"
                    class="aui-button aui-button-link"
                    ng-click="popupData.addWorklogDialog(null, null, popupData.currentDay)"
                    title="Log Work against this day">
                <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                {{'Log Work' | i18n}}
            </button>
        </td>
    </tr>
</table>
