<table cellpadding="0" border="0" cellspacing="5" width="100%">
    <tr ng-repeat="wkLog in popupData.worklogs">
        <td>
            {{wkLog.author.displayName}}
        </td>
        <td>
            {{wkLog.timeSpentSeconds | prettyHours}}
        </td>
        <td>
            {{wkLog.comment}}
        </td>
        <td nowrap>
            <span class="fa fa-pencil-square-o" ng-click="popupData.openEditWorklogDialog(wkLog.id, wkLog._issue);closePopup();" title="{{'Edit worklog' | i18n}}" ng-show="popupData.canEditOwnWorklog"></span>
            <span class="fa fa-trash-o" style="color: red" ng-click="popupData.openDeleteWorklogDialog(wkLog.id, wkLog._issue);closePopup();" title="{{'Delete worklog' | i18n}}" ng-show="popupData.canDeleteOwnWorklog"></span>
        </td>
    </tr>
    <tr ng-if="popupData.canLogWork">
        <td colspan="4" style="border-top: 1px solid black;">
            <ng-include src="'/templates/popups/addWorklog.html'"></ng-include>
        </td>
    </tr>
</table>