<form class="aui" style="margin: 15px">
   <div><span class="fa fa-spinner fa-spin" ng-show="popupData.loading"></span></div>
   <div class="rowCenter" style="justify-content: space-between;">
      <span class="-mt-2">
          <label class="align-super mr-2 text-xs font-bold" for="fixed">{{'Fixed' | i18n}}</label>
          <input id="fixed" type="checkbox" class="apple-switch" ng-model="popupData.fixed">          
      </span>
      <span class="ml-6">
          <input
                  class="px-5 py-2 bg-secondary-color rounded text-text-white font-medium text-xs mr-4"
                  type="submit"
                  ng-value="'{{'Save' | i18n}}'"
                  ng-click="popupData.save(closePopup)">
          <a ng-click="closePopup()" class="text-text-color-3 text-xs">{{'Cancel' | i18n}}</a>
      </span>
  </div>
</form>
