<form class="aui" name="subscribeForm" style="margin: 15px">

    <div>{{'Problem Description' | i18n}}&nbsp;<span class="aui-icon aui-icon-wait" ng-show="popupData.loading"></span></div>
    <fieldset style="padding-top: 10px">
        <textarea rows="5" id="comment" cols="39" class="textarea long-field" ng-model="popupData.problemDescription"
                  placeholder="{{'Describe your problem here' | i18n}}"></textarea>
    </fieldset>
    <div style="padding-top: 20px; text-align: right">
        <div>
            <button class="aui-button aui-button-primary" ng-click="popupData.confirmSend(closePopup)" ng-disabled="!popupData.problemDescription">{{'Send support data' | i18n}}</button>
            <button class="aui-button aui-button-subtle" ng-click="closePopup()">Cancel</button>
        </div>
    </div>
</form>
