<form class="aui" style="margin: 15px">
  <div>{{'Copy report to user' | i18n}}&nbsp;&nbsp;<span class="fa fa-spinner fa-spin" ng-show="popupData.loading"></span></div>
  <fieldset style="padding-top: 10px">
    <label>{{"User" | i18n}}</label>
  </fieldset>
  <fieldset style="padding-top: 10px">
    <input ng-value="popupData.shareToUser"
           aui-user-picker
           ng-user-changed-func="popupData.shareToUserChange"
           type="text"
           style="width: 270px"/>
  </fieldset>
  <div style="padding-top: 20px; text-align: right">
      <div>
          <input class="aui-button aui-button-primary" type="submit" ng-value="'{{'Copy' | i18n}}'" ng-click="popupData.shareToUser && popupData.shareView(popupData.shareToUser, closePopup)">
          <a style="margin-left: 10px" ng-click="closePopup()">{{'Cancel' | i18n}}</a>
      </div>
  </div>
</form>
