<form class="aui" name="subscribeForm" style="margin: 15px">
    <div>{{'Send report by email' | i18n}}&nbsp;<span class="fa fa-spinner fa-spin" ng-show="popupData.loading"></span></div>
    <fieldset style="padding-top: 10px">
        <label>
            {{'Now' | i18n}}
        </label>
        <a style="float: right" class="aui-button" ng-click="popupData.send(closePopup)" ng-disabled="popupData.loading" ng-class="{disabled: popupData.loading}">{{'Send' | i18n}}</a>
    </fieldset>
    <fieldset style="padding-top: 10px; margin-top: 10px; border-top: 1px solid #cccccc;">
        <label>
            {{'Periodically' | i18n}}
        </label>
    </fieldset>
    <fieldset style="padding-top: 10px">
        <select id="every-week-on" class="select" style="min-width: 137px"
                title="{{'Email' | i18n}}"
                ng-model="popupData.everyWeekOptions.selected"
                ng-options="item.id as item.label for item in popupData.everyWeekOptions.options"
                aui-select2
                reqired>
        </select>
    </fieldset>
    <fieldset style="padding-top: 10px">
        <label>
            {{'At' | i18n}}
        </label>
        <span style="display: block">
            <select class="select short-field"
                ng-model="popupData.everyWeekOptions.hour"
                ng-options="item for item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                style="max-width: 50px; padding-top: 3px"
                required>
            </select>
            <select class="select short-field"
                ng-model="popupData.everyWeekOptions.minute"
                ng-options="item for item in [0, 15, 30, 45]"
                style="max-width: 50px; padding-top: 3px"
                required>
            </select>
            <select class="select short-field"
                ng-model="popupData.everyWeekOptions.period"
                ng-options="item for item in ['am', 'pm']"
                style="max-width: 60px; padding-top: 3px"
                required>
            </select>
        </span>
    </fieldset>
    <fieldset>
        <div ng-if="popupData.currentUser && ['Timesheet', 'Timespent'].indexOf(popupData.pivotTableType) >= 0">
            <input id="period-check"
                   type="checkbox"
                   ng-model="popupData.everyWeekOptions.ifIncomplete">
            <label for="period-check">
                {{'If Incomplete' | i18n}}
            </label>
        </div>
    </fieldset>
    <div style="padding-top: 20px; text-align: right">
        <div>
            <input class="aui-button aui-button-primary" type="submit" ng-value="popupData.currentView.jobId ? '{{'Update' | i18n}}' : '{{'Subscribe' | i18n}}'" ng-disabled="subscribeForm.$invalid" ng-click="popupData.subscribe(closePopup)">
            <a ng-if="popupData.currentView.jobId" style="margin-left: 10px" class="aui-button" ng-click="popupData.unsubscribe(closePopup)">{{'Unsubscribe' | i18n}}</a>
            <a style="margin-left: 10px" ng-click="closePopup()">{{'Cancel' | i18n}}</a>
        </div>
    </div>
</form>
