<form class="aui" name="SubmitIssueForm">
    <form-invalid/>
    <div class="field-group">
        <p>Send email to support team{{ loggedInUser.emailAddress ? ' as ' + loggedInUser.displayName + ' <' + loggedInUser.emailAddress + '>' : ''}}.
            <br>See <a href="https://www.primetimesheet.net/{{sitePrimeTimesheet}}/support.html" target="_blank">Support page</a> for other options. <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
        </p>
    </div>
    <div class="form-body" class="aui">
        <div ng-show="!loggedInUser.emailAddress" class="field-group">
            <label for="email">Email <span class="aui-icon icon-required"></span><span class="content">required</span></label>
            <input id="email" type="email" class="text" maxlength="40" ng-model="email" required>
        </div>
        <div ng-show="!loggedInUser.emailAddress" class="field-group">
            <span class="description">If you’d like to receive response, please, specify your email address.</span>
        </div>
        <div class="field-group">
            <label for="issue-title">
                Title <span class="aui-icon icon-required"></span><span class="content">required</span>
            </label>
            <input type="text" id="issue-title" class="text long-field ui-autocomplete-input" maxlength="150" id="issue-title" ng-model="title" autocomplete="off" required>
        </div>
        <fieldset>
            <div class="field-group">
                <label for="issue-content">Problem Description <span class="aui-icon icon-required"></span><span class="content">required</span></label>
                <div class="wiki-edit">
                    <div class="wiki-edit-content" id="comment-wiki-edit">
                        <textarea rows="{{loggedInUser.emailAddress ? 8 : 5}}" cols="60" class="textarea long-field"  id="issue-content" ng-model="content" ng-change="changeContent(content)" required></textarea>
                        <div class="content-inner"></div>
                    </div>
                </div>
            </div>
            <div class="field-group">
                <span class="description">Describe what you've been doing when the problem occurred (keep exception trace if available)</span>
            </div>
        </fieldset>
        <div class="field-group" ng-if="includeSupportData.options">
            <label for="include-support-data">Include Support Data</label>
            <input class="checkbox" type="checkbox" id="include-support-data" ng-model="includeSupportData.enabled"/>
            <a ng-click="download()" ng-if="includeSupportData.enabled && includeSupportData.$ready">{{'Download' | i18n}}</a>
        </div>
        <div  ng-if="includeSupportData.options" class="field-group">
            <span class="description">Enable this option if you'd like to provide recorded responses from Jira to let support replay the report</span>
        </div>
    </div>
</form>
