<!-- Dialog header -->
<header class="aui-dialog2-header">
    <!-- The dialog''s title -->
    <h1 class="aui-dialog2-header-main">
        {{'Hourly Rates' | i18n }}
    </h1>
    <!-- Close icon -->
    <a class="aui-dialog2-header-close" ng-click="cancel()">
        <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
</header>
<!-- Main dialog content -->
<div class="aui-dialog2-content">
    <form class="aui" name="hourlyRatesForm">
        <div class="rowCenter">
            <input style="width: 235px;margin-right:5px;"
                    ng-value="paramUserInfo"
                   aui-user-picker
                   ng-user-changed-func="hourlyRatesForm.hourlyRate.$valid && userChange"
                   type="text"/>
            <input ng-model="startDate" type="date" aui-date-picker class="select" style="width: 100px;margin-right:5px;"/>
            <select id="select2-project"
                    class="select"
                    style="width: 123px;margin-right:5px;"
                    title="{{'Project' | i18n}}"
                    ng-model="project"
                    ng-options="item.id as item.label for item in allProjects">
            </select>
            <input id="hourlyRate"
                   name="hourlyRate"
                   ng-model="hourlyRate"
                   type="number"
                   min="0"
                   class="text"
                   title="{{'Hourly Rate' | i18n}}"
                   style="max-width: 70px;margin-right:5px;"
                   enter-pressed="hourlyRate && addHourlyRate(paramUserInfo, startDate, project, hourlyRate)"/>
            <span class="fa fa-plus-square"
                  ng-class="{disabled: !hourlyRate}"
                  ng-click="hourlyRate && addHourlyRate(paramUserInfo, startDate, project, hourlyRate)">

            </span>
        </div>
        <div>
            <div ng-repeat="(accountId, rates) in hourlyRates">
                <div class="rowCenter" style="margin-top: 3px;">
                    <div style="width: 232px;margin-left: 3px;margin-right:5px;">{{users[accountId].displayName || ('Default Rate' | i18n)}}</div>
                    <input ng-model="startDateUsers[accountId]" type="date" aui-date-picker class="select" style="width: 100px;margin-right:5px;"/>
                    <select class="select"
                            title="{{'Project' | i18n}}"
                            style="width: 123px;margin-right:5px;"
                            ng-model="projectUsers[accountId]"
                            ng-options="item.id as item.label for item in allProjects">
                    </select>
                    <input id="hourlyRateUsers[accountId]"
                           name="hourlyRateUsers[accountId]"
                           ng-model="hourlyRateUsers[accountId]"
                           type="number"
                           min="0"
                           class="text"
                           title="{{'Hourly Rate' | i18n}}"
                           style="max-width: 70px;margin-right:5px;"
                           enter-pressed="hourlyRateUsers[accountId] && addHourlyRate(users[accountId], startDateUsers[accountId], projectUsers[accountId], hourlyRateUsers[accountId])"/>
                    <span class="fa fa-plus-square"
                          ng-class="{disabled: !hourlyRateUsers[accountId]}"
                          ng-click="hourlyRateUsers[accountId] && addHourlyRate(users[accountId], startDateUsers[accountId], projectUsers[accountId], hourlyRateUsers[accountId])">
                    </span>
                </div>
                <div ng-repeat="(startDate, projectRates) in rates">
                    <div class="rowCenter" ng-repeat="(project, hourlyRate) in projectRates" style="margin-top: 3px;">
                        <div style="width: 232px;margin-left: 3px;margin-right:5px;"></div>
                        <div style="width: 100px;margin-right:5px;">{{startDate || '1970-01-01'}}</div>
                        <div style="width: 123px;margin-right:5px;">{{projectLabel[project]}}</div>
                        <input id="userHourlyRate{{accountId + startDate + project}}"
                               name="userHourlyRate{{accountId + startDate + project}}"
                               ng-model="hourlyRate"
                               ng-model-options='{ debounce: 1000 }'
                               ng-change="hourlyRatesForm['userHourlyRate{{accountId + startDate + project}}'].$valid
                                && addHourlyRate(users[accountId], startDate, project, hourlyRate)"
                               min="0"
                               type="number"
                               class="text"
                               style="max-width: 70px;margin-right:5px;"/>
                        <i class="fa fa-trash" ng-click="removeHourlyRate(accountId, startDate, project)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowCenter">
            <div style="display: inline-block;width: 237px;margin-left: 3px;">{{'Currency' | i18n}}</div>
            <input type="text"
                   class="text"
                   ng-model="currencySymbol.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveCurrencySymbol()"
                   style="max-width: 70px;margin:5px;"/>
            <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
        </div>
        <div class="aui-message aui-message warning" ng-show="restrictedGroups">
            <strong>{{'Users list is restricted to Restricted Groups' | i18n}}</strong>&nbsp;{{restrictedGroups}}
        </div>
    </form>
</div>
<!-- Dialog footer -->
<footer class="aui-dialog2-footer">
    <!-- Actions to render on the right of the footer -->
    <div class="aui-dialog2-footer-actions">
        <button class="aui-button aui-button-link" ng-click="cancel()">{{'Close' | i18n}}</button>
    </div>
</footer>
