
<!-- Main dialog content -->
<div class="aui-dialog2-content">
    <!-- The dialog''s title -->
    <h3 class="font-bold pb-8 pt-6 display-flex border-b border-gray-200">
        {{'Hourly Rates' | i18n }}
    </h3>

    <div class="mt-6 bg-secondary-color-clarity-4 pt-5 pb-5 rounded-md">
        <i class="w-0 p-3 bg-24 bg-no-repeat bg-center mr-4 ml-4"
            style="background-image: url('../images/info-icon.png')">
        </i>
        <span class="font-bold-light" data-ng-bind-html="page != 'auditLog' ? 'All changes will be saved automatically' : 'Audit Log' | i18n | htmlSafe"></span>
    </div>
    
    <form class="aui" name="hourlyRatesForm">
        <div class="rowCenter">
            <label class="inline-block w-56 label-hourly-rate">{{'Currency' | i18n}}</label>
            <input type="text"
                   class="text"
                   ng-model="currencySymbol.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveCurrencySymbol()"
                   select-on-focus
                   style="max-width: 70px"/>
            <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
        </div>
        <div class="rowCenter">
            <div class="inline-block w-56"></div>            
            <input type="checkbox"
                   class="checkbox mr-3 mt-3 mb-3"
                   ng-model="hideRateColumn.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveHideRateColumn()"
                   select-on-focus
                   style="max-width: 70px;"/>
            <label class="label-hourly-rate font-normal">{{'Hide Rate Column' | i18n}}</label>
        </div>            
        <div class="rowCenter mb-3 user-hourly-rate">
            <div class="inline-block w-56 label-hourly-rate">{{'Add New Rate' | i18n}}</div>
            <input class="mr-1.5"
                   ng-value="paramGroupUserInfo"
                   aui-group-user-picker
                   style="max-width: 364px;"
                   ng-group-user-changed-func="hourlyRatesForm.hourlyRate.$valid && groupUserChange"
                   type="text"/>
        </div>
        <div class="rowCenter">
            <div class="inline-block w-56"></div>
            <input ng-model="startDate"
                   type="date"
                   aui-date-picker
                   class="field-group-hourly-rate mr-1.5 input-date"/>
            <select id="select2-project"
                    class="field-group-hourly-rate common w-52 mr-1.5"
                    title="{{'Project' | i18n}}"
                    ng-model="project"
                    ng-options="item.id as item.label for item in allProjects">
            </select>
            <input id="hourlyRate"
                   name="hourlyRate"
                   ng-model="hourlyRate"
                   type="number"
                   class="w-14 field-group-hourly-rate text-field"
                   title="{{'Hourly Rate' | i18n}}"
                   select-on-focus
                   enter-pressed="addHourlyRate(paramGroupUserInfo, startDate, project, hourlyRate)"/>

            <i class="w-0 p-3 bg-24 bg-no-repeat bg-center m-1"
               ng-click="addHourlyRate(paramGroupUserInfo, startDate, project, hourlyRate)"
               style="background-image: url('../images/icon-add-circle-purple.png')">
            </i>
        </div>

        <div class="border-t border-gray-200 pt-5 mt-5">
            <label class="inline-block w-56 label-hourly-rate">{{'Existing Rates' | i18n}}</label>
            <div ng-repeat="(accountId, rates) in hourlyRates">
                <div class="rowCenter mb-3 user-hourly-rate">
                    <div class="inline-block w-56"></div>
                    <input class="mr-1.5"
                           disabled
                           ng-value="users[accountId]"
                           aui-group-user-picker
                           style="max-width: 364px;"
                           ng-group-user-changed-func="hourlyRatesForm.hourlyRate.$valid && groupUserChange"
                           type="text"/>
                </div>
                <div class="rowCenter">
                    <div class="inline-block w-56"></div>
                    <input ng-model="startDateUsers[accountId]"
                           type="date"
                           aui-date-picker
                           class="field-group-hourly-rate mr-1.5 input-date"/>
                    <select class="field-group-hourly-rate common w-52 mr-1.5"
                            title="{{'Project' | i18n}}"                            
                            ng-model="projectUsers[accountId]"
                            ng-options="item.id as item.label for item in allProjects">
                    </select>
                    <input ng-model="hourlyRateUsers[accountId]"
                           type="number"
                           class="w-14 field-group-hourly-rate text-field"
                           title="{{'Hourly Rate' | i18n}}"
                           select-on-focus
                           enter-pressed="addHourlyRate(users[accountId] || accountId.substring(6), startDateUsers[accountId], projectUsers[accountId], hourlyRateUsers[accountId])"/>
                    <i class="w-0 p-3 bg-24 bg-no-repeat bg-center m-1"
                       ng-click="addHourlyRate(users[accountId] || accountId.substring(6), startDateUsers[accountId], projectUsers[accountId], hourlyRateUsers[accountId])"
                       style="background-image: url('../images/icon-add-circle-purple.png')">
                    </i>
                </div>
                <div ng-repeat="(startDate, projectRates) in rates" class="mb-4">
                    <div class="rowCenter" ng-repeat="(project, hourlyRate) in projectRates">
                        <div class="inline-block w-56"></div>
                        <input ng-model="startDate"
                               type="text"
                               disabled
                               class="field-group-hourly-rate mr-1.5 input-date mt-4"/>
                        <select class="field-group-hourly-rate common w-52 mr-1.5 mt-4"
                                title="{{'Project' | i18n}}"                            
                                ng-model="project"
                                disabled
                                ng-options="item.id as item.label for item in allProjects">
                        </select>

                        <input id="userHourlyRate{{accountId + startDate + project}}"
                               name="userHourlyRate{{accountId + startDate + project}}"
                               ng-model="hourlyRate"
                               ng-model-options='{ debounce: 1000 }'
                               ng-change="hourlyRatesForm['userHourlyRate{{accountId + startDate + project}}'].$valid
                                && addHourlyRate(users[accountId] || accountId.substring(6), startDate, project, hourlyRate)"
                               type="number"
                               class="w-14 field-group-hourly-rate text-field mt-4"
                               select-on-focus/>

                        <i class="w-0 p-3 bg-24 bg-no-repeat bg-center m-1 mt-5"
                           ng-click="removeHourlyRate(accountId, startDate, project)"
                           style="background-image: url('../images/icon-trash.png')">
                        </i>
                    </i>
                    </div>
                </div>
            </div>
        </div>

        <div class="aui-message aui-message warning" ng-show="restrictedGroups">
            <strong>{{'Users list is restricted to Restricted Groups' | i18n}}</strong>&nbsp;{{restrictedGroups}}
        </div>
    </form>
</div>
<!-- Dialog footer -->
<footer class="aui-dialog2-footer big">
    <!-- Actions to render on the right of the footer -->
    <div class="aui-dialog2-footer-actions">
        <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                ng-click="cancel()">
            {{'Close' | i18n}}
        </button>
    </div>
</footer>
