<!-- Dialog header -->
<header class="aui-dialog2-header">
    <!-- The dialog''s title -->
    <h1 class="aui-dialog2-header-main">
        {{'Hourly Rates' | i18n }}
    </h1>
    <!-- Close icon -->
    <a class="aui-dialog2-header-close" ng-click="cancel()">
        <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
    </a>
</header>
<!-- Main dialog content -->
<div class="aui-dialog2-content">
    <form class="aui" name="hourlyRatesForm">
        <div class="rowCenter">
            <input ng-value="paramUserInfo"
                   aui-user-picker
                   ng-user-changed-func="hourlyRatesForm.hourlyRate.$valid && userChange"
                   type="text"/>
            <input ng-model="startDate" type="date" aui-date-picker class="select" style="width: 200px;"/>
            <input id="hourlyRate"
                   name="hourlyRate"
                   ng-model="hourlyRate"
                   type="number"
                   min="0"
                   class="text"
                   style="max-width: 70px;margin:5px;"
                   enter-pressed="hourlyRate && addHourlyRate(paramUserInfo, startDate, hourlyRate)"/>
            <span class="fa fa-plus-square"
                  ng-class="{disabled: !hourlyRate}"
                  ng-click="hourlyRate && addHourlyRate(paramUserInfo, startDate, hourlyRate)">

            </span>
        </div>
        <div style="margin-top: 3px;">
            <div ng-repeat="(accountId, data) in hourlyRates">
                <div class="rowCenter">
                    <div style="width: 247px;margin-left: 3px;">{{users[accountId].displayName || ('Default Rate' | i18n)}}</div>
                    <input ng-model="startDateUsers[accountId]" type="date" aui-date-picker class="select" style="width: 200px;"/>
                    <input id="hourlyRateUsers[accountId]"
                           name="hourlyRateUsers[accountId]"
                           ng-model="hourlyRateUsers[accountId]"
                           type="number"
                           min="0"
                           class="text"
                           style="max-width: 70px;margin:5px;"
                           enter-pressed="hourlyRateUsers[accountId] && addHourlyRate(users[accountId], startDateUsers[accountId], hourlyRateUsers[accountId])"/>
                    <span class="fa fa-plus-square"
                          ng-class="{disabled: !hourlyRateUsers[accountId]}"
                          ng-click="hourlyRateUsers[accountId] && addHourlyRate(users[accountId], startDateUsers[accountId], hourlyRateUsers[accountId])">
                    </span>
                </div>
                <div class="rowCenter" ng-repeat="(startDate, hourlyRate) in data">
                    <div style="width: 247px;margin-left: 3px;"></div>
                    {{startDate || '1970-01-01'}}
                    <input id="userHourlyRate{{accountId + startDate}}"
                           name="userHourlyRate{{accountId + startDate}}"
                           ng-model="hourlyRate"
                           ng-model-options='{ debounce: 1000 }'
                           ng-change="hourlyRatesForm['userHourlyRate{{accountId + startDate}}'].$valid && addHourlyRate(users[accountId], startDate, hourlyRate)"
                           min="0"
                           type="number"
                           class="text"
                           style="max-width: 70px;margin: 5px;"/>
                    <i class="fa fa-trash" ng-click="removeHourlyRate(accountId, startDate)"></i>
                </div>
            </div>
        </div>
        <div class="rowCenter">
            <div style="display: inline-block;width: 247px;margin-left: 3px;">{{'Currency' | i18n}}</div>
            <input type="text"
                   class="text"
                   ng-model="currencySymbol.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveCurrencySymbol()"
                   style="max-width: 70px;margin:5px;"/>
            <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
        </div>
    </form>
</div>
<!-- Dialog footer -->
<footer class="aui-dialog2-footer">
    <!-- Actions to render on the right of the footer -->
    <div class="aui-dialog2-footer-actions">
        <button class="aui-button aui-button-link" ng-click="cancel()">{{'Close' | i18n}}</button>
    </div>
</footer>
