<div ng-controller="DeprecationDialogController">
  <div ng-if="showDeprecationDialog" class="deprecation-dialog fixed inset-0 bg-opacity-70">
    <div class="w-96 bg-white rounded-lg shadow-lg absolute deprecation-dialog-container">
      <div style="padding-left: 22px;" class="bg-red-600 rounded-t-lg h-12 flex items-center gap-2 deprecation-dialog-header">
        <i class="icon-image info"></i> {{ 'plugin.ttl.deprecation.message.title' | i18n}}
      </div>
      <div class="lite-deprecation-close" ng-click="acknowledgeDeprecationDialog()">
        X
      </div>
      <p class="p-6">
        {{'plugin.ttl.deprecation.message.description.1' | i18n}} <br><br>
        <a
          class="deprecation-dialog-link"
          target="_blank"
          href="https://marketplace.atlassian.com/apps/294/time-tracker-jira-time-reports-project-dashboard-tempo?hosting=cloud&tab=overview"
        >{{'plugin.ttl.deprecation.message.link' | i18n}}</a>
        {{'plugin.ttl.deprecation.message.description.2' | i18n}}
      </p>
      <div class="flex flex-col items-center gap-4 mt-4">
        <a class="aui-button deprecation-dialog-close-button"
        href="https://try.tempo.io/migrating-to-time-tracker/"
            >
          {{'plugin.ttl.deprecation.message.cta' | i18n}}
      </a>
      </div>
    </div>
  </div>
</div>
