<fieldset class="group">
    <legend>
        <span>{{'Remaining Estimate' | i18n}}</span>
    </legend>
    <div>
        <input type="text"
               class="text short-field"
               ng-model="worklog.estimateValue"
               id="adjust-estimate-new-value"
               timespent
               zeroable="true"
               placeholder="{{estimatePlaceholder}}"
               title="{{'eg. 4h 30m' | i18n}}">
        &nbsp;
        <a ng-click="worklog.estimateValue=timeestimatePretty">{{'Use current' | i18n}}&nbsp;{{timeestimatePretty}}</a>
    </div>
</fieldset>
