        <div class="field-group" ng-if="pivotTableType != 'IssueTime'">
            <label for="log-work-issue">
                Issue Key <span class="aui-icon icon-required"></span><span class="content">required</span>
            </label>
            <input type="text" class="text long-field" id="log-work-issue" name="log-work-issue" ng-model="worklog.issueKey" log-work-permission aui-issue-picker ng-disabled="dialogType != 'add'" required>
        </div>
            <legend>
                <span>Time entry</span>
            </legend>
            <div class="field-group">
                <label for="log-work-time-logged">
                    Time Spent<span class="aui-icon icon-required"> required</span>
                </label>
                <input type="text" id="log-work-time-logged" name="timeSpent" class="text short-field" ng-model="worklog.timeSpent" autofocus required timespent/>
                <span id="log-work-time-example" class="aui-form example">(eg. 4h 30m{{dialogType == 'add' ? ', or 1d 2h for two entries of 8h and 2h per day' : ''}})</span>
                <div ng-if="showMore" class="description">An estimate of how much time you have spent working.</div>
            </div>
            <div ng-if="showMore" class="field-group test-datepicker">
                <label for="log-work-date-logged">Date Started<span class="aui-icon icon-required"> required</span></label>
                <input type="date" id="log-work-date-logged" class="text medium-field" style="max-width: 100px; margin-right: 10px;"
                       ng-model="worklogDatetime.date" aui-date-picker>
                <time-picker time="worklogDatetime.time"></time-picker>
            </div>

            <ng-include ng-if="showMore" src="'/templates/dialogs/remainingEstimate.html'" ng-init="reduceBy = ['add', 'create'].indexOf(dialogType) >= 0"></ng-include>

            <div class="field-group">
                <label for="comment">Work Description<span class="aui-icon icon-required" ng-if="workDescriptionRequired"> required</span></label>
                <div class="wiki-edit">
                    <div class="wiki-edit-content" id="comment-wiki-edit">
                        <textarea rows="5" id="comment" cols="60" class="textarea long-field" ng-model="worklog.comment" work-labels="workLabelsList" ng-required="workDescriptionRequired"></textarea>
                        <div class="content-inner"></div>
                    </div>
                </div>
                <div ng-if="showMore" class="security-level">
                    <button class="aui-button aui-button-link security-level-drop-icon aui-icon aui-icon-small aui-dropdown2-trigger aui-style-default" aria-owns="security-level" aria-haspopup="true" ng-class="{'aui-iconfont-unlocked': !worklog.visibilityRole, 'aui-iconfont-locked': worklog.visibilityRole}">Worklog Visibility</button>
                    <span class="current-level" ng-if="worklog.visibilityGroup || worklog.visibilityRole">Restricted to <span class="red">{{worklog.visibilityGroup || worklog.visibilityRole}}</span></span>
                    <span class="current-level" ng-if="!(worklog.visibilityGroup || worklog.visibilityRole)">Viewable by All Users</span>
                    <div id="security-level" class="aui-style-default aui-dropdown2">
                        <ul class="aui-list-truncate">
                            <li><a ng-click="worklog.visibilityGroup = null; worklog.visibilityRole = null" class="aui-button-primary">All Users</a></li>
                        </ul>
                        <div class="aui-dropdown2-section">
                            <div class="aui-dropdown2-heading">
                                Groups
                            </div>
                            <ul class="aui-list-truncate">
                                <li ng-repeat="group in groups.items"><a ng-click="worklog.visibilityGroup = group.name" ng-bind="group.name" class="aui-button-primary"></a></li>
                            </ul>
                        </div>
                        <div class="aui-dropdown2-section">
                            <div class="aui-dropdown2-heading">
                                Project Roles
                            </div>
                            <ul class="aui-list-truncate">
                                <li ng-repeat="(role, uri) in roles"><a ng-click="worklog.visibilityRole = role" ng-bind="role" class="aui-button-primary"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <resize ng-if="!showMore"/>
            </div>
