<div
  class="banner-home"
  id="banner-deprecation-warning"
  style="margin: 0px; width: 100vw;"
  ng-style="{'font-size': isGadget ? '12px' : '14px'}"
  ng-if="showBanner"
>
  <i class="icon-image info"></i>
  <span
    class="text"
  >
    {{'plugin.ttl.deprecation.banner.message.description.1' | i18n}}
    <a
      target="_blank"
      href="https://marketplace.atlassian.com/apps/294/time-tracker-jira-time-reports-project-dashboard-tempo?hosting=cloud&tab=overview"
      style="color: white; text-decoration: underline;"
    >Time Tracker</a>
    {{'plugin.ttl.deprecation.banner.message.description.2' | i18n}}
    <a
      target="_blank"
      href="https://try.tempo.io/migrating-to-time-tracker/"
      style="color: white; text-decoration: underline;"
    >{{'plugin.ttl.deprecation.banner.message.description.3' | i18n}}</a>
    </span>
    <span
      style="cursor: pointer;"
      ng-click="hideNameChangeBannerUI()"
    >
      <i class="close-icon"></i>
  </span>
</div>

<div
  class="banner-home blue"
  id="banner-deprecation-warning"
  style="margin: 0px; width: 100vw;"
  ng-style="{'font-size': isGadget ? '12px' : '14px'}"
  ng-if="showForgeBanner"
>
  <i class="icon-image info"></i>
  <span
    class="text"
  >
    {{'forge.popup.message' | i18n}}
    <a
      target="_blank"
      href="https://help.tempo.io/timetracker/latest/changes-to-expect-in-time-tracker-on-forge"
      style="color: white; text-decoration: underline;"
    >{{'forge.popup.message.here' | i18n}}</a>    
  </span>
  <span
      style="cursor: pointer;"
      ng-click="hideNameChangeBannerUI()"
    >
      <i class="close-icon"></i>
  </span>
</div>