<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <aui-inline-dialog id="problem-description-popup" template="'/templates/popups/problemDescription.html'" popup-data="problemDescriptionPopup" container="'#downloadSupportData'"></aui-inline-dialog>
    <aui-inline-dialog id="user-hover" template="'/templates/popups/userHover.html'" popup-data="userHoverPopup" container="'.userHoverPopup'" on-hover="true"></aui-inline-dialog>
    <aui-inline-dialog
            id="edit-worklog"
            thin-box="true"
            template="templates.editWorklog"
            popup-data="editWorklogPopup"
            container="'.editWorklogPopup'"
            work-description-required="workDescriptionRequired"
            jira-config="jiraConfig">
    </aui-inline-dialog>

    <div class="pagingtable w-100 overflow-x-auto">

        <restriction-error></restriction-error>

        <table id="issuetable" class="calendarTable" cellspacing="0" cellpadding="3" border="0" width="100%" ng-show="restrictionError == null" ng-class="{ 'pt-3' : isGadget }">
            <thead>
                <tr class="rowHeader" ng-if="loaded && pivotTable && (pivotTable.num > 0 || (pivotTable._sortedRows && pivotTable._sortedRows.length > 0))">
                    <th class="colHeaderLink w-12-p">
                        <span><pivottable-slider class="calendar"/></span>
                    </th>
                    <th class="colHeaderLink uppercase text-center w-9-p"
                        ng-class="{
                                    nonBusinessDay: column.columnKey.isWeekend,
                                    'border-l-clear': $index == 0
                                }"
                        ng-repeat="column in pivotTable._sortedColumns"
                        column-key="column.columnKey.order = $index; column.columnKey">
                    </th>
                    <th class="border-l-clear stickyCell bg-white">
                        <table class="w-full">
                            <tr>
                                <td class="text-center">
                                    <span class="font-semibold text-text-color-1">
                                        {{'Total' | i18n}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="row in pivotTable._sortedRows | limitTo:issuesCount.maxResults:issuesCount.startAt"
                    ng-class-odd="'rowAlternate'"
                    ng-class-even="'rowNormal'">
                    <td class="nav first align-baseline" width="8%" nowrap>
                        <span ng-class="{'mr-11-p float-right' : !isGadget }" class="print:ml-0">
                            {{'Week' | i18n}}&nbsp;{{row.rowKey.field.weekNumber}}
                        </span>
                    </td>
                    <td
                        style="cursor:default"
                        ng-init="currentDay=moment(row.rowKey.field.startDate).add(column.columnKey.keyValue,'days')"
                        ng-click="editWorklogPopup.init(column.columnKey, row.rowKey, row.data);"
                        class="nav border"
                        ng-class="{toDay: column.columnKey.isToday,
                                   todayBorder: column.columnKey.isToday,
                                   nonBusinessDay: column.columnKey.isWeekend,
                                   editWorklogPopup: column.sum != 0}"
                        ng-repeat="column in row.columns">
                        <div ng-class="{invisible: currentDay.toDate() > endDate.value || currentDay.toDate() < startDate.value}">
                            <p class="text-right text-text-color-3">
                                {{currentDay.format('DD')}}
                            </p>
                            <p ng-if="column.sum" style="cursor:pointer" class="text-right">
                                {{column.sum | prettyHours:jiraConfig}}
                            </p>
                            <p ng-if="!column.sum"
                               style="cursor:default"
                               ng-init="p_show=false"
                               ng-mouseover="p_show=currentDay >= allowToLogFromDate && (canLogWork || canLogWorkForUser)"
                               ng-mouseleave="p_show=false"
                               ng-click="(currentDay >= allowToLogFromDate && (canLogWork || canLogWorkForUser)) && addWorklogDialog(null, null, currentDay)"
                               ng-class="{addWorklogPopup: currentDay >= allowToLogFromDate && (canLogWork || canLogWorkForUser)}">
                                <span ng-click="" ng-show="p_show" class="fa fa-plus"
                                      title="Log Work against this day"></span>&nbsp;
                            </p>
                        </div>
                    </td>
                    <td class="nav first border total text-center stickyCell" width="8%"
                        ng-class-odd="'rowAlternate'" ng-class-even="'bg-white'">
                        {{row.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
                <!-- total block -->
                <tr class="rowFooter bg-secondary-color-clarity-4 font-semibold" ng-hide="loading || !loaded || !pivotTable">
                    <td class="nav total">
                        <span ng-class="{ 'mr-15-p float-right': !isGadget }">
                            {{'Total' | i18n}}
                        </span>
                    </td>
                    <td class="nav border total text-right" ng-repeat="column in pivotTable._sortedColumns">
                        <pivot-cell key="column.columnKey" columns="pivotTable.totals" jira-config="jiraConfig"/>
                    </td>
                    <td class="nav border total text-center stickyCell bg-secondary-color-clarity-4">
                        {{pivotTable.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td colspan="1">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination></pagination>

    <button-add-worklog class="mt-5 ml-4"></button-add-worklog>

    <data-limit-auditors-roles></data-limit-auditors-roles>

    <data-limit-restricted-groups></data-limit-restricted-groups>
    
    <empty-values></empty-values>
</div>
