<div class="aui margin">
    <div style="margin-top: 24px">
        <h4>{{appNameShort + ' Configuration' | i18n }}</h4>
    </div>
    <ul>
        <li ng-repeat="pageKey in pageKeys">
            <div class="ak-field-group">
              <a ng-click="activePage(pageKey)" ng-class="{disabled: pageKey==page}" >{{ pages[pageKey] | i18n }}</a>
            </div>
        </li>
    </ul>
    <br>
    <a ng-click="!loading && refresh()" ng-disabled="loading" ng-class="{disabled: loading}" title="{{'Refresh' | i18n}}">
        <i class="fa fa-sync" ng-title="'Refresh' | i18n"></i>
    </a>
    <br>
    <br>
    {{'Go to' | i18n}} <a href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports" target="_parent">{{appNameShort | i18n}}</a>
</div>
