<div class="ml-6 bg-secondary-color-clarity-4 pt-5 pb-5 rounded-md">
    <i class="w-0 p-3 bg-24 bg-no-repeat bg-center mr-4 ml-4"
        style="background-image: url('../images/info-icon.png')">
    </i>
    <span class="font-bold-light" data-ng-bind-html="page != 'auditLog' ? 'All changes will be saved automatically' : 'Audit Log' | i18n | htmlSafe"></span>
</div>

<form class="aui" style="width: 750px" name="configForm">
    <aui-inline-dialog
            id="holiday-popup"
            template="'/templates/popups/holiday.html'"
            popup-data="holidayPopup"
            init-fn="initHolidayPopupDialog(params)"
            container="'.holidayPopup'">
    </aui-inline-dialog>
    <div ng-show="page=='access'">
        <div class="field-group">
            <label for="select2-auditorGroups">{{'Auditors Groups' | i18n}}</label>
            <input id="select2-auditorGroups" ng-model="auditorsGroups.val" aui-group-picker ng-group-changed-func="saveAuditorsGroups" type="text" title="{{'Auditors Groups' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="auditorsGroupsSaveSuccess">
                <strong>{{'Auditors Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Auditors Groups' | i18n}}</span>
        </div>
        <div class="field-group" ng-if="auditorsRoles">
            <label for="auditorsRoles">{{'Auditors Roles' | i18n}}</label>
            <input id="auditorsRoles"
                   aui-multi-select-picker
                   type="text"
                   ng-model="auditorsRoles.val"
                   ng-options-data="projectsRoles"
                   ng-value-changed-func="saveAuditorsRoles">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="auditorsRolesSaveSuccess">
                <strong>{{'Auditors Roles' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group" ng-if="auditorsRoles">
            <span class="description" data-ng-bind-html="'description.Auditors Roles' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="select2-accountantsGroups">{{'Accountants Groups' | i18n}}</label>
            <input id="select2-accountantsGroups" ng-model="accountantsGroups.val" aui-group-picker ng-group-changed-func="saveAccountantsGroups" type="text" title="{{'Accountants Groups' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="accountantsGroupsSaveSuccess">
                <strong>{{'Accountants Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Accountants Groups' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="select2-restrictedGroups">{{'Restricted Groups' | i18n}}</label>
            <input id="select2-restrictedGroups" ng-model="restrictedGroups.val" aui-group-picker ng-group-changed-func="saveRestrictedGroups" type="text" title="{{'Restricted Groups' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="restrictedGroupsSaveSuccess">
                <strong>{{'Restricted Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Restricted Groups' | i18n}}</span>
        </div>
        <div class="field-group" ng-if="isTimesheet">
            <label for="select2-logWorkForOthersGroups">{{'Log Work For Others Groups' | i18n}}</label>
            <input id="select2-logWorkForOthersGroups" ng-model="logWorkForOthersGroups.val" aui-group-picker ng-group-changed-func="saveLogWorkForOthersGroups" type="text" title="{{'Log Work For Others Groups' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="logWorkForOthersGroupsSaveSuccess">
                <strong>{{'Log Work For Others Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group" ng-if="isTimesheet">
            <span class="description">{{'description.Log Work For Others Groups' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="timeentryPanelGroups">{{'User Groups With Time Entry Panel' | i18n}}</label>
            <input id="timeentryPanelGroups"
                   aui-group-picker
                   class="text"
                   title="{{'User Groups' | i18n}}"
                   ng-model="timeentryPanelGroups.val"
                   ng-group-changed-func="saveTimeentryPanelGroups">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="timeentryPanelGroupsSaveSuccess">
                <strong>{{'User Groups With Time Entry Panel' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.User Groups With Time Entry Panel' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="timeentryPanelProjects">{{'Projects With Time Entry Panel' | i18n}}</label>
            <input id="timeentryPanelProjects"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Projects' | i18n}}"
                   ng-model="timeentryPanelProjects.val"
                   ng-options-data="timeentryPanelProjectsData"
                   ng-value-changed-func="saveTimeentryPanelProjects">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="timeentryPanelProjectsSaveSuccess">
                <strong>{{'Projects With Time Entry Panel' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Projects With Time Entry Panel' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="worklogVisibilityGroup">{{'Worklog Visibility Group' | i18n}}</label>
            <input id="worklogVisibilityGroup"
                   aui-group-picker
                   type="text"
                   ng-model="worklogVisibilityGroup.val"
                   ng-group-changed-func="saveWorklogVisibilityGroup">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="worklogVisibilityGroupSaveSuccess">
                <strong>{{'Worklog Visibility Group' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Worklog Visibility Group' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="worklogVisibilityRole">{{'Worklog Visibility Role' | i18n}}</label>
            <input id="worklogVisibilityRole"
                   aui-multi-select-picker
                   type="text"
                   ng-model="worklogVisibilityRole.val"
                   ng-options-data="projectsRoles"
                   ng-value-changed-func="saveWorklogVisibilityRole">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="worklogVisibilityRoleSaveSuccess">
                <strong>{{'Worklog Visibility Role' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Worklog Visibility Role' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="pivotTableTypes">{{'Reports' | i18n}}</label>
            <input id="pivotTableTypes"
                   aui-multi-select-picker
                   type="text"
                   ng-model="pivotTableTypes.val"
                   ng-options-data="allPivotTableTypes"
                   ng-value-changed-func="savePivotTableTypes">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="pivotTableTypesSaveSuccess">
                <strong>{{'Reports' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Reports' | i18n}}</span>
        </div>
    </div>
    <div ng-show="page=='hierarchy'">
        <div class="field-group">
            <label for="select2-compositionIssueLink">{{'Composition Issue Link' | i18n}}</label>
            <select id="select2-compositionIssueLink"
                    class="common"
                    title="{{'Composition Issue Link' | i18n}}"
                    ng-model="compositionIssueLink.val"
                    ng-change="saveCompositionIssueLink()"
                    ng-options="item.id as item.label for item in allCompositionIssueLinks">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="compositionIssueLinkSaveSuccess">
                <strong>{{'Composition Issue Link' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Composition Issue Link' | i18n}}</span>
        </div>
        <!--div class="field-group" ng-show="parentIssueFields">
            <label for="select2-parentIssueField">{{'Parent Issue Field' | i18n}}</label>
            <select id="select2-parentIssueField"
                    class="common"
                    title="{{'Parent Issue Field' | i18n}}"
                    ng-model="parentIssueField.val"
                    ng-change="saveParentIssueField()"
                    ng-options="item.id as item.name for item in parentIssueFields">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="parentIssueFieldSaveSuccess">
                <strong>{{'Parent Issue Field' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div-->
        <div class="field-group" ng-show="parentIssueFields">
            <span class="description">{{'description.Parent Issue Field' | i18n}}</span>
        </div>
        <div class="field-group" ng-show="parentIssueTypes">
            <label for="select2-parentIssueType">{{'Parent Issue Type' | i18n}}</label>
            <input id="select2-parentIssueType"
                    aui-multi-select-picker
                    title="{{'Parent Issue Type' | i18n}}"
                    ng-model="parentIssueType.val"
                    ng-value-changed-func="saveParentIssueType"
                    ng-options-data="parentIssueTypesData">
            </input>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="parentIssueTypeSaveSuccess">
                <strong>{{'Parent Issue Type' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group" ng-show="parentIssueTypes">
            <span class="description">{{'description.Parent Issue Type' | i18n}}</span>
        </div>
    </div>
    <div ng-show="page=='general'">
        <div class="field-group">
            <label for="disableLogWork">{{'Disable Log Work' | i18n}}</label>
            <input id="disableLogWork"
                 type="checkbox"
                 class="apple-switch m-0.5"
                 ng-model="disableLogWork.val"
                 ng-change="saveDisableLogWork()">
            <div class="aui-message aui-message-success msg-overlay"
                  ng-show="disableLogWorkSaveSuccess">
                <strong>{{'Disable Log Work' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Disable Log Work Entirely' | i18n}}</span>
        </div>
        <div class="field-group">
            <table>
                <tr>
                  <td><span class="ml-1-important">{{'for Projects' | i18n}}</span></td>
                  <td>
                    <input class="short-select2"
                           aui-multi-select-picker
                           title="{{'Projects' | i18n}}"
                           ng-model="disableLogWorkProjects.val"
                           ng-options-data="disableLogWorkProjectsData"
                           ng-value-changed-func="saveDisableLogWorkProjects">
                    <div class="aui-message aui-message-success msg-overlay"
                         ng-show="disableLogWorkProjectsSaveSuccess">
                        <strong>{{'Disable Log Work for Projects' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
                    </div>
                  </td>
                  <td><span class="m-0-important">{{'for Groups' | i18n}}</span></td>
                  <td>
                    <input class="short-select2"
                           aui-group-picker
                           title="{{'Groups' | i18n}}"
                           ng-model="disableLogWorkGroups.val"
                           ng-change="saveDisableLogWorkGroups()">
                    <div class="aui-message aui-message-success msg-overlay"
                         ng-show="disableLogWorkGroupsSaveSuccess">
                        <strong>{{'Disable Log Work for Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
                    </div>
                  </td>
                </tr>
            </table>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Disable Log Work' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="restrictWorkPerDay">{{'Restrict Working Hours Per Day' | i18n}}</label>
            <input id="restrictWorkPerDay"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="restrictWorkPerDay.val"
                   ng-change="saveRestrictWorkPerDay()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="restrictWorkPerDaySaveSuccess">
                <strong>{{'Restrict Working Hours Per Day' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Restrict Working Hours Per Day' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="select2-logWorkRetrospectively">{{'Log Work Retrospectively' | i18n}}</label>
            <select id="select2-logWorkRetrospectively"
                    class="common"
                    title="{{'Log Work Retrospectively' | i18n}}"
                    ng-model="logWorkRetrospectively.val"
                    ng-change="saveLogWorkRetrospectively()"
                    ng-options="item.id as item.label for item in allLogWorkRetrospectivelyTypes">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="logWorkRetrospectivelySaveSuccess">
                <strong>{{'Log Work Retrospectively' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Log Work Retrospectively' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="workDescriptionRequired">{{'Work Description Required' | i18n}}</label>
            <input id="workDescriptionRequired"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="workDescriptionRequired.val"
                   ng-change="saveWorkDescriptionRequired()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="workDescriptionRequiredSaveSuccess">
                <strong>{{'Work Description Required' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Work Description Required' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="preserveStartedTimeSaveSuccess">{{'Preserve Started Time' | i18n}}</label>
            <input id="preserveStartedTimeSaveSuccess"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="preserveStartedTime.val"
                   ng-change="savePreserveStartedTime()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="preserveStartedTimeSaveSuccess">
                <strong>{{'Preserve Started Time' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" data-ng-bind-html="'description.Preserve Started Time' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="workLabels">{{'Work Labels' | i18n}}</label>
            <div class="input-tag">
                <div class="select2-container select2-container-multi aui-select2-container">
                    <ul class="select2-choices">
                        <li class="select2-search-choice" ng-repeat="label in workLabels.val">
                            <div>{{label}}</div>
                            <a ng-click="removeWorkLabel($index)" class="select2-search-choice-close" tabindex="-1"></a>
                        </li>
                        <li class="select2-search-field">
                            <input class="select2-input" id="workLabels" ng-init="newWorkLabel=''" ng-model="newWorkLabel" title="{{'New Work Label' | i18n}}" enter-pressed="addWorkLabel(newWorkLabel);newWorkLabel='';" style="background-color: white !important;"/>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="workLabelsSaveSuccess">
                <strong>{{'Work Labels' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
            <div class="aui-message aui-message-error msg-overlay"
                 ng-show="workLabelsSaveError">
                {{'error.workLabel.emptyUnique' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Work Labels' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="workUnderLimitColor">{{'Under Limit Color' | i18n}}</label>
            <input id="workUnderLimitColor"
                   name="workUnderLimitColor"
                   type="text"
                   color-picker
                   ng-model="workUnderLimitColor.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveWorkUnderLimitColor()"
                   class="text-field single align-top w-24"
                   title="{{'Under Limit Color' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="workUnderLimitColorSaveSuccess">
                <strong>{{'Under Limit Color' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Under Limit Color' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="workOverLimitColor">{{'Over Limit Color' | i18n}}</label>
            <input id="workOverLimitColor"
                   name="workOverLimitColor"
                   type="text"
                   color-picker
                   ng-model="workOverLimitColor.val"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="saveWorkOverLimitColor()"
                   class="text-field single align-top w-24"
                   title="{{'Over Limit Color' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="workOverLimitColorSaveSuccess">
                <strong>{{'Over Limit Color' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Over Limit Color' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="limitPrecision">{{'Limit Precision' | i18n}}</label>
            <input id="limitPrecision"
                   name="limitPrecision"
                   ng-model="limitPrecision.val"
                   min="0"
                   ng-change="configForm.limitPrecision.$valid && saveLimitPrecision()"
                   type="number"
                   class="text-field single align-top w-36"
                   ng-model-options='{ debounce: 1000 }'
                   title="{{'Limit Precision' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="limitPrecisionSaveSuccess">
                <strong>{{'Limit Precision' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Limit Precision' | i18n}}</span>
        </div>
        <div class="field-group" ng-show="cacheWorklog">
            <label for="cacheWorklog">{{'Cache Worklog' | i18n}}</label>
            <input id="cacheWorklog"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="cacheWorklog.val"
                   ng-change="saveCacheWorklog()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="cacheWorklogSaveSuccess">
                <strong>{{'Cache Worklog' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group"  ng-show="cacheWorklog">
            <span class="description">
                {{'description.Cache Worklog' | i18n}}
            </span>
        </div>
        <div class="field-group" ng-if="isTimesheet">
            <label for="getApiKey">{{'REST' | i18n}}</label>
            <button
                type="button"
                class="btn btn-default py-2 px-4 bg-text-divider-color-4 rounded	text-text-color-3"
                id="getApiKey"
                ng-click="getApiKey()"
                ng-class="{disabled: !isTimesheet}">
                    {{'Get Key' | i18n}}
            </button>
        </div>
        <div class="field-group" ng-if="isTimesheet">
            <span class="description" data-ng-bind-html="'description.REST' | i18n | htmlSafe"></span>
        </div>
    </div>
    <div ng-show="page=='defaults'">
        <div class="field-group">
            <label for="select2-reportingDay">{{'Reporting Day' | i18n}}</label>
            <select id="select2-reportingDay"
                    class="common"
                    title="{{'Reporting Day' | i18n}}"
                    ng-model="reportingDay.val"
                    ng-change="saveReportingDay()"
                    ng-options="item.id as item.label for item in reportingDayOptions.options">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="reportingDaySaveSuccess">
                <strong>{{'Reporting Day' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Reporting Day' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="select2-weekendType">{{'Weekend Type' | i18n}}</label>
            <select id="select2-weekendType"
                    class="common"
                    title="{{'Weekend Type' | i18n}}"
                    ng-model="weekendType.val"
                    ng-change="saveWeekendType()"
                    ng-options="item.id as item.label for item in allWeekendTypes">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="weekendTypeSaveSuccess">
                <strong>{{'Weekend Type' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Weekend Type' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="useIsoWeek">{{'Use ISO Week' | i18n}}</label>
            <input id="useIsoWeek"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="useIsoWeek.val"
                   ng-change="saveUseIsoWeek()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="useIsoWeekSaveSuccess">
                <strong>{{'Use ISO Week' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Use ISO Week' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="workingDayStart">{{'Working Time In Status' | i18n}}</label>
            <span class="m-0-important">{{'From' | i18n}}&nbsp;</span>
            <input id="workingDayStart" ng-model="workingTimeInStatus.val.from" min="0" max="24" ng-change="saveWorkingTimeInStatus()"
                   type="number" class="text-field single" title="{{'Working Day Start' | i18n}}" style="width: 50px;" ng-model-options='{ debounce: 1000 }'/>
            <span class="m-0-important">&nbsp;{{'To' | i18n}}&nbsp;</span>
            <input id="workingDayEnd" ng-model="workingTimeInStatus.val.to" min="0" max="24" ng-change="saveWorkingTimeInStatus()"
                   type="number" class="text-field single" style="width: 50px;" ng-model-options='{ debounce: 1000 }'/>
            <span class="m-0-important">&nbsp;{{'Break Time' | i18n}}</span>
            <span class="m-0-important">{{'From' | i18n}}&nbsp;</span>
            <input id="workingDayBreakStart" ng-model="workingTimeInStatus.val.breakFrom" min="0" max="24" ng-change="saveWorkingTimeInStatus()"
                   type="number" class="text-field single" style="width: 50px;" ng-model-options='{ debounce: 1000 }'/>
            <span class="m-0-important">&nbsp;{{'To' | i18n}}&nbsp;</span>
            <input id="workingDayBreakEnd" ng-model="workingTimeInStatus.val.breakTo" min="0" max="24" ng-change="saveWorkingTimeInStatus()"
                   type="number" class="text-field single" title="{{'Working Day End' | i18n}}" style="width: 50px;" ng-model-options='{ debounce: 1000 }'/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="workingTimeInStatusSaveSuccess">
                <strong>{{'Working Time In Status' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Working Time In Status' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="select2-durationType">{{'Duration Type' | i18n}}</label>
            <select id="select2-durationType"
                    class="common"
                    title="{{'Duration Type' | i18n}}"
                    ng-model="durationType.val"
                    ng-change="saveDurationType()"
                    ng-options="item.id as item.label for item in allDurationTypes">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="durationTypeSaveSuccess">
                <strong>{{'Duration Type' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Duration Type' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="maxFractionDigits">{{'Maximum Fraction Digits' | i18n}}</label>
            <input id="maxFractionDigits"
                   name="maxFractionDigits"
                   ng-model="maxFractionDigits.val"
                   min="0" max="20"
                   ng-change="configForm.maxFractionDigits.$valid && saveMaxFractionDigits()"
                   type="number" class="text-field common"
                   ng-model-options='{ debounce: 1000 }'
                   title="{{'Maximum Fraction Digits' | i18n}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="maxFractionDigitsSaveSuccess">
                <strong>{{'Maximum Fraction Digits' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Maximum Fraction Digits' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="timeTrackingColumns">{{'Time Tracking Columns' | i18n}}</label>
            <input id="timeTrackingColumns"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Time Tracking Columns' | i18n}}"
                   ng-model="timeTrackingColumns.val"
                   ng-options-data="timeTrackingColumnsData"
                   ng-value-changed-func="saveTimeTrackingColumns">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="timeTrackingColumnsSaveSuccess">
                <strong>{{'Time Tracking Columns' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" data-ng-bind-html="'description.Time Tracking Columns' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="timeBalanceColumns">{{'Time Balance Columns' | i18n}}</label>
            <input id="timeBalanceColumns"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Time Balance Columns' | i18n}}"
                   ng-model="timeBalanceColumns.val"
                   ng-options-data="timeBalanceColumnsData"
                   ng-value-changed-func="saveTimeBalanceColumns">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="timeBalanceColumnsSaveSuccess">
                <strong>{{'Time Balance Columns' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" data-ng-bind-html="'description.Time Balance Columns' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="timeInStatusCategories">{{'Time In Status Categories' | i18n}}</label>
            <input id="timeInStatusCategories"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Time In Status Categories' | i18n}}"
                   ng-model="timeInStatusCategories.val"
                   ng-options-data="timeInStatusCategoriesData"
                   ng-value-changed-func="saveTimeInStatusCategories">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="timeInStatusCategoriesSaveSuccess">
                <strong>{{'Time In Status Categories' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" data-ng-bind-html="'description.Time In Status Categories' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="exportColumns">{{'Columns For Export' | i18n}}</label>
            <input id="exportColumns"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Columns For Export' | i18n}}"
                   ng-model="exportColumns.val"
                   ng-options-data="exportColumnsData"
                   ng-value-changed-func="saveExportColumns">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="exportColumnsSaveSuccess">
                <strong>{{'Columns For Export' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" data-ng-bind-html="'description.Columns For Export' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="select2-durationTypeForExport">{{'Duration Type For Export' | i18n}}</label>
            <select id="select2-durationTypeForExport"
                    class="common"
                    title="{{'Duration Type For Export' | i18n}}"
                    ng-model="durationTypeForExport.val"
                    ng-change="saveDurationTypeForExport()"
                    ng-options="item.id as item.label for item in allDurationTypesForExport">
            </select>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="durationTypeForExportSaveSuccess">
                <strong>{{'Duration Type For Export' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Duration Type For Export' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="dateFields">{{'Date Fields' | i18n}}</label>
            <input id="dateFields"
                   aui-multi-select-picker
                   class="text"
                   title="{{'Date Fields' | i18n}}"
                   ng-model="dateFields.val"
                   ng-options-data="dateFieldsData"
                   ng-value-changed-func="saveDateFields">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="dateFieldsSaveSuccess">
                <strong>{{'Date Fields' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description" ng-bind-html="'description.Date Fields' | i18n | htmlSafe"></span>
        </div>
        <div class="field-group">
            <label for="startedTimeInStatus">{{'Started Time In Status' | i18n}}</label>
            <input id="startedTimeInStatus"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="startedTimeInStatus.val"
                   ng-change="saveStartedTimeInStatus()">
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="startedTimeInStatusSaveSuccess">
                <strong>{{'Started Time In Status' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Started Time In Status' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="inProgressIssuesJql">{{'In Progress Issues jql' | i18n}}</label>
            <table>
                <tr>
                    <td width="50%">
                        <input name="inProgressIssuesJql"
                               id="inProgressIssuesJql"
                               type="text"
                               class="text-field single w-72"
                               ng-model="inProgressIssuesJql.val"
                               jql
                               ng-model-options='{ debounce: 1000 }'
                               ng-change="configForm.inProgressIssuesJql.$valid && saveInProgressIssuesJql()">
                        <div class="aui-message aui-message-success msg-overlay"
                             ng-show="inProgressIssuesJqlSaveSuccess">
                            <strong>{{'In Progress Issues jql' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
                        </div>
                    </td>
                    <td>
                        <input id="inProgressIssuesJqlLogOnly"
                               type="checkbox"
                               class="apple-switch"
                               ng-model="inProgressIssuesJqlLogOnly.val"
                               ng-change="saveInProgressIssuesJqlLogOnly()">
                        <div class="aui-message aui-message-success msg-overlay"
                             ng-show="inProgressIssuesJqlLogOnlySaveSuccess">
                            <strong>{{'Do not allow to Log Work on other issues' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
                        </div>
                    </td>
                    <td>
                        <span class="m-0-important">{{'Do not allow to Log Work on other issues' | i18n}}</span>
                    </td>
                </tr>
            </table>
            <div ng-show="configForm.inProgressIssuesJql.$error.jql" role="alert" class="red">
                {{configForm.inProgressIssuesJql.$error.jqlError}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.In Progress Issues jql' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="showDetailsCount">{{'Show Details Number' | i18n}}</label>
            <input id="showDetailsCount"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="showDetailsCount.val"
                   ng-change="saveShowDetailsCount()">
            <div class="aui-message aui-message-success msg-overlay" ng-show="showDetailsCountSaveSuccess">
                <strong>{{'Show Details Number' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Show Details Number' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="showCategoryRow">{{'Show Category Row' | i18n}}</label>
            <input id="showCategoryRow"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="showCategoryRow.val"
                   ng-change="saveShowCategoryRow()">
            <div class="aui-message aui-message-success msg-overlay" ng-show="showCategoryRowSaveSuccess">
                <strong>{{'Show Category Row' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Show Category Row' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="showTotalInFront">{{'Show Total In Front' | i18n}}</label>
            <input id="showTotalInFront"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="showTotalInFront.val"
                   ng-change="saveShowTotalInFront()">
            <div class="aui-message aui-message-success msg-overlay" ng-show="showTotalInFrontSaveSuccess">
                <strong>{{'Show Total In Front' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Show Total In Front' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="newTimeEntry">{{'New Time Entry' | i18n}}</label>
            <input id="newTimeEntry"
                   type="checkbox"
                   class="apple-switch"
                   ng-model="newTimeEntry.val"
                   ng-change="saveNewTimeEntry()">
            <div class="aui-message aui-message-success msg-overlay" ng-show="newTimeEntrySaveSuccess">
                <strong>{{'New Time Entry' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.New Time Entry' | i18n}}</span>
        </div>
        <div class="field-group">
            <label for="rowsPerPage">{{'Rows per Page' | i18n}}</label>
            <input id="rowsPerPage"
                   name="rowsPerPage"
                   ng-model="rowsPerPage.val"
                   min="0"
                   ng-change="configForm.rowsPerPage.$valid && saveRowsPerPage()"
                   type="number" class="text-field common"
                   ng-model-options='{ debounce: 1000 }'
                   title="{{'Rows per Page' | i18n}}"
                   placeholder="{{defaults.rowsPerPage.default}}"/>
            <div class="aui-message aui-message-success msg-overlay"
                 ng-show="rowsPerPageSaveSuccess">
                <strong>{{'Rows per Page' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
            </div>
        </div>
        <div class="field-group">
            <span class="description">{{'description.Rows per Page' | i18n}}</span>
        </div>
    </div>
    <div ng-show="page=='holidays'">
        <div id="calendar"></div>
    </div>
    <div ng-show="page=='auditLog'">
        <table cellspacing="5" cellpadding="0" border="0" class="ml-5 font-light text-text-color-3 text-sm">
            <tr ng-repeat="log in auditLog" class="h-9">
                <td nowrap class="w-36">{{log.updated | date:'short'}}</td>
                <td class="w-8"><a ng-title="{{authors[log.accountId].displayName}}"
                   ng-href="{{hostBaseUrl + '/people/' + log.accountId}}" target="_parent">
                    <img ng-alt="{{log.author.displayName}}" class="avatar-image""
                         ng-src="{{log.author.avatarUrls['16x16']}}" width="21" height="21">
                </a></td>
                <td nowrap>{{log.author.displayName}}</td>
                <td>{{log.key}}: {{log.val}}</td>
            </tr>
        </table>
        <div class="ml-5 mt-5 font-light text-text-color-3 text-sm">
            <span class="description">{{'description.Audit Log' | i18n:{placeholders:['2020-02-04']} }}</span>
        </div>
    </div>
</form>
