<div class="formTitle">
    <h2>{{'Time Reports Config' | i18n}}</h2>
</div>
<div class="formTitleDescription">{{'Configure Timesheet Reports and Gadgets Add-On' | i18n}}</div>

<style type="text/css">
    .msg-overlay {
        position: absolute;
        top: -5px;
        left: 410px;
        z-index: 10;
    }
</style>

<div class="aui-message aui-message-info">
    {{'All changes will be saved automatically' | i18n}}
</div>

<form class="aui" style="width: 750px">
    <div class="field-group">
        <label for="select2-auditorGroups">{{'Auditors Groups' | i18n}}</label>
        <input id="select2-auditorGroups" ng-model="auditorsGroups.val" aui-group-picker ng-group-changed-func="saveAuditorsGroups" type="text" title="{{'Auditors Groups' | i18n}}"/>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="auditorsGroupsSaveSuccess">
            <strong>{{'Auditors Groups' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Auditors Groups' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="select2-compositionIssueLink">{{'Composition Issue Link' | i18n}}</label>
        <select id="select2-compositionIssueLink"
                class="select"
                title="{{'Composition Issue Link' | i18n}}"
                ng-model="compositionIssueLink.val"
                ng-change="saveCompositionIssueLink()"
                ng-options="item.id as item.label for item in allCompositionIssueLinks">
        </select>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="compositionIssueLinkSaveSuccess">
            <strong>{{'Composition Issue Link' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Composition Issue Link' | i18n}}</span>
    </div>
    <div class="field-group" ng-show="allParentIssueFields">
        <label for="select2-parentIssueField">{{'Parent Issue Field' | i18n}}</label>
        <select id="select2-parentIssueField"
                class="select"
                title="{{'Parent Issue Field' | i18n}}"
                ng-model="parentIssueField.val"
                ng-change="saveParentIssueField()"
                ng-options="item.id as item.label for item in allParentIssueFields">
        </select>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="parentIssueFieldSaveSuccess">
            <strong>{{'Parent Issue Field' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group" ng-show="allParentIssueFields">
        <span class="description">{{'description.Parent Issue Field' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="select2-weekendType">{{'Weekend Type' | i18n}}</label>
        <select id="select2-weekendType"
                class="select"
                title="{{'Weekend Type' | i18n}}"
                ng-model="weekendType.val"
                ng-change="saveWeekendType()"
                ng-options="item.id as item.label for item in allWeekendTypes">
        </select>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="weekendTypeSaveSuccess">
            <strong>{{'Weekend Type' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Weekend Type' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="select2-durationType">{{'Duration Type' | i18n}}</label>
        <select id="select2-durationType"
                class="select"
                title="{{'Duration Type' | i18n}}"
                ng-model="durationType.val"
                ng-change="saveDurationType()"
                ng-options="item.id as item.label for item in allDurationTypes">
        </select>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="durationTypeSaveSuccess">
            <strong>{{'Duration Type' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Duration Type' | i18n}}</span>
    </div>
    <div class="field-group" ng-show="problemReporter">
        <label for="onErrorIgnore">{{'Disable Problem Reporter' | i18n}}</label>
        <input id="onErrorIgnore"
                type="checkbox"
                class="checkbox"
                ng-model="onErrorIgnore.val"
                ng-change="saveOnErrorIgnore()">
        <div class="aui-message aui-message-success msg-overlay" ng-show="onErrorIgnoreSaveSuccess">
            <strong>{{'Disable Problem Reporter' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group" ng-show="problemReporter">
        <span class="description">{{'description.Disable Problem Reporter' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="maxFractionDigits">{{'Maximum Fraction Digits' | i18n}}</label>
        <input id="maxFractionDigits" ng-model="maxFractionDigits.val" ng-change="saveMaxFractionDigits()" type="number" class="text" title="{{'Maximum Fraction Digits' | i18n}}"/>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="maxFractionDigitsSaveSuccess">
            <strong>{{'Maximum Fraction Digits' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Maximum Fraction Digits' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="trackSupportData">{{'Track Support Data' | i18n}}</label>
        <input id="trackSupportData"
               type="checkbox"
               class="checkbox"
               ng-model="trackSupportData.val"
               ng-change="saveTrackSupportData()">
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="trackSupportDataSaveSuccess">
            <strong>{{'Track Support Data' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="trackSupportDataClearSuccess">
            {{'Support Files were successfully deleted' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">
            {{'description.Track Support Data' | i18n}}
            <!--span ng-show="trackSupportData.val" title="{{'Clear Support Data' | i18n}}" class="fa fa-trash" ng-click="clearSupportData()"></span-->
        </span>
    </div>
    <div class="field-group">
        <label for="workLabels">{{'Work Labels' | i18n}}</label>
        <div style="margin-bottom: 3px;">
            <span ng-repeat="label in workLabels.val" class="aui-label aui-label-closeable">
                {{label}}
                <span ng-click="removeWorkLabel($index)" class="aui-icon aui-icon-close"></span>
            </span>
        </div>
        <input id="workLabels" ng-init="newWorkLabel=''" ng-model="newWorkLabel" class="text" title="{{'New Work Label' | i18n}}" enter-pressed="addWorkLabel(newWorkLabel);newWorkLabel='';"/>
        <span class="fa fa-plus-square newWorkLabel" ng-click="addWorkLabel(newWorkLabel);newWorkLabel='';"></span>
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="workLabelsSaveSuccess">
            <strong>{{'Work Labels' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
        <div class="aui-message aui-message-error msg-overlay"
             ng-show="workLabelsSaveError">
            {{'error.workLabel.emptyUnique' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Work Labels' | i18n}}</span>
    </div>
    <div class="field-group">
        <label for="workDescriptionRequired">{{'Work Description Required' | i18n}}</label>
        <input id="workDescriptionRequired"
               type="checkbox"
               class="checkbox"
               ng-model="workDescriptionRequired.val"
               ng-change="saveWorkDescriptionRequired()">
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="workDescriptionRequiredSaveSuccess">
            <strong>{{'Work Description Required' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group">
        <span class="description">{{'description.Work Description Required' | i18n}}</span>
    </div>
    <div class="field-group" ng-if="cacheWorklog">
        <label for="cacheWorklog">{{'Cache Worklog' | i18n}}</label>
        <input id="cacheWorklog"
               type="checkbox"
               class="checkbox"
               ng-model="cacheWorklog.val"
               ng-change="saveCacheWorklog()">
        <div class="aui-message aui-message-success msg-overlay"
             ng-show="cacheWorklogSaveSuccess">
            <strong>{{'Cache Worklog' | i18n}}</strong>&nbsp;{{'saved successfully' | i18n}}
        </div>
    </div>
    <div class="field-group" ng-if="cacheWorklog">
        <span class="description">
            {{'description.Cache Worklog' | i18n}}
        </span>
    </div>
</form>

<br/>

{{'Go to' | i18n}} <a href="{{hostBaseUrl}}/plugins/servlet/ac/timereports/timereports" target="_parent">{{'Time Reports' | i18n}}</a>
<resize/>