<ul class="text-sm font-normal">
    <li>
        <span class="text-text-color-3">{{'Provided by' | i18n}}&nbsp;</span>
        <a href="https://help.tempo.io/timesheet-reports-and-gadgets/en/timesheet-reports-and-gadgets-for-jira-cloud/welcome-to-prime-timesheets-for-jira-cloud.html" target="_blank" class="text-secondary-color-clarity-1 md:text-text-color-3">
            {{appName | i18n}}
        </a>
    </li>
    <li>
        <a href="https://tempo-io.atlassian.net/servicedesk/customer/portal/6/group/31" target="_blank" class="text-secondary-color-clarity-1 md:text-text-color-3">
            {{'Contact support' | i18n}}
        </a>
    </li>
    <li ng-if="deployedDate">
        <a href="https://primetimesheet.atlassian.net/wiki/spaces/KB/blog" target="_blank" class="text-secondary-color-clarity-1 md:text-text-color-3">
            {{'Last updated' | i18n}}&nbsp;{{deployedDate | timeago}}
        </a>
    </li>
    <li>
        <a target="_blank" href="https://help.tempo.io/timesheet-reports-and-gadgets/en/timesheet-reports-and-gadgets-for-jira-cloud/differences-between-legacy-design-and-new-design.html" class="text-secondary-color-clarity-1 md:text-text-color-3">
            {{'Learn more new UI' | i18n}}
        </a>
    </li>
</ul>
