<ul>
    <li>{{'Provided by' | i18n}}&nbsp;<a href="https://www.primetimesheet.net/{{sitePrimeTimesheet}}/" target="_blank">{{appName | i18n}}</a></li>
    <li><a ng-click="contactSupport()">{{'Contact support' | i18n}}</a></li>
    <li ng-if="deployedDate"><a href="https://primetimesheet.atlassian.net/wiki/spaces/KB/blog" target="_blank">{{'Last updated' | i18n}}&nbsp;{{deployedDate | timeago}}</a></li>
    <li><a target="_blank" href="https://help.tempo.io/timesheet-reports-and-gadgets/en/timesheet-reports-and-gadgets-for-jira-cloud/differences-between-legacy-design-and-new-design.html">{{'Learn more new UI' | i18n}}</a></li>
</ul>
