<div id="config" ng-controller="GadgetController">
  <form class="aui">
    <div class="field-group">
      <label>{{ 'Title' | i18n}}</label>
      <input ng-model="title" class="text"/>
    </div>
    <div class="field-group">
      <label>{{ 'Report' | i18n }}:</label>
      <select class="select"
              ng-model="pivotTableTypeOptions.selected"
              ng-options="item.id as item.label for item in pivotTableTypeOptions.options"
              ng-change="pivotTableTypeChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="pivotTableType != 'TimeEntry' &&  viewByOptions.selected != 'day'">
      <label>{{ (viewByOptions.selected == 'month' ? 'Number of Months' : 'Number of Weeks') | i18n}}</label>
      <input ng-model="numOfWeeks.value"
             class="text"
             type="number"
             min="1" max="12"
             ng-change="numOfWeeksChange(numOfWeeks.value)"
             ng-disabled="!startDate.calculated && !endDate.calculated"/>
    </div>
    <div class="field-group">
      <label>{{ 'Offset' | i18n}}</label>
      <input ng-model="offset" class="text" type="number" ng-change="offsetChange(offset)" ng-disabled="!startDate.calculated || !endDate.calculated"/>
    </div>
    <div class="field-group">
      <label >{{'Start Date' | i18n}}</label>
      <input ng-model="startDate.value" type="date" aui-date-picker ng-date-changed-func="startChangeDate" class="select"/>
    </div>
    <div class="field-group" ng-if="pivotTableType != 'TimeEntry' &&  viewByOptions.selected != 'day'">
      <label>{{'End Date' | i18n}}</label>
      <input ng-model="endDate.value" type="date" aui-date-picker ng-date-changed-func="endChangeDate" class="select"/>
    </div>
    <div class="field-group" ng-if="['TimeTracking', 'TimeEntry', 'Timespent', 'CostReport', 'TimeBalance'].indexOf(pivotTableType) < 0">
      <label>{{'Reporting Day' | i18n}}</label>
      <select class="select"
              title="{{'Reporting Day' | i18n}}"
              ng-model="reportingDayOptions.selected"
              ng-options="item.id as item.label for item in reportingDayOptions.options"
              ng-change="reportingDayChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group">
      <label>{{ 'Filter or Project' | i18n }}:</label>
      <input ng-model="filterOrProjectId" aui-multi-select-picker ng-value-changed-func="filterByChanged" ng-options-data="filterByOptions" type="text"/>
    </div>
    <div class="field-group" ng-if="showChildrenFilter">
      <label>{{'Children Filter' | i18n}}:</label>
      <select class="select"
              title="{{'Children Filter' | i18n}}"
              ng-model="childrenFilterOptions.selected"
              ng-options="item.id as item.label for item in childrenFilterOptions.options"
              ng-change="childrenFilterChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['Timesheet', 'IssueWorkedTimeByUser', 'IssueWorkedTimeByStatus', 'IssueWorkedTimeByLabel',
          'Timespent', 'CostReport', 'Calendar'].indexOf(pivotTableType) >= 0">
      <label>{{'Work #label or Comment First Word' | i18n}}</label>
      <input ng-model="worklogFilter"
             aui-multi-select-picker
             tags="true"
             ng-value-changed-func="worklogFilterChanged"
             ng-options-data="workLabelsFilterOptions"
             type="text"/>
    </div>
    <div class="field-group" ng-if="$parent.tempoToken && ['Timesheet', 'IssueWorkedTimeByUser', 'IssueWorkedTimeByStatus', 'IssueWorkedTimeByLabel',
          'Timespent', 'CostReport', 'Calendar'].indexOf(pivotTableType) >= 0">
      <label>{{'Billable' | i18n}}</label>
      <select class="select"
              ng-model="billableFilterOptions.selected"
              ng-options="item.id as item.label for item in billableFilterOptions.options"
              ng-change="billableFilterChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['TimeEntry', 'IssueWorkedTimeByUser'].indexOf(pivotTableType) < 0">
      <label>{{'User' | i18n}}</label>
      <input ng-value="userInfo" aui-user-picker ng-user-changed-func="userChange" type="text"/>
    </div>
    <div class="field-group" ng-if="['Timesheet', 'Timespent', 'CostReport', 'PieChart', 'Calendar'].indexOf(pivotTableType) >= 0">
      <label>{{'All Users' | i18n}}</label>
      <input class="checkbox" type="checkbox" ng-model="allUsers.enabled" ng-change="allUsersChange(allUsers.enabled)" />
    </div>
    <div class="field-group" ng-if="pivotTableType != 'TimeEntry'">
      <label>{{'Groups' | i18n}}</label>
      <input ng-model="group" aui-group-picker ng-group-changed-func="groupChange" type="text"/>
    </div>
    <div class="field-group" ng-if="pivotTableType != 'TimeEntry'">
      <label>{{'Exclude Groups' | i18n}}</label>
      <input ng-model="excludeGroup" aui-group-picker ng-group-changed-func="excludeGroupChange" type="text"/>
    </div>
    <div class="field-group" ng-if="['TimeEntry', 'Calendar'].indexOf(pivotTableType) < 0">
      <label>{{'Group By Field' | i18n}}</label>
      <select class="select"
              ng-model="groupByOptions.selected"
              ng-options="item.id as item.label for item in groupByOptions.options"
              ng-change="groupByChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['TimeEntry', 'Calendar'].indexOf(pivotTableType) < 0">
      <label>{{'Categorize By Field' | i18n}}</label>
      <select class="select"
              ng-model="categorizeByOptions.selected"
              ng-options="item.id as item.label for item in categorizeByOptions.options"
              ng-change="categorizeByChanged()"
              ng-class="{inactive: !groupByOptions.selected}"
              ng-disabled="!groupByOptions.selected"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['PieChart', 'Calendar'].indexOf(pivotTableType) < 0">
      <label>{{'Additional Fields' | i18n}}</label>
      <select class="select"
              multiple="true"
              ng-model="moreFieldsOptions.selected"
              ng-options="item.id as item.label for item in moreFieldsOptions.options"
              ng-change="moreFieldsChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['Calendar'].indexOf(pivotTableType) < 0 && !groupByOptions.selected && !categorizeByOptions.selected">
      <label>{{'Order By Field' | i18n}}</label>
      <select class="select"
              ng-model="orderByOptions.selected"
              ng-options="item.id as item.label for item in orderByOptions.options"
              ng-change="orderByChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="pivotTableType == 'TimeTracking'">
      <label>{{'Columns' | i18n}}</label>
      <input aui-multi-select-picker
             class="text"
             title="{{'Time Tracking Columns' | i18n}}"
             ng-model="timeTrackingColumns"
             ng-options-data="timeTrackingColumnsData"
             ng-value-changed-func="timeTrackingColumnsChanged">
    </div>
    <div class="field-group" ng-if="pivotTableType == 'TimeBalance'">
      <label>{{'Columns' | i18n}}</label>
      <input aui-multi-select-picker
             class="text"
             title="{{'Time Balance Columns' | i18n}}"
             ng-model="timeBalanceColumns"
             ng-options-data="timeBalanceColumnsData"
             ng-value-changed-func="timeBalanceColumnsChanged">
    </div>
    <div class="field-group" ng-if="pivotTableType == 'IssuePassedTimeByStatus'">
      <label>{{'Status Categories' | i18n}}</label>
      <input aui-multi-select-picker
             class="text"
             title="{{'Time In Status Categories' | i18n}}"
             ng-model="timeInStatusCategories"
             ng-options-data="timeInStatusCategoriesData"
             ng-value-changed-func="timeInStatusCategoriesChanged">
    </div>
    <div class="field-group" ng-if="['Timesheet', 'Calendar'].indexOf(pivotTableType) >= 0">
      <label>{{'Show Weekends' | i18n}}</label>
      <input class="checkbox" type="checkbox" ng-model="showWeekends.enabled"/>
    </div>
    <div class="field-group" ng-if="['PieChart', 'Calendar', 'TimeEntry'].indexOf(pivotTableType) < 0">
      <label>{{'Show Details' | i18n}}</label>
      <input class="checkbox" type="checkbox" ng-model="showDetails.enabled" ng-change="showDetailsChange(showDetails.enabled)" />
    </div>
    <div class="field-group" ng-if="['TimeEntry', 'IssueTime', 'Calendar'].indexOf(pivotTableType) < 0">
      <label>{{'View By' | i18n}}</label>
      <select class="select"
              title="{{'View By' | i18n}}"
              ng-model="viewByOptions.selected"
              ng-options="item.id as item.label for item in viewByOptions.options"
              ng-change="monthViewChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="pivotTableType == 'Timesheet'">
      <label>{{'Sum By' | i18n}}</label>
      <select class="select"
              title="{{'Sum By' | i18n}}"
              ng-model="sumOptions.selected"
              ng-options="item.id as item.label for item in sumOptions.options"
              ng-change="sumChanged()"
              aui-select2>
      </select>
    </div>
    <div class="field-group" ng-if="['Calendar'].indexOf(pivotTableType) < 0">
      <label>{{'Sum SubTasks' | i18n}}</label>
      <input class="checkbox" type="checkbox" ng-model="sumSubTasks.enabled" ng-change="sumSubTasksChange(sumSubTasks.enabled)" />
    </div>
    <div class="field-group" ng-if="['Timesheet', 'TimeEntry', 'Timespent', 'CostReport', 'IssueWorkedTimeByUser'].indexOf(pivotTableType) >= 0">
      <label>{{'Show Empty Issues' | i18n}}</label>
      <input class="checkbox" type="checkbox" ng-model="includeEmpty.enabled" ng-change="includeEmptyChange(includeEmpty.enabled)" ng-disabled="!filterOrProjectId" />
    </div>
    <div class="buttons-container">
      <div class="buttons">
        <button class="aui-button aui-button-primary" ng-click="saveGadgetConfig()">Save</button>
        <button class="aui-button aui-button-link" ng-click="cancelGadgetConfigSaving()">Cancel</button>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <ng-include src="'/templates/footer.html'"></ng-include>
</div>
