<div id="config" ng-controller="GadgetController">
    <form class="aui">
		<div class="field-group">
			<label>{{ 'Title' | i18n}}</label>
			<input ng-model="title" class="text"/>
		</div>
		<div class="field-group">
			<label>{{ 'Report' | i18n }}:</label>
				<select class="select"
				        title="database select"
				        ng-model="pivotTableTypeOptions.selected"
				        ng-options="item.id as item.label for item in pivotTableTypeOptions.options"
				        ng-change="pivotTableTypeChanged()"
				        aui-select2>
				</select>
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeTracking'">
			<label>{{ 'Number of Weeks' | i18n}}</label>
			<input ng-model="numOfWeeks" class="text" type="number" min="1" max="12" ng-change="numOfWeeksChange(numOfWeeks)" />
		</div>
		<div class="field-group" ng-if="pivotTableType == 'Timesheet'">
			<label>{{'Show Weekends' | i18n}}</label>
			<input class="checkbox" type="checkbox" ng-model="showWeekends.enabled"/>
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeTracking'">
            <label for="end-date-picker">{{'Reporting Day' | i18n}}</label>
            <select class="select"
                    title="{{'Reporting Day' || i18n}}"
                    ng-model="reportingDayOptions.selected"
                    ng-options="item.id as item.label for item in reportingDayOptions.options"
                    ng-change="reportingDayChanged()"
                    aui-select2>
            </select>
			</div>
		<div class="field-group">
			<label>{{ 'Filter or Project' | i18n }}:</label>
			<input ng-model="filterOrProjectId" aui-multi-select-picker ng-value-changed-func="filterByChanged" ng-options-data="filterByOptions" type="text"/>
		</div>
		<div class="field-group" ng-if="pivotTableType == 'Timesheet' || pivotTableType == 'PieChart'">
			<label>{{'User' | i18n}}</label>
			<input ng-value="userInfo" aui-user-picker ng-user-changed-func="userChange" type="text"/>
		</div>
		<div class="field-group" ng-if="pivotTableType == 'Timesheet' || pivotTableType == 'PieChart'">
            <label>{{'All Users' | i18n}}</label>
            <input class="checkbox" type="checkbox" ng-model="allUsers.enabled" ng-change="allUsersChange(allUsers.enabled)" />
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeTracking' && pivotTableType != 'TimeEntry'">
			<label>{{'Groups' | i18n}}</label>
			<input ng-model="group" aui-group-picker ng-group-changed-func="groupChange" type="text"/>
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeEntry'">
            <label>{{'Group By Field' | i18n}}</label>
			<select class="select"
			        title="database select"
			        ng-model="groupByOptions.selected"
			        ng-options="item.id as item.label for item in groupByOptions.options"
			        ng-change="groupByChanged()"
			        aui-select2>
			</select>
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeEntry'">
               <label>{{'Collapse Field Groups' | i18n}}</label>
               <input class="checkbox" type="checkbox" ng-model="collapseFieldGroups" ng-change="collapseFieldGroupsChange(collapseFieldGroups)" />
		</div>
		<div class="field-group" ng-if="pivotTableType != 'PieChart'">
            <label>{{'Additional Fields' | i18n}}</label>
            <select class="select"
                    title="database select"
                    multiple="true"
                    ng-model="moreFieldsOptions.selected"
                    ng-options="item.id as item.label for item in moreFieldsOptions.options"
                    ng-change="moreFieldsChanged()"
                    aui-select2>
            </select>
		</div>
		<div class="field-group" ng-if="pivotTableType != 'TimeTracking'">
               <label>{{'Sum SubTasks' | i18n}}</label>
               <input class="checkbox" type="checkbox" ng-model="sumSubTasks" ng-change="sumSubTasksChange(sumSubTasks)" />
		</div>
		<div class="field-group" ng-if="pivotTableType == 'Timesheet'">
               <label>{{'Show Empty Issues' | i18n}}</label>
               <input class="checkbox" type="checkbox" ng-model="includeEmpty" ng-change="includeEmptyChange(includeEmpty)" ng-disabled="!filterOrProjectId" />
		</div>
        <div class="buttons-container">
            <div class="buttons">
				<button class="aui-button aui-button-primary" ng-click="saveGadgetConfig()">Save</button>
				<button class="aui-button aui-button-link" ng-click="cancelGadgetConfigSaving()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<resize/>