<div class="results-wrap" style="margin-left: -4px">
    <div class="section-header">
        <validation-errors errors="errors"></validation-errors>
    </div>

    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
        </div>

        <div class="issuetable" ng-show="restrictionError == null">
            <div class="rowHeader">
                <div class="colHeaderLink">
                    <pivottable-slider />
                </div>
                <div class="colHeaderLink" ng-repeat="column in pivotTable.sortedColumns()" column-key="column.columnKey" ng-class="{toDay : column.columnKey.isToday}">
                </div>
            </div>
            <div ng-class-odd="'rowNormal'" ng-class-even="'rowAlternate'" ng-repeat="data in pivotTable.rows[issueKey].data">
                <div class="nav" ng-if="data.worklog.id">
                    <span><old-worklog worklog="data.worklog" edit-work="editWorklog" delete-work="deleteWorklog"
                                       cannot-edit="cannotEditOwnWorklogIssue[issueKey]"
                                       cannot-delete="cannotDeleteOwnWorklogIssue[issueKey]"
                                       ng-init="data.worklog.issueKey = issueKey"/>
                    </span>
                    &nbsp;
                    <span title="{{data.worklog.comment.length > 75 ? data.worklog.comment : ''}}">{{data.worklog.comment | limitTo:75}}</span>
                </div>
                <div class="nav" ng-if="!data.worklog.id">
                    <new-worklog worklog="data.worklog" log-work="startWork" entry="data" remove-caсhed-worklog = "removeCachedWorklog" />
                </div>
                <div class="nav border nowrap">
                    {{data.values['1started'] | time:'short'}}
                </div>
                <div class="nav border nowrap">
                    {{data.values['2timespent'] | prettyHours:jiraConfig}}
                </div>
            </div>
        </div>
    </div>
    <button ng-if="canLogWork && loaded && !loading && isStartDateToday" class="aui-button aui-button-link" ng-init="worklog = {issueKey: issueKey, started: 1}" ng-click="startWork(true)">
        <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
        Start Work
    </button>
</div>
<resize/>
