<div class="results-wrap">
    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
            <p ng-if="restrictionError.msg" ng-bind-html="restrictionError.msg"></p>
        </div>

        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" width="100%" ng-show="restrictionError == null">
            <thead>
                <tr class="rowHeader">
                    <th class="colHeaderLink" width="100%">
                    </th>
                    <th class="colHeaderLink" ng-repeat="column in pivotTable.sortedColumns()" column-key="column.columnKey">
                    </th>
                    <th>
                        &nbsp;
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''" ng-class-even="compressed ? 'rowAlternate' : ''" ng-repeat-start="row in pivotTable.sortedRows() | limitTo:issuesCount.maxResults:issuesCount.startAt">
                    <td class="nav first <summary></summary>" width="1%">
                        &nbsp;
                    </td>
                    <td class="nav first border" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="row.columns" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                    </td>
                    <td class="nav first border total">
                        <span><i title="{{'Log Work' | i18n}}" class="fa fa-edit" ng-click="addWorklogDialog(null, issueKey)" ng-hide="!canLogWork || cannotLogWorkIssue[issueKey]"></i></span>
                    </td>
                </tr>
                <tr ng-class-odd="'rowAlternate'" ng-class-even="'rowNormal'" ng-repeat="data in row.data" ng-if="!compressed">
                    <td class="nav summary">
                        <a ng-if="data.worklog.author.accountId" ng-title="{{data.worklog.author.displayName}}"
                           ng-href="{{hostBaseUrl + '/people/' + data.worklog.author.accountId}}" target="_parent">
                            <img ng-alt="{{data.worklog.author.displayName}}" class="avatar-image" style="border-radius: 50%"
                                 ng-src="{{data.worklog.author.avatarUrls['16x16']}}" width="16" height="16">
                        </a>
                        <span ng-bind="data.worklog.author.displayName"></span>
                        <span ng-bind="data.worklog.started | date:'medium'"></span>
                        {{data.worklog.comment}}
                    </td>
                    <td class="nav border" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="data.values" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                    </td>
                    <td nowrap class="nav border">
                        <div ng-if="data.worklog.id">
                            <old-worklog worklog="data.worklog" edit-work="editWorklog" delete-work="deleteWorklog"
                                     cannot-edit="data.worklog.started < allowToLogFromDate ||
                                         (data.worklog.ownWorklog ? cannotEditOwnWorklogIssue[issueKey] : cannotEditAllWorklogIssue[issueKey])"
                                     cannot-delete="data.worklog.started < allowToLogFromDate ||
                                         (data.worklog.ownWorklog ? cannotDeleteOwnWorklogIssue[issueKey] : cannotDeleteAllWorklogIssue[issueKey])"
                                     ng-init="data.worklog.issueKey = issueKey"/>
                        </div>
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
                <tr ng-show="loaded && loading">
                    <td colspan="{{pivotTable.sortedColumns().length + 2}}">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
