<div ng-if="!isGadget">
    <aui-inline-dialog id="on-error" template="'/templates/popups/onError.html'" init-fn="initOnErrorPopup(params)"/>
</div>

<ng-include src="'/templates/banner.html'"></ng-include>

<ng-include ng-if="!isGadget" src="'/templates/dialogs/liteDeprecation.html'"></ng-include>

<style type="text/css" ng-if="isGadget">
    .aui-page-panel {
        border: 0;
        margin: 0;
    }
    .aui-page-panel-content {
        padding: 0;
    }
    #issuetable td.summary {
        min-width: inherit;
    }
    .aui-page-panel-inner {
        width: inherit !important;
    }
</style>
<style type="text/css" ng-if="reportDialog">
    .aui-page-panel {
        padding: 0 20px;
    }
</style>

<div ng-if="showGadgetConfiguration">
    <ng-include src="templates.gadgetConfig"></ng-include>
</div>

<div style="margin: 0" ng-if="gadgetDialog" >
    <modal-like-dialog controller="worklogDialogData.controller" data="worklogDialogData"/>
</div>

<div ng-if="!showGadgetConfiguration && !gadgetDialog" class="main w-full">
    <div class="pl-4 pr-4 pb-4 bg-backgroung-color-3 noprint border-r border-gray-200 w-60" ng-if="!isGadget && !hideMenu">
    <ng-include src="templates.menu"></ng-include>
  </div>
  <div class="content overflow-hidden" ng-class="{ 'height-reports': !isGadget }">
    <ng-include src="contentTemplate()"></ng-include>
  </div>
</div>

<script type="text/ng-template" id="on-error-dialog-template">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog''s title -->
        <h1 class="aui-dialog2-header-main">
            Report Problem
        </h1>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close" ng-click="cancel()">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <form class="aui" name="SubmitIssueForm">
            <div class="form-body" class="aui">
                <div class="field-group">
                    <label for="issue-title">
                        Title <span class="aui-icon icon-required"></span><span class="content">required</span>
                    </label>
                    <input type="text" name="title" class="text long-field ui-autocomplete-input" maxlength="50" id="issue-title" ng-model="params.title" autocomplete="off" required>
                </div>
                <fieldset>
                    <div class="field-group">
                        <label for="issue-content">Problem Description</label>
                        <div id="issue-content" class="wiki-edit">
                            <div class="wiki-edit-content" id="comment-wiki-edit">
                                <textarea rows="7" name="comment" cols="60" class="textarea long-field" ng-model="params.content"></textarea>
                                <div class="content-inner"></div>
                            </div>
                            <div class="description">{{params.description}}</div>
                        </div>
                    </div>
                </fieldset>
                <div class="field-group">
                    Create support ticket in Bitbucket <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button submit" ng-click="save()" ng-disabled="SubmitIssueForm.$invalid">Create</button>
            <button class="aui-button aui-button-link" ng-click="cancel()">Cancel</button>
        </div>
    </footer>
</script>
<script type="text/ng-template" id="worklog-dialog-template">
    <!-- Dialog header -->
    <header class="aui-dialog2-header log-hours">
        <!-- The dialog''s title -->
        <h3 class="aui-dialog2-header-main copyLinkHeader font-bold border-b border-gray-200">
            {{dialogType == 'add' ? 'Log Work Done' : 'Edit Work Log' | i18n}}
            <i class="fa fa-link edit"
               ng-if="dialogType == 'add'"
               ng-click=""
               copy-to-clipboard="logWork=true"
               title="{{'Copy Link' | i18n}}">
            </i>
        </h3>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close" ng-click="cancel()">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">{{'Close' | i18n}}</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content log-hours">
        <form class="aui" name="logWorkForm">
            <ng-include class="log-work dialog" src="'/templates/dialogs/updateWorklog.html'"></ng-include>
        </form>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer log-hours">
        <span class="fa fa-spinner fa-spin" ng-show="loading"></span>
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                    ng-click="save()"
                    ng-disabled="logWorkForm.$invalid || loading"
                    ng-class="{disabled: logWorkForm.$invalid || loading}">
                {{'Log Time' | i18n}}
            </button>
            <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                    ng-click="cancel()">
                {{'Cancel' | i18n}}
            </button>
        </div>
    </footer>
</script>
<script type="text/ng-template" id="worklog-gadget-dialog-template">
    <!-- Dialog header -->
    <span class="font-bold text-xl" ng-if="!standaloneDialog">
        {{dialogType == 'add' ? 'Log Work Done' : 'Edit Work Log' | i18n}}
    </span>
    <!-- Main dialog content -->
    <div>
        <form class="aui" name="logWorkForm">
            <form-invalid ng-if="standaloneDialog"></form-invalid>
            <ng-include class="log-work" src="'/templates/dialogs/updateWorklog.html'"></ng-include>
            <div ng-if="!showMore" class="mr-37 issue-work-buttons">
                <div class="buttons">
                    <button class="aui-button aui-button-link" ng-click="toggleShowMore()">
                        {{'more options' | i18n}}
                    </button>
                </div>
            </div>
            <div ng-if="!standaloneDialog" class="mr-37 pb-6 issue-work-buttons">
                <div class="buttons">
                    <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                            ng-click="save()"
                            ng-disabled="logWorkForm.$invalid || loading"
                            ng-class="{disabled: logWorkForm.$invalid || loading}">
                        {{'Log Time' | i18n}}
                    </button>
                    <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                            ng-click="cancel()">
                        {{'Cancel' | i18n}}
                    </button>
                    <span class="fa fa-spinner fa-spin" ng-show="loading" style="margin: 0 50px;"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- Dialog footer -->
</script>
<script type="text/ng-template" id="delete-worklog-dialog-template">
    <!-- Dialog header -->
    <header class="aui-dialog2-header log-hours">
        <!-- The dialog''s title -->
        <h3 class="aui-dialog2-header-main copyLinkHeader font-bold border-b border-gray-200">
            {{'Delete Work Log' | i18n}}
        </h3>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close" ng-click="cancel()">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">{{'Close' | i18n}}</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content log-hours">
        <form class="aui" name="deleteWorkForm">
            <ng-include src="'/templates/dialogs/deleteWorklog.html'"></ng-include>
        </form>
    </div>

    <footer class="aui-dialog2-footer log-hours">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <span class="fa fa-spinner fa-spin" ng-show="loading" style="margin: 0 50px;"></span>
            <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                    ng-click="delete()"
                    ng-disabled="deleteWorkForm.$invalid || loading"
                    ng-class="{disabled: deleteWorkForm.$invalid || loading}">
                {{'Delete' | i18n}}
            </button>
            <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                    ng-click="cancel()">
                {{'Cancel' | i18n}}
            </button>
        </div>
    </footer>
</script>
<script type="text/ng-template" id="delete-worklog-gadget-dialog-template">
    <!-- Dialog header -->
    <span class="font-bold text-xl" style="padding: 0 4px">
        {{'Delete Work Log' | i18n}}
    </span>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <form class="aui" name="deleteWorkForm">
            <ng-include src="'/templates/dialogs/deleteWorklog.html'"></ng-include>
            <div class="mr-37 pb-6 mt-5 issue-work-buttons">
                <div class="buttons">
                    <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                            ng-click="delete()"
                            ng-disabled="deleteWorkForm.$invalid || loading"
                            ng-class="{disabled: deleteWorkForm.$invalid || loading}">
                        {{'Delete' | i18n}}
                    </button>
                    <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                            ng-click="cancel()">
                        {{'Cancel' | i18n}}
                    </button>
                    <span class="fa fa-spinner fa-spin" ng-show="loading" style="margin: 0 50px;"></span>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="delete-work-dialog-template">
    <!-- Dialog header -->
    <header class="aui-dialog2-header log-hours">
        <!-- The dialog''s title -->
        <h3 class="aui-dialog2-header-main copyLinkHeader font-bold border-b border-gray-200">
            {{'Delete Work Logs' | i18n}}
        </h3>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close" ng-click="cancel()">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">{{'Close' | i18n}}</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content log-hours">
        <form class="aui" name="deleteWorkForm">
            <ng-include src="'/templates/dialogs/deleteWork.html'"></ng-include>
        </form>
    </div>

    <footer class="aui-dialog2-footer log-hours">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <span class="fa fa-spinner fa-spin" ng-show="loading" style="margin: 0 50px;"></span>
            <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                    ng-click="delete()"
                    ng-disabled="deleteWorkForm.$invalid || loading"
                    ng-class="{disabled: deleteWorkForm.$invalid || loading}">
                {{'Delete' | i18n}}
            </button>
            <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                    ng-click="cancel()">
                {{'Cancel' | i18n}}
            </button>
        </div>
    </footer>
</script>
<script type="text/ng-template" id="delete-work-gadget-dialog-template">
    <!-- Dialog header -->
    <span class="font-bold text-xl" style="padding: 0 4px">
        {{'Delete Work Logs' | i18n}}
    </span>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <form class="aui" name="deleteWorkForm">
            <ng-include src="'/templates/dialogs/deleteWork.html'"></ng-include>
            <div class="mr-37 pb-6 mt-5 issue-work-buttons">
                <div class="buttons">
                    <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                            ng-click="delete()"
                            ng-disabled="deleteWorkForm.$invalid || loading"
                            ng-class="{disabled: deleteWorkForm.$invalid || loading}">
                        {{'Delete' | i18n}}
                    </button>
                    <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                            ng-click="cancel()">
                        {{'Cancel' | i18n}}
                    </button>
                    <span class="fa fa-spinner fa-spin" ng-show="loading" style="margin: 0 50px;"></span>
                </div>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="invoice-dialog-template">
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <!-- Dialog header -->
        <h3 class="font-bold pb-8 pt-6 display-flex border-b border-gray-200">
            {{'Invoice Template' | i18n }}
        </h3>
        <form class="aui" name="hourlyRatesForm">
            <div class="rowCenter mt-10">
                <label class="w-40 mb-16 text-xs text-text-color-1-important">Header</label>
                <textarea
                    rows="5"
                    cols="200"
                    class="border-solid border rounded border-text-divider-color-3 w-30rem"
                    ng-model="invoice.header"
                    ng-change="invoiceChanged()">
                </textarea>
            </div>
        <div class="rowCenter mt-5 pb-5">
                <label  class="w-40 mb-16 text-xs text-text-color-1-important">Footer</label>
                <textarea
                    rows="5"
                    cols="200"
                    class="border-solid border rounded border-text-divider-color-3 w-30rem"
                    ng-model="invoice.footer"
                    ng-change="invoiceChanged()">
                </textarea>
            </div>
        </form>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer big">
        <div class="aui-dialog2-footer-actions">
            <button class="bg-secondary-color pt-2 pb-2 pr-4 pl-4 mr-3 rounded text-text-white font-bold"
                    ng-click="save(true)">
                {{'Save' | i18n}}
            </button>
            <button class="pt-2 pb-2 pr-4 pl-4 rounded-md border-solid  border-b border-l border-t border-r border-text-divider-color-3"
                      ng-click="cancel()">
                {{'Cancel' | i18n}}
            </button>
        </div>
    </footer>
</script>

<div class="footer noprint" ng-if="!isGadget">
    <ng-include src="'/templates/footer.html'"></ng-include>
</div>
