<ak-grid-column size="12" ng-if="!isGadget">
    <ng-include src="templates.header"></ng-include>
    <aui-inline-dialog id="on-error" template="'/templates/popups/onError.html'" init-fn="initOnErrorPopup(params)"/>
</ak-grid-column>

<style type="text/css" ng-if="isGadget">
    .aui-page-panel {
        border: 0;
        margin: 0;
    }
    .aui-page-panel-content {
        padding: 0;
    }
    #issuetable td.summary {
        min-width: inherit;
    }
    .aui-page-panel-inner {
        width: inherit !important;
    }
</style>
<style type="text/css" ng-if="reportDialog">
    .aui-page-panel {
        padding: 0 20px;
    }
</style>

<ak-grid-column size="2" ng-if="!isGadget">
    <ng-include src="templates.menu"></ng-include>
</ak-grid-column>

<ak-grid-column size="12" ng-if="showGadgetConfiguration">
    <ng-include src="templates.gadgetConfig"></ng-include>
</ak-grid-column>

<ak-grid-column size="10" ng-if="!showGadgetConfiguration">
    <ng-include src="contentTemplate()"></ng-include>
</ak-grid-column>

<ak-grid-column size="12" class="footer" ng-if="!isGadget">
    <ng-include src="'/templates/footer.html'"></ng-include>
</ak-grid-column>
