<div ng-if="!isGadget" class="header">
    <ng-include src="templates.header"></ng-include>
    <aui-inline-dialog id="on-error" template="'/templates/popups/onError.html'" init-fn="initOnErrorPopup(params)"/>
</div>

<style type="text/css" ng-if="isGadget">
    .aui-page-panel {
        border: 0;
        margin: 0;
    }
    .aui-page-panel-content {
        padding: 0;
    }
    #issuetable td.summary {
        min-width: inherit;
    }
    .aui-page-panel-inner {
        width: inherit !important;
    }
</style>
<style type="text/css" ng-if="reportDialog">
    .aui-page-panel {
        padding: 0 20px;
    }
</style>

<div ng-if="showGadgetConfiguration">
    <ng-include src="templates.gadgetConfig"></ng-include>
</div>

<div ng-if="!showGadgetConfiguration" class="main">
  <div class="menu" ng-if="!isGadget">
    <ng-include src="templates.menu"></ng-include>
  </div>
  <div class="content">
    <ng-include src="contentTemplate()"></ng-include>
  </div>
</div>

<div class="footer" ng-if="!isGadget">
    <ng-include src="'/templates/footer.html'"></ng-include>
</div>
