
<nav class="aui-navgroup aui-navgroup-vertical">
    <form class="aui">
      <div class="aui-navgroup-inner">
        <div class="aui-nav-heading"><strong>{{ 'Report' | i18n }}</strong></div>
        <ul class="aui-nav">
	        <input ng-model="viewOptions.selected" aui-multi-select-picker="false" ng-value-changed-func="viewChanged" ng-options-data="viewOptions" update-event="viewUpdated" type="text"/>
        </ul>
        <div class="aui-nav-heading" ng-hide="reportDialog && reportParamsObject.jql != undefined"><strong>{{ 'Filter or Project' | i18n }}</strong></div>
        <input ng-model="filterOrProjectId" ng-hide="reportDialog && reportParamsObject.jql != undefined" aui-multi-select-picker ng-value-changed-func="filterByChanged" ng-options-data="filterByOptions" update-event="projectUpdated" type="text"/>
        <div class="aui-nav-heading"><strong>{{ 'Options' | i18n }}</strong></div>
            <ul class="aui-nav options">
                <li ng-if="pivotTableType == 'Timesheet' || pivotTableType == 'PieChart'">
                    <label>{{'User' | i18n}}</label>
                    <input ng-value="paramUserInfo" aui-user-picker ng-user-changed-func="userChange" type="text"/>
                </li>
                <li ng-if="pivotTableType == 'Timesheet' || pivotTableType == 'PieChart'"> <!-- All users because of multi user picker planned -->
                    <label>{{'All Users' | i18n}}</label>
                    <input class="checkbox" type="checkbox" ng-model="allUsers.enabled" ng-change="allUsersChange(allUsers.enabled)"/>
                </li>
                <li ng-if="pivotTableType != 'TimeTracking' && pivotTableType != 'TimeEntry'">
                    <label>{{'Groups' | i18n}}</label>
                    <input ng-model="group" aui-group-picker ng-group-changed-func="groupChange" update-event="groupUpdated" type="text"/>
                </li>
                <li ng-if="pivotTableType != 'TimeTracking'">
                    <label for="start-date-picker">{{'Start Date' | i18n}}</label>
                    <input ng-model="startDate" id="start-date-picker" type="date" aui-date-picker ng-date-changed-func="startChangeDate" class="select"/>
                </li>
                <li ng-if="pivotTableType != 'TimeTracking' && pivotTableType != 'TimeEntry'">
                    <label for="end-date-picker">{{'End Date' | i18n}}</label>
                    <input ng-model="endDate" id="end-date-picker" type="date" aui-date-picker ng-date-changed-func="endChangeDate" class="select"/>
                </li>
                <li ng-if="pivotTableType == 'Timesheet'">
                    <label>{{'Show Weekends' | i18n}}</label>
                    <input class="checkbox" type="checkbox" ng-model="showWeekends.enabled" ng-change="toggleShowWeekends()" />
                </li>
                <li ng-if="pivotTableType != 'TimeTracking' && pivotTableType != 'TimeEntry'">
                    <label for="end-date-picker">{{'Reporting Day' | i18n}}</label>
                    <select class="select"
                            title="{{'Reporting Day' || i18n}}"
                            ng-model="reportingDayOptions.selected"
                            ng-options="item.id as item.label for item in reportingDayOptions.options"
                            ng-change="reportingDayChanged()"
                            aui-select2>
                    </select>
                </li>
                <li ng-if="pivotTableType != 'TimeEntry'">
                    <label>{{'Group By Field' | i18n}}</label>
                    <select class="select"
                            title="database select"
                            ng-model="groupByOptions.selected"
                            ng-options="item.id as item.label for item in groupByOptions.options"
                            ng-change="groupByChanged()"
                            aui-select2>
                    </select>
                </li>
                <li ng-if="pivotTableType != 'TimeEntry'">
                    <label>{{'Collapse Field Groups' | i18n}}</label>
                    <input class="checkbox" type="checkbox" ng-model="collapseFieldGroups.enabled" ng-change="collapseFieldGroupsChange(collapseFieldGroups.enabled)" />
                </li>
                <li ng-if="pivotTableType != 'PieChart'">
                    <label>{{'Additional Fields' | i18n}}</label>
                    <select class="select"
                            title="database select"
                            multiple="true"
                            ng-model="moreFieldsOptions.selected"
                            ng-options="item.id as item.label for item in moreFieldsOptions.options"
                            ng-change="moreFieldsChanged()"
                            aui-select2>
                    </select>
                </li>
                <li>
                    <label>{{'Sum SubTasks' | i18n}}</label>
                    <input class="checkbox" type="checkbox" ng-model="sumSubTasks.enabled" ng-change="sumSubTasksChange(sumSubTasks.enabled)" />
                </li>
            </ul>
        <div class="aui-nav-heading" ng-if="!reportDialog"></div>

        <ul class="aui-nav" ng-if="!reportDialog">
            <!--li>
                <label>{{'Instant View:' | i18n}}</label>
                <input class="checkbox" type="checkbox" ng-model="instantView" ng-change="instantViewChange(instantView)" />
            </li-->
            <li>
                <a ng-click="loading || !loaded || refresh()" ng-disabled="loading || !loaded" ng-class="{disabled: loading || !loaded}">Refresh</a>
            </li>
        </ul>
      </div>
    </form>
</nav>

