<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
            <p ng-if="restrictionError.msg" ng-bind-html="restrictionError.msg"></p>
        </div>

        <div ng-show="loaded && loading">
            <loading/>
        </div>
        <div style="white-space: nowrap;">
            <div id="placeholder" pie-chart ng-model="pivotTable" style="display: inline-block"></div>
            <div id="legend" style="display: inline-block; vertical-align: top"></div>
        </div>
        <div class="aui-message aui-message warning" ng-show="loaded && !loading && restrictedProjects">
            <strong>{{'Data is limited by Auditors Roles' | i18n}}</strong>&nbsp;{{restrictedProjects}}
        </div>
        <div ng-if="!loaded">
            <br/>
            <button class="aui-button" ng-click="execute()" ng-disabled="loading" ng-class="{disabled: loading}">
                <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
                {{'View Report' | i18n}}
            </button>
        </div>

    </div>
</div>
