<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <div class="bg-secondary-color-clarity-4 pt-5 pb-5"
         ng-if="loaded && (!pivotTable || pivotTable.num === 0)">
        <i class="w-0 p-3 bg-24 bg-no-repeat bg-center mr-4 ml-4"
            style="background-image: url('../images/info-icon.png')">
        </i>
        <span class="font-bold-light">No Report Found</span>
    </div>

    <div class="pagingtable w-100" ng-class="{'overflow-x-auto' : isGadget}">

        <restriction-error></restriction-error>

        <div ng-show="loaded && loading">
            <loading/>
        </div>
        <div style="white-space: nowrap;" ng-if="loaded">
            <span id="empty-space-chart" ng-if="loaded && (!pivotTable || pivotTable.num === 0)"></span>
            <div id="placeholder" pie-chart ng-model="pivotTable" style="display: inline-block"></div>
            <div id="legend" style="display: inline-block; vertical-align: top"></div>
        </div>

        <data-limit-auditors-roles></data-limit-auditors-roles>
        
        <div ng-if="!loaded">
            <br/>
            <img src='../images/no-results.png' class="h-full w-60 ml-38-p"></img>
            <button class="ml-42-p bg-secondary-color p-3 rounded text-text-white font-bold" ng-click="execute()" ng-disabled="loading" ng-class="{disabled: loading}">
                {{'Generete Report' | i18n}}
            </button>
        </div>

    </div>
</div>
