<div class="results-wrap">
    <div class="section-header" ng-hide="isGadget">
        <div>
            <div ng-init="showButtons=false" ng-mouseover="showButtons=!$form.$visible" ng-mouseleave="showButtons=false">
                <div editable-text="currentView.name" e-required onshow="$parent.$form=$form" onhide="$parent.$form=undefined" onaftersave="viewNameChanged()">
                    <h5>{{currentView.name || (pivotTableType | i18n)}}</h5>
                    <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span>
                </div>
                <a class="save-view" ng-click="saveView()" ng-show="showButtons && showSaveButton">Save</a>
                <a class="overlay-icon aui-icon aui-icon-small aui-iconfont-remove dangerous remove-view" ng-click="deleteView()" ng-show="showButtons && showDeleteButton"></a>
            </div>
        </div>
        <div>{{'Options' | i18n}}:&nbsp;
            <selected-option ng-repeat="option in selectedOptionLabels"
                             remove-action="removeMenuOption(option.key, option.labelParam)"
                             label="option.label"
                             label-param="option.labelParam"/>
        </div>
        <validation-errors errors="errors"></validation-errors>
    </div>
    <aui-inline-dialog id="problem-description-popup" template="'/templates/popups/problemDescription.html'" popup-data="problemDescriptionPopup" container="'#downloadSupportData'"></aui-inline-dialog>
    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
            <p ng-if="restrictionError.msg" ng-bind-html="restrictionError.msg"></p>
        </div>

        <div ng-show="isGadget" class="summary">
            <span ng-repeat="option in gadgetSummary">
                <span ng-class="option.styleClass">{{option.text}}</span>
            </span>
            <a class="fa fa-external-link-square" title="Open report page for other options and excel export" href="{{$parent.hostBaseUrl}}/plugins/servlet/ac/timereports/timereports#!{{reportParams}}" target="_parent"></a>
        </div>
        <div ng-show="loaded && loading">
            <loading/>
        </div>
        <div id="placeholder" pie-chart ng-model="pivotTable"></div>
        <div>
            <br/>
            <button class="aui-button" ng-click="execute()" ng-if="!loaded" ng-disabled="loading" ng-class="{disabled: loading}">
                <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
                View Report
            </button>
            <button id="downloadSupportData" class="aui-button aui-button-subtle" ng-click="downloadSupportData()" ng-if="downloadSupportData && !isGadget" ng-disabled="supportDataLoaded" ng-class="{disabled: supportDataLoaded}">
                <span ng-hide="supportDataLoaded">Send Support Data</span>
                <span ng-show="supportDataLoaded">Support Data Sent</span>
            </button>
        </div>

    </div>
</div>
