<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <aui-inline-dialog id="user-hover" template="'/templates/popups/userHover.html'" popup-data="userHoverPopup" container="'.userHoverPopup'" on-hover="true"></aui-inline-dialog>

    <div class="pagingtable w-100 overflow-x-auto">

        <restriction-error></restriction-error>

        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" ng-show="restrictionError == null" style="width: 100%;" ng-class="{ 'pt-3' : isGadget }">
            <thead>
                <tr>
                    <td class="w-3"></td>
                    <th colspan="{{rowKeySize}}">
                        <span class="flex mt-2">
                            <pivottable-slider class="ml-0"/>
                        </span>
                    </th>
                    <th class="border"></th>
                </tr>
                <tr class="rowHeader" ng-if="loaded && pivotTable && (pivotTable.num > 0 || (pivotTable._sortedRows && pivotTable._sortedRows.length > 0))">
                    <td class="w-3 nav"></td>
                    <th colspan="2" class="pl-2.5 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Key' : ''}}</th>
                    <th colspan="2" class="pl-0 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Issue' : ''}}</th>
                    <th class="pl-1 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Priority' : ''}}</th>

                    <th class="colHeaderLink text-center align-middle border-l-clear" ng-repeat="field in pivotTable.moreFields track by $index">
                        <table class="w-full ng-scope">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <span ng-bind="moreFieldsOptions.findOption(field).label"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th class="colHeaderLink text-center align-middle border-l-clear"
                        ng-repeat="column in pivotTable._sortedColumns"
                        ng-class="{ 'stickyCell bg-white' :  column.columnKey.keyValue == '6progress' }"
                        column-key="column.columnKey.order = $index; column.columnKey">
                    </th>
                    <th ng-if="!hideTotalColumn && pivotTable.num > 0" class="colHeaderLink stickyCell text-center bg-white">
                        <!-- this was done to work with the border left column in the middle of the column -->
                        <table class="w-full border-l-clear">
                            <tr>
                                <td><span></span></td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <span class="font-semibold text-text-color-1">
                                        {{'Total' | i18n}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''"
                    ng-class-even="compressed ? 'rowAlternate' : ''"
                    ng-repeat-start="row in pivotTable._sortedRows | limitTo:issuesCount.maxResults:issuesCount.startAt"
                    ng-init="$even ? rowClass='bg-white' : rowClass='rowAlternate' "
                    ng-class="{
                        first: row.rowKey.keyName == 'categoryrow' || !compressed,
                        'bg-white': !compressed
                    }">
                    <!-- TODO: rework to directive rowKwy with AngularJS 1.3: https://github.com/angular/angular.js/issues/1459 -->
                    <td class="w-3 nav"></td>
                    <td class="nav issuetype w-3-p md:w-5-p sm:w-7-p" ng-if="row.rowKey.issue">
                        <issue-type issue="row.rowKey.issue"/>
                    </td>
                    <td class="nav issuekey" ng-if="row.rowKey.issue" nowrap
                        ng-class="{
                            'w-10-p' : columnNumbers(1, 'equals') || columnNumbers(2, 'equals') || columnNumbers(3, 'equals') || columnNumbers(4, 'equals')  || columnNumbers(5, 'equals'),
                            'w-4-p' : columnNumbers(5, 'biggerThan')
                        }">
                        <issue-key issue="row.rowKey.issue" />
                    </td>
                    <td class="nav summary md:w-40-p sm:w-40-p"
                        colspan="2"
                        ng-if="row.rowKey.issue"
                        ng-class="{
                            'w-60-p' : columnNumbers(1, 'equals'),
                            'w-52-p' : columnNumbers(2, 'equals') || columnNumbers(3, 'equals'),
                            'w-30-p' : columnNumbers(4, 'equals') || columnNumbers(5, 'equals'),
                            'w-18-p' : columnNumbers(5, 'biggerThan')
                        }">
                        <span ng-if="row.rowKey.issue.fields.parent">
                            <issue-key issue="row.rowKey.issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span ng-if="!row.rowKey.issue.fields.parent && row.rowKey.issue.fields[epicLinkField.id]">
                            <a ng-click="navigated(null,'Jira Issue View')" href="{{hostBaseUrl}}/browse/{{row.rowKey.issue.fields[epicLinkField.id]}}" class="parentIssue" ng-bind="row.rowKey.issue.fields[epicLinkField.id]"></a>
                        </span>
                        <span>
                            <issue-summary issue="row.rowKey.issue" />
                        </span>
                    </td>
                    <td class="nav priority" width="1%" ng-if="row.rowKey.issue">
                        <issue-priority issue="row.rowKey.issue" />
                    </td>
                    <td class="nav" width="1%" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.project" ng-if="row.rowKey.project && (row.rowKey.keyName=='categoryrow' || !showCategoryRow)" jira-config="jiraConfig" />
                    </td>
                    <td class="nav" colspan="4" ng-if="row.rowKey.field" nowrap>
                        <span><issue-field field="row.rowKey.field" name='row.rowKey.keyName' jira-config="jiraConfig" /></span>
                        &nbsp;
                        <span ng-if="row.rowKey._issue && showDetailsCount">{{row.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[row.num]} }}</span>
                    </td>
                    <td class="nav text-center border-l-clear" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field" field="row.rowKey._issue.fields[field] || row.rowKey.issue.fields[field] || row.rowKey.field.fields[field]"
                                     issue="row.rowKey._issue || row.rowKey.issue || row.rowKey.field" jira-config="jiraConfig"
                                     ng-if="(row.rowKey._issue || row.rowKey.issue || row.rowKey.keyName == 'issue') &&
                                            (field.indexOf('project') < 0 ||
                                             !groupByOptions.selected ||
                                             (['project', 'issue'].indexOf(categorizeByOptions.selected) >= 0 && row.rowKey.keyName == 'categoryrow') ||
                                             (groupByOptions.selected == 'project' && row.rowKey.keyName == 'project') ||
                                             groupByOptions.selected === 'issue')"
                                     all-fields="allFields" />
                    </td>
                    <td class="nav border text-center"
                        ng-repeat="column in pivotTable._sortedColumns"
                        ng-style="{'background-color': row.columns[column.columnKey.keyValue].backgroundColor}"
                        ng-class="{
                            'stickyCell' : column.columnKey.keyValue == '6progress'
                        }">
                        <div>
                            <span>
                                <pivot-cell key="column.columnKey" columns="row.columns" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                            </span>
                            <span ng-if="showDetailsCount" style="margin-left: 5px">
                                <div class="small" title="{{'time(s)' | i18n}}">{{row.columns[column.columnKey.keyValue].detailsNum}}</div>
                                <div class="small-bottom" title="{{'Average' | i18n}}">{{row.columns[column.columnKey.keyValue].avg | prettyHours:jiraConfig:isElapsedTime}}</div>
                            </span>
                        </div>
                    </td>
                    <td class="nav border total text-center stickyCell"
                        ng-if="!hideTotalColumn"
                        ng-class-odd="'bg-white'" ng-class-even="'rowAlternate'">
                        <div>
                            {{row.sum | prettyHours:jiraConfig:isElapsedTime}}
                            <span ng-if="showDetailsCount" style="margin-left: 5px">
                                <div class="small" title="{{'time(s)' | i18n}}">{{row.detailsNum}}</div>
                                <div class="small-bottom" title="{{'Average' | i18n}}">{{row.avg | prettyHours:jiraConfig:isElapsedTime}}</div>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!timeEntryData && !compressed && !row.categoryRow"
                    ng-class-odd="'rowAlternate'"
                    ng-class-even="'rowNormal'"
                    ng-repeat="data in row.data"
                    ng-style="{color: data.color}">
                    <td class="w-3 nav"></td>
                    <td class="nav">&nbsp;</td>
                    <td class="nav">&nbsp;</td>
                    <td colspan="{{rowKeySize - 3}}" class="nav summary">
                        <span ng-if="data.rowKey._issue && (data.rowKey._issue.key != data.rowKey.issue.key)">
                            <span ng-if="data.rowKey._issue">
                                <issue-type issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue.fields.parent && data.rowKey._issue.fields.parent.key != data.rowKey._issue.key">
                                <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-key issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-summary issue="data.rowKey._issue" />
                            </span>
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span ng-if="'TimeEntry' == pivotTableType &&
                                    !data.worklog.transient &&
                                    data.worklog.workDate >= allowToLogFromDate &&
                                    !cannotEditOwnWorklogIssue[data.rowKey.issue.key]"
                              e-style="width: 100%"
                              editable-text="data.worklog.comment"
                              onshow="$parent.$form=$form"
                              onhide="$parent.$form=undefined"
                              onaftersave="commentChanged(data.worklog)"
                              ng-style="{color: data.color}">
                            <worklog-comment worklog="data.worklog" no-comment="'< No comment >' | i18n"/>
                            <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span>
                        </span>
                        <span ng-if="'TimeEntry' == pivotTableType &&
                                    (data.worklog.transient ||
                                      data.worklog.workDate < allowToLogFromDate ||
                                      cannotEditOwnWorklogIssue[data.rowKey.issue.key])">
                            <worklog-comment worklog="data.worklog"/>
                        </span>
                        <span ng-if="['TimeBalance', 'Timespent', 'CostReport'].indexOf(pivotTableType) >= 0 &&
                            (!paramUsersInfo || paramUsersInfo.length > 1) && groupByOptions.selected != 'workeduser'">
                            <a ng-if="data.worklog.author.accountId" ng-title="{{data.worklog.author.displayName}}"
                               ng-href="{{hostBaseUrl + '/people/' + data.worklog.author.accountId}}" target="_parent">
                                <img ng-alt="{{data.worklog.author.displayName}}" class="avatar-image" style="border-radius: 50%"
                                  ng-src="{{data.worklog.author.avatarUrls['16x16']}}" width="16" height="16">
                            </a>
                            <span ng-bind="data.worklog.author.displayName"></span>
                            <span ng-bind="data.worklog.started | date:'medium'"></span>
                        </span>
                        <span ng-if="'TimeEntry' != pivotTableType"><worklog-comment worklog="data.worklog"/></span> <!--if worklog is present-->
                    </td>
                    <td class="nav priority" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav border-l-clear" width="1%" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field"
                                     field="data.rowKey._issue.fields[field]"
                                     issue="data.rowKey._issue"
                                     jira-config="jiraConfig"
                                     ng-if="data.rowKey._issue && (field.indexOf('project') < 0 ||
                                             (categorizeByOptions.selected != 'project' && groupByOptions.selected != 'project'))"
                                     once="pivotTable"
                                     all-fields="allFields"/>
                    </td>
                    <td class="nav border text-center"
                        ng-repeat="column in pivotTable._sortedColumns"
                        ng-class="{
                            'stickyCell backgroung-color-5' : column.columnKey.keyValue == '6progress'
                        }">
                        <pivot-cell key="column.columnKey" columns="data.values" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                    </td>
                    <td class="nav border total stickyCell" ng-if="!hideTotalColumn">
                        &nbsp;
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true" ng-class="{details: compressed == false}"></tr>
                <tr ng-if="timeEntryData"
                    ng-class="'rowAlternate'"
                    ng-repeat="data in timeEntryData">
                    <td class="w-3 nav"></td>
                    <td class="nav issuetype" width="1%">
                        <issue-type issue="data.rowKey.issue" />
                    </td>
                    <td class="nav issuekey" width="1%" nowrap>
                        <issue-key issue="data.rowKey.issue" />
                    </td>
                    <td colspan="{{rowKeySize - 3}}" class="nav summary">
                        <span ng-if="data.rowKey._issue && (data.rowKey._issue.key != data.rowKey.issue.key)">
                            <span ng-if="data.rowKey._issue">
                                <issue-type issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue.fields.parent && data.rowKey._issue.fields.parent.key != data.rowKey._issue.key">
                                <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-key issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-summary issue="data.rowKey._issue" />
                            </span>
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span ng-if="'TimeEntry' == pivotTableType &&
                                    !data.worklog.transient &&
                                    data.worklog.workDate >= allowToLogFromDate &&
                                    !cannotEditOwnWorklogIssue[data.rowKey.issue.key]"
                              e-style="width: 100%"
                              editable-text="data.worklog.comment"
                              onshow="$parent.$form=$form"
                              onhide="$parent.$form=undefined"
                              onaftersave="commentChanged(data.worklog)"
                              ng-style="{color: data.color}">
                            <worklog-comment worklog="data.worklog" no-comment="'< No comment >' | i18n"/>
                            <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span>
                        </span>
                        <span ng-if="data.worklog.transient ||
                                      data.worklog.workDate < allowToLogFromDate ||
                                      cannotEditOwnWorklogIssue[data.rowKey.issue.key]">
                            <worklog-comment worklog="data.worklog"/>
                        </span>
                    </td>
                    <td class="nav priority" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav border-l-clear" width="1%" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="data.rowKey._issue.fields[field]" issue="data.rowKey._issue" jira-config="jiraConfig" ng-if="data.rowKey._issue" once="pivotTable" all-fields="allFields"/>
                    </td>
                    <td class="nav border text-center" ng-repeat="column in pivotTable._sortedColumns">
                        <pivot-cell key="column.columnKey" columns="data.values" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                    </td>
                    <td class="nav border total" ng-if="!hideTotalColumn">
                        &nbsp;
                    </td>
                </tr>
                <!-- total block -->
                <tr ng-hide="loading || !loaded || !pivotTable" class="bg-secondary-color-clarity-4 font-semibold">
                    <td class="w-3 nav"></td>
                    <td colspan="{{rowKeySize}}" class="nav total">
                        {{'Total' | i18n}}&nbsp;{{pivotTable.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[pivotTable.num]} }}
                    </td>
                    <td class="nav total border-l-clear" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="pivotTable.fieldTotals[field]" issue="{fields: pivotTable.fieldTotals}" jira-config="jiraConfig"/>
                    </td>
                    <td class="nav border total text-center bg-secondary-color-clarity-4"
                        ng-repeat="column in pivotTable._sortedColumns"
                        ng-class="{ 'stickyCell' : column.columnKey.keyValue == '6progress' }">
                        <div>
                            <span>
                                <pivot-cell key="column.columnKey" columns="pivotTable.totals" jira-config="jiraConfig"/>
                            </span>
                            <span ng-if="showDetailsCount" style="margin-left: 5px">
                                <div class="small" title="{{'time(s)' | i18n}}">{{column.detailsNum}}</div>
                                <div class="small-bottom" title="{{'Average' | i18n}}">{{column.avg | prettyHours:jiraConfig:isElapsedTime}}</div>
                            </span>
                        </div>
                    </td>
                    <td class="nav border total text-center stickyCell bg-secondary-color-clarity-4"
                        ng-if="!hideTotalColumn">
                        <div>
                            {{pivotTable.sum | prettyHours:jiraConfig:isElapsedTime}}
                            <span ng-if="showDetailsCount" style="margin-left: 5px">
                                <div class="small" title="{{'time(s)' | i18n}}">{{pivotTable.detailsNum}}</div>
                                <div class="small-bottom" title="{{'Average' | i18n}}">{{pivotTable.avg | prettyHours:jiraConfig:isElapsedTime}}</div>
                            </span>
                        </div>
                    </td>
                </tr>
                <!-- suggested total block -->
                <tr class="bg-secondary-color-clarity-4 font-semibold" ng-if="pivotTable.suggestedNum" ng-hide="loading || !loaded || !pivotTable">
                    <td class="w-3 nav"></td>
                    <td colspan="{{rowKeySize}}" class="nav total borderTopTotal">
                        {{'Suggested Total' | i18n}}&nbsp;{{pivotTable.suggestedNum}}
                    </td>
                    <td class="nav total borderTopTotal" ng-repeat="field in pivotTable.moreFields track by $index">
                    </td>
                    <td class="nav border total text-center borderTopTotal">
                    </td>
                    <td class="nav border total text-center borderTopTotal">
                        {{pivotTable.suggestedTotal | prettyHours:jiraConfig:isElapsedTime}}
                    </td>
                    <td class="nav border total text-center borderTopTotal">
                        <i class="w-0 p-4 bg-24 bg-no-repeat bg-center"
                           ng-if="pivotTable.suggestedNum"
                           ng-click="!disableSuggested && logSuggested()"
                           ng-disabled="disableSuggested"
                           ng-class="{disabled: disableSuggested}"
                           title="{{'Save' | i18n}}"
                           style="background-image: url('../images/icon-check-pure.png')">
                        </i>
                    </td>
                    <td class="nav border total borderTopTotal" ng-if="!hideTotalColumn">
                    </td>
                </tr>
                <!-- suggested total block -->
                <tr class="bg-secondary-color-clarity-4 font-semibold" ng-if="pivotTable.unsavedNum" ng-hide="loading || !loaded || !pivotTable">
                    <td class="w-3 nav"></td>
                    <td colspan="{{rowKeySize}}" class="nav total borderTopTotal">
                        {{'Unsaved Total' | i18n}}&nbsp;{{pivotTable.unsavedNum}}
                    </td>
                    <td class="nav total text-center borderTopTotal" ng-repeat="field in pivotTable.moreFields track by $index">
                    </td>
                    <td class="nav border total borderTopTotal">
                    </td>
                    <td class="nav border text-center total borderTopTotal">
                        {{pivotTable.unsavedTotal | prettyHours:jiraConfig:isElapsedTime}}
                    </td>
                    <td class="nav border total borderTopTotal">
                        <i class="fa fa-check-square"
                           ng-if="pivotTable.unsavedTotal"
                           ng-click="!disableSuggested && logSuggested('unsaved')"
                           ng-disabled="disableSuggested"
                           ng-class="{disabled: disableSuggested}"
                           title="{{'Save' | i18n}}"></i>
                    </td>
                    <td class="nav border total borderTopTotal" ng-if="!hideTotalColumn">
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td>&nbsp;</td>
                    <td colspan="{{rowKeySize + 1}}">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <pagination></pagination>

    <div ng-if="canLogWork && loaded && !loading && isStartDateToday" class="sm:mt-6 mt-4 ml-4">
        <label for="worklog-issue" class="break-line">
            <i class="w-0 p-3 bg-24 bg-no-repeat bg-center m-1"
               style="background-image: url('../images/icon-plus.png')">
            </i>
            <span class="text-secondary-color ml-1 font-semibold pr-2">
              {{'Log Time' | i18n}}
            </span>
        </label>
        <input type="text"
               class="text"
               id="worklog-issue"
               ng-model="worklog.issueKey"
               aui-issue-picker="worklog.issue"
               ng-change="startWork(true)">
    </div>

    <data-limit-auditors-roles></data-limit-auditors-roles>

    <data-limit-restricted-groups></data-limit-restricted-groups>

    <empty-values></empty-values>
</div>
