<div class="results-wrap">
    <div class="section-header" ng-hide="isGadget">
        <div>
            <h5>{{ pivotTableType | i18n }}</h5>
            <div class="pull-right">
                <i href="#export" aria-owns="export" aria-haspopup="true" class="fa fa-file-excel-o aui-dropdown2-trigger x-ng-click"  x-ng-click="" style="margin: 3px 0" title="Download worklog" ng-hide="loading || restrictionError || ['TimeTracking', 'IssuePassedTimeByStatus'].indexOf(pivotTableType) >= 0"></i>
                <!-- Dropdown -->
                <div id="export" class="aui-style-default aui-dropdown2">
                    <ul class="aui-list-truncate">
                        <li><a x-ng-click="excelView()">.xls (html)</a></li>
                        <li><a x-ng-click="excelView(true)">.csv</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>{{'Options' | i18n}}:&nbsp;<selected-option ng-repeat="option in selectedOptionLabels"
                         remove-action="removeMenuOption(option.key, option.labelParam)"
                         label="option.label"
                         label-param="option.labelParam"></selected-option>
        </div>
    </div>
    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
        </div>

        <div ng-show="isGadget" class="summary">
            <span ng-repeat="option in gadgetSummary">
                <span ng-class="option.styleClass">{{option.text}}</span>
            </span>
            <a class="fa fa-external-link-square" title="Open report page for other options and excel export" href="{{$parent.hostBaseUrl}}/plugins/servlet/ac/timereports/timereports#!{{reportParams}}" target="_parent"></a>
        </div>

        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" width="100%" ng-show="restrictionError == null">
            <thead>
                <tr class="rowHeader">
                    <th class="colHeaderLink" colspan="{{rowKeySize}}">
                        <pivottable-slider />
                    </th>
                    <th class="colHeaderLink" ng-repeat="field in pivotTable.moreFields">
                        <span ng-bind="moreFieldsOptions.findOption(field).label"></span>
                    </th>
                    <th class="colHeaderLink" ng-repeat="column in pivotTable.sortedColumns()" column-key="column.columnKey">
                    </th>
                    <th ng-if="!hideTotalColumn">
                        {{'Total' | i18n }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''" ng-class-even="compressed ? 'rowAlternate' : ''" ng-repeat-start="row in pivotTable.sortedRows() | limitTo:issuesCount.maxResults:issuesCount.startAt">
                    <!-- TODO: rework to directive rowKwy with AngularJS 1.3: https://github.com/angular/angular.js/issues/1459 -->
                    <td class="nav first issuetype" width="1%" ng-if="row.rowKey.issue">
                        <issue-type issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first issuekey" width="1%" ng-if="row.rowKey.issue" nowrap>
                        <issue-key issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first summary" colspan="2" ng-if="row.rowKey.issue">
                        <span ng-if="row.rowKey.issue.fields.parent">
                            <issue-key issue="row.rowKey.issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span>
                            <issue-summary issue="row.rowKey.issue" />
                        </span>
                    </td>
                    <td class="nav first priority" width="1%" ng-if="row.rowKey.issue">
                        <issue-priority issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first" width="1%" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.project" ng-if="row.rowKey.project" />
                    </td>
                    <td class="nav first" colspan="4" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.field" />
                    </td>
                    <td class="nav first" nowrap ng-repeat="field in row.moreFields">
                        <issue-field name="field" field="row.rowKey.issue.fields[field]" jira-config="jiraConfig" ng-if="row.rowKey.issue"/>
                    </td>
                    <td class="nav first border" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="row.columns" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false"/>
                    </td>
                    <td class="nav first border total" ng-if="!hideTotalColumn">
                        {{row.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-class-odd="'rowAlternate'" ng-class-even="'rowNormal'" ng-repeat="data in row.data" ng-if="!compressed">
                    <td class="nav">&nbsp;</td>
                    <td class="nav issuetype" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-type issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav issuekey" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-key issue="data.rowKey._issue" show-title="data.worklog" />
                        </span>
                        <span ng-if="data.rowKey._issue && data.worklog"> <!-- if not Time Tracking -->
                            <issue-summary issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td colspan="{{rowKeySize - 4}}" class="nav summary">
                        <span ng-if="data.rowKey._issue.fields.parent">
                            <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span title="{{data.worklog.comment.length > 175 ? data.worklog.comment : ''}}">{{data.worklog.comment | limitTo:175}}</span> <!--if worklog is present-->
                        <span ng-if="!data.worklog">
                            <issue-summary issue="data.rowKey._issue"/>
                        </span>
                    </td>
                    <td class="nav priority" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav" width="1%" ng-repeat="field in pivotTable.moreFields">
                        <issue-field name="field" field="data.rowKey._issue.fields[field]" jira-config="jiraConfig" ng-if="data.rowKey._issue"/>
                    </td>
                    <td class="nav border" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="data.values" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false"/>
                    </td>
                    <td class="nav border total" ng-if="!hideTotalColumn">
                        &nbsp;
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
                <!-- total block -->
                <tr class="rowFooter" ng-hide="loading || !loaded">
                    <td colspan="{{rowKeySize}}">
                        {{'Total' | i18n }}:
                    </td>
                    <td class="nav total" ng-repeat="field in pivotTable.moreFields">
                        &nbsp;
                    </td>
                    <td class="nav border total" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="pivotTable.totals" jira-config="jiraConfig"/>
                    </td>
                    <td class="nav border total" ng-if="!hideTotalColumn">
                        {{pivotTable.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td colspan="{{rowKeySize + 1}}">
                        {{'Loading' | i18n}}&nbsp;<span class="aui-icon aui-icon-wait">Wait</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="count-pagination aui-group" ng-hide="!loaded || loading || restrictionError || pages.length < 2">
        <div class="aui-item">
            <span class="results-count-text">
                <span class="results-count-start" ng-bind="issuesCount.startAt + 1"></span>–<span class="results-count-end" ng-bind="issuesCount.end"></span> of <span class="results-count-total" ng-bind="issuesCount.total"></span>
            </span>
        </div>
        <div class="pagination aui-item">
            <ol class="aui-nav aui-nav-pagination">
                <li class="aui-nav-previous"><a ng-show="issuesCount.startAt > 0" ng-click="setStartAt(issuesCount.startAt - issuesCount.maxResults)">Prev</a><span ng-show="issuesCount.startAt <= 0">Prev</span></li>
                <li ng-class="{'aui-nav-selected': issuesCount.startAt == startAt}" ng-repeat="p in pages" ng-init="startAt = issuesCount.maxResults * p" style="padding: 0"><a ng-click="setStartAt(startAt)" style="padding: 3px">{{p + 1}}</a></li>
                <li class="aui-nav-next" ng-init="isNext = issuesCount.startAt + issuesCount.maxResults < issuesCount.total"><a ng-show="issuesCount.startAt + issuesCount.maxResults < issuesCount.total" ng-click="setStartAt(issuesCount.startAt + issuesCount.maxResults)" style="padding: 3px">Next</a><span ng-show="issuesCount.startAt + issuesCount.maxResults >= issuesCount.total">Next</span></li>
            </ol>
        </div>
    </div>
    <div ng-if="canLogWork && loaded && !loading && isStartDateToday">
        <label for="log-work-issue">
	        <span class="aui-icon aui-icon-small aui-iconfont-add">Start Work</span>
        </label>
        <input type="text" class="text" id="worklog-issue" ng-model="worklog.issueKey" aui-issue-picker="worklog.issue" ng-change="startWork(true)">
    </div>
    <div>
        <br/>
        <button class="aui-button" ng-click="execute()" ng-if="!loaded" ng-disabled="loading" ng-class="{disabled: loading}">
            <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
            View Report
        </button>
        <button class="aui-button" ng-click="downloadSupportData()" ng-if="downloadSupportData && !isGadget">
            <!--span class="aui-icon aui-icon-small aui-iconfont-export-list"></span-->
            Download support data
        </button>
    </div>
</div>
<resize/>