<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <aui-inline-dialog id="subscribe-popup" template="templates.subscribe" popup-data="subscribePopup" container="'#subscribe'" persistent="true"></aui-inline-dialog>
    <aui-inline-dialog id="user-hover" template="'/templates/popups/userHover.html'" popup-data="userHoverPopup" container="'.userHoverPopup'" on-hover="true"></aui-inline-dialog>

    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
            <p ng-if="restrictionError.msg" ng-bind-html="restrictionError.msg"></p>
        </div>

        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" width="100%" ng-show="restrictionError == null">
            <thead>
                <tr class="rowHeader">
                    <th class="colHeaderLink" colspan="{{rowKeySize}}">
                        <span><pivottable-slider /></span>
                        <span class="noprint">
                            <i href="#export" id="export-dropdown" aria-owns="export" aria-haspopup="true" class="fa fa-file-excel-o aui-dropdown2-trigger x-ng-click"  x-ng-click="" style="padding-left: 10px" title="{{'Download worklog' | i18n}}" ng-hide="loading || restrictionError"></i>
                            <!-- Dropdown -->
                            <div id="export" class="aui-style-default aui-dropdown2">
                                <ul class="aui-list-truncate">
                                    <li><a x-ng-click="excelView('xls')">exportData.xls (html)</a></li>
                                    <li><a x-ng-click="excelView('csv')">exportData.csv</a></li>
                                    <li><a x-ng-click="excelView('html')">exportView.xls (html)</a></li>
                                </ul>
                            </div>
                             <i id="subscribe"
                                class="fa fa-envelope-o"  ng-click="subscribePopup.init()" title="{{'Subscribe' | i18n}}"
                                ng-if="'TimeEntry' != pivotTableType && subscribe && !isGadget && loggedInUser.emailAddress" ng-style="{'font-weight': currentView.jobId ? 'bold' : 'normal'}"></i>
                       </span>
                    </th>
                    <th class="colHeaderLink moreFields" ng-repeat="field in pivotTable.moreFields track by $index">
                        <span ng-bind="moreFieldsOptions.findOption(field).label"></span>
                    </th>
                    <th class="colHeaderLink" ng-repeat="column in pivotTable.sortedColumns()" column-key="column.columnKey">
                    </th>
                    <th ng-if="!hideTotalColumn">
                        {{'Total' | i18n}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''"
                    ng-class-even="compressed ? 'rowAlternate' : ''"
                    ng-repeat-start="row in pivotTable.sortedRows() | limitTo:issuesCount.maxResults:issuesCount.startAt">
                    <!-- TODO: rework to directive rowKwy with AngularJS 1.3: https://github.com/angular/angular.js/issues/1459 -->
                    <td class="nav first issuetype" width="1%" ng-if="row.rowKey.issue">
                        <issue-type issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first issuekey" width="1%" ng-if="row.rowKey.issue" nowrap>
                        <issue-key issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first summary" colspan="2" ng-if="row.rowKey.issue">
                        <span ng-if="row.rowKey.issue.fields.parent">
                            <issue-key issue="row.rowKey.issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span ng-if="!row.rowKey.issue.fields.parent && row.rowKey.issue.fields[epicLinkField.id]">
                            <a href="{{hostBaseUrl}}/browse/{{row.rowKey.issue.fields[epicLinkField.id]}}" class="parentIssue" ng-bind="row.rowKey.issue.fields[epicLinkField.id]"></a>
                        </span>
                        <span>
                            <issue-summary issue="row.rowKey.issue" />
                        </span>
                    </td>
                    <td class="nav first priority" width="1%" ng-if="row.rowKey.issue">
                        <issue-priority issue="row.rowKey.issue" />
                    </td>
                    <td class="nav first" width="1%" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.project" ng-if="row.rowKey.project" jira-config="jiraConfig" />
                    </td>
                    <td class="nav first" colspan="4" ng-if="row.rowKey.field" nowrap>
                        <span><issue-field field="row.rowKey.field" name='row.rowKey.keyName' jira-config="jiraConfig" /></span>
                        &nbsp;
                        <span ng-if="row.rowKey._issue">{{row.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[row.num]} }}</span>
                    </td>
                    <td class="nav first" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field" field="row.rowKey._issue.fields[field] || row.rowKey.issue.fields[field] || row.rowKey.field.fields[field]"
                                     issue="row.rowKey._issue || row.rowKey.issue || row.rowKey.field" jira-config="jiraConfig"
                                     ng-if="row.rowKey._issue || row.rowKey.issue || row.rowKey.keyName == 'issue'" all-fields="allFields" />
                    </td>
                    <td class="nav first border" ng-repeat="column in pivotTable.sortedColumns()">
                        <span>
                            <pivot-cell key="column.columnKey" columns="row.columns" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                        </span>
                        <span class="small" ng-if="showDetailsCount" title="{{'time(s)' | i18n}}">
                            &nbsp;{{row.columns[column.columnKey.keyValue].detailsNum}}
                        </span>
                    </td>
                    <td class="nav first border total" ng-if="!hideTotalColumn">
                        {{row.sum | prettyHours:jiraConfig:pivotTableType == 'IssuePassedTimeByStatus' && !(workingTimeInStatus.from && workingTimeInStatus.to)}}
                        <span class="small" ng-if="showDetailsCount" title="{{'time(s)' | i18n}}">
                            &nbsp;{{row.detailsNum}}
                        </span>
                    </td>
                </tr>
                <tr ng-class-odd="'rowAlternate'" ng-class-even="'rowNormal'" ng-repeat="data in row.data" ng-if="!compressed && !row.categoryRow">
                    <td class="nav">&nbsp;</td>
                    <td class="nav">&nbsp;</td>
                    <td colspan="{{rowKeySize - 3}}" class="nav summary">
                        <span ng-if="data.rowKey._issue && (data.rowKey._issue.key != data.rowKey.issue.key)">
                            <span ng-if="data.rowKey._issue">
                                <issue-type issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue.fields.parent && data.rowKey._issue.fields.parent.key != data.rowKey._issue.key">
                                <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-key issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-summary issue="data.rowKey._issue" />
                            </span>
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span ng-if="'TimeEntry' == pivotTableType && data.worklog.workDate >= allowToLogFromDate && !cannotEditOwnWorklogIssue[data.rowKey.issue.key]"
                              e-style="width: 100%"
                              editable-text="data.worklog.comment"
                              onshow="$parent.$form=$form"
                              onhide="$parent.$form=undefined"
                              onaftersave="commentChanged(data.worklog)">
                            <worklog-comment worklog="data.worklog" no-comment="'< No comment >' | i18n"/>
                            <span class="overlay-icon aui-icon aui-icon-small aui-iconfont-edit"></span>
                        </span>
                        <span ng-if="'TimeEntry' == pivotTableType && (data.worklog.workDate < allowToLogFromDate || cannotEditOwnWorklogIssue[data.rowKey.issue.key])">
                            <worklog-comment worklog="data.worklog"/>
                        </span>
                        <a ng-if="['TimeBalance', 'Timespent'].indexOf(pivotTableType) >= 0 && data.worklog.author.accountId" ng-title="{{data.worklog.author.displayName}}"
                           ng-href="{{hostBaseUrl + '/people/' + data.worklog.author.accountId}}" target="_parent">
                            <img ng-alt="{{data.worklog.author.displayName}}" class="avatar-image" style="border-radius: 50%"
                              ng-src="{{data.worklog.author.avatarUrls['16x16']}}" width="16" height="16">
                        </a>
                        <span ng-if="['TimeBalance', 'Timespent'].indexOf(pivotTableType) >= 0" ng-bind="data.worklog.author.displayName"></span>
                        <span ng-if="['TimeBalance', 'Timespent'].indexOf(pivotTableType) >= 0" ng-bind="data.worklog.started | date:'medium'"></span>
                        <span ng-if="'TimeEntry' != pivotTableType"><worklog-comment worklog="data.worklog"/></span> <!--if worklog is present-->
                    </td>
                    <td class="nav priority" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav" width="1%" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="data.rowKey._issue.fields[field]" issue="data.rowKey._issue" jira-config="jiraConfig" ng-if="data.rowKey._issue" once="pivotTable" all-fields="allFields"/>
                    </td>
                    <td class="nav border" ng-repeat="column in pivotTable.sortedColumns()">
                        <pivot-cell key="column.columnKey" columns="data.values" jira-config="jiraConfig" edit-work="editWorklog" delete-work="deleteWorklog" log-work="pivotTableType == 'TimeEntry' ? startWork : false" remove-cached-worklog = "removeCachedWorklog" />
                    </td>
                    <td class="nav border total" ng-if="!hideTotalColumn">
                        &nbsp;
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true"></tr>
                <!-- total block -->
                <tr class="rowFooter" ng-hide="loading || !loaded || !pivotTable">
                    <td colspan="{{rowKeySize}}" class="nav total">
                        {{'Total' | i18n}}&nbsp;{{pivotTable.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[pivotTable.num]} }}
                    </td>
                    <td class="nav total" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="pivotTable.fieldTotals[field]" issue="{fields: pivotTable.fieldTotals}" jira-config="jiraConfig"/>
                    </td>
                    <td class="nav border total" ng-repeat="column in pivotTable.sortedColumns()">
                        <span>
                            <pivot-cell key="column.columnKey" columns="pivotTable.totals" jira-config="jiraConfig"/>
                        </span>
                        <span class="small" ng-if="showDetailsCount" title="{{'time(s)' | i18n}}">
                            &nbsp;{{column.detailsNum}}
                        </span>
                    </td>
                    <td class="nav border total" ng-if="!hideTotalColumn">
                        {{pivotTable.sum | prettyHours:jiraConfig:pivotTableType == 'IssuePassedTimeByStatus' && !(workingTimeInStatus.from && workingTimeInStatus.to)}}
                        <span class="small" ng-if="showDetailsCount" title="{{'time(s)' | i18n}}">
                            &nbsp;{{pivotTable.detailsNum}}
                        </span>
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td colspan="{{rowKeySize + 1}}">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="count-pagination aui-group" ng-hide="!loaded || loading || restrictionError || !pivotTable">
        <div class="aui-item">
            <span class="results-count-text" ng-if="issuesCount.end">
                <span class="results-count-start" ng-bind="issuesCount.startAt + 1"></span>–<span class="results-count-end" ng-bind="issuesCount.end"></span> of <span class="results-count-total" ng-bind="issuesCount.total"></span>
            </span>
            <a ng-click="loading || !loaded || refresh()" ng-disabled="loading || !loaded" ng-class="{disabled: loading || !loaded}" title="Refresh" class="noprint">
                <span class="aui-icon aui-icon-small aui-iconfont-refresh-small">Refresh</span>
            </a>
        </div>
        <div class="pagination aui-item noprint">
            <ol class="aui-nav aui-nav-pagination">
                <li class="aui-nav-previous"><a ng-show="issuesCount.startAt > 0" ng-click="setStartAt(issuesCount.startAt - issuesCount.maxResults)">Prev</a><span ng-show="issuesCount.startAt <= 0 && issuesCount.total">Prev</span></li>
                <li ng-class="{'aui-nav-selected': issuesCount.startAt == startAt}" ng-repeat="p in pages" ng-init="startAt = issuesCount.maxResults * p" style="padding: 0"><a ng-click="setStartAt(startAt)" style="padding: 3px">{{p + 1}}</a></li>
                <li class="aui-nav-next" ng-init="isNext = issuesCount.startAt + issuesCount.maxResults < issuesCount.total"><a ng-show="issuesCount.startAt + issuesCount.maxResults < issuesCount.total" ng-click="setStartAt(issuesCount.startAt + issuesCount.maxResults)" style="padding: 3px">Next</a><span ng-show="issuesCount.startAt + issuesCount.maxResults >= issuesCount.total && issuesCount.total">Next</span></li>
            </ol>
        </div>
    </div>
    <div ng-if="canLogWork && loaded && !loading && isStartDateToday">
        <label for="log-work-issue">
            <span class="aui-icon aui-icon-small aui-iconfont-add">Start Work</span>
        </label>
        <input type="text" class="text" id="worklog-issue" ng-model="worklog.issueKey" aui-issue-picker="worklog.issue" ng-change="startWork(true)">
    </div>
    <div class="aui-message aui-message warning" ng-show="loaded && !loading && restrictedProjects">
        <strong>{{'Data is limited by Auditors Roles' | i18n}}</strong>&nbsp;{{restrictedProjects}}
    </div>
    <div class="aui-message aui-message warning" ng-show="loaded && !loading && restrictedGroups">
        <strong>{{'Data is limited to Restricted Groups' | i18n}}</strong>&nbsp;{{restrictedGroups}}
    </div>
    <div ng-if="!loaded">
        <br/>
        <button class="aui-button" ng-click="execute()" ng-disabled="loading" ng-class="{disabled: loading}">
            <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
            {{'View Report' | i18n}}
        </button>
    </div>
</div>
