<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <aui-inline-dialog
            id="add-worklog"
            template="templates.addWorklog"
            popup-data="addWorklogPopup"
            container="'.addWorklogPopup'"
            work-description-required="workDescriptionRequired"
            work-labels-list="workLabelsList"
            jira-config="jiraConfig">
    </aui-inline-dialog>
    <aui-inline-dialog
            id="edit-worklog"
            template="templates.editWorklog"
            popup-data="editWorklogPopup"
            container="'.editWorklogPopup'"
            work-description-required="workDescriptionRequired"
            work-labels-list="workLabelsList"
            jira-config="jiraConfig">
    </aui-inline-dialog>
    <aui-inline-dialog id="import-popup" template="'/templates/popups/import.html'" popup-data="importPopup" container="'#export-dropdown'" persistent="true" no-bind="true" init-fn="initImportPopupDialog(params)"></aui-inline-dialog>
    <aui-inline-dialog id="subscribe-popup" template="templates.subscribe" popup-data="subscribePopup" container="'#subscribe'" persistent="true"></aui-inline-dialog>
    <aui-inline-dialog id="user-hover" template="'/templates/popups/userHover.html'" popup-data="userHoverPopup" container="'.userHoverPopup'" on-hover="true"></aui-inline-dialog>

    <div class="pagingtable">

        <div class="aui-message aui-message-error" ng-show="restrictionError != null">
            <p class="title">
                <strong>{{'Denied' | i18n}}</strong>
            </p>
            <p>{{restrictionError.msgKey | i18n}}</p>
            <p ng-if="restrictionError.msg" ng-bind-html="restrictionError.msg"></p>
        </div>

        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" ng-show="restrictionError == null">
            <thead>
                <tr class="rowHeader">
                    <th class="colHeaderLink" colspan="{{rowKeySize}}">
                        <span><pivottable-slider /></span>
                        <span ng-if="loaded && !loading && !restrictionError" class="noprint">
                            <button ng-if="canLogWork || canLogWorkForUser" class="aui-button aui-button-link button-compact" ng-click="addWorklogDialog()" title="{{'Log Work against an issue' | i18n}}">
                                <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
                                {{'Log Work' | i18n}}
                            </button>
                        </span>
                        <span class="noprint">
                            <i href="#export" id="export-dropdown" aria-owns="export" aria-haspopup="true" style="padding-left: 10px" class="fa fa-file-excel aui-dropdown2-trigger x-ng-click"  x-ng-click="" title="{{'Export/Import' | i18n}}" ng-hide="loading || restrictionError"></i>
                            <!-- Dropdown -->
                            <div id="export" class="aui-style-default aui-dropdown2">
                                <ul class="aui-list-truncate">
                                    <li class="copyLink">
                                        <div class="rowCenter">
                                            <a x-ng-click="excelView('xls')">exportData.xls (html)</a>
                                            <i class="fa fa-link edit"
                                               ng-click=""
                                               copy-to-clipboard="export=xls"
                                               title="{{'Copy Link' | i18n}}">
                                            </i>
                                        </div>
                                    </li>
                                    <li class="copyLink">
                                        <div class="rowCenter">
                                            <a x-ng-click="excelView('csv')">exportData.csv</a>
                                            <i class="fa fa-link edit"
                                               ng-click=""
                                               copy-to-clipboard="export=csv"
                                               title="{{'Copy Link' | i18n}}">
                                            </i>
                                        </div>
                                    </li>
                                    <li class="copyLink">
                                        <div class="rowCenter">
                                            <a x-ng-click="excelView('html')">exportView.xls (html)</a>
                                            <i class="fa fa-link edit"
                                               ng-click=""
                                               copy-to-clipboard="export=html"
                                               title="{{'Copy Link' | i18n}}">
                                            </i>
                                        </div>
                                    </li>
                                    <li><a x-ng-click="importPopup.init()" ng-if="user == loggedInUser.accountId || canLogWorkForUser">importTimesheet.csv</a></li>
                                </ul>
                            </div>
                            <i id="subscribe"
                                class="fa fa-envelope"  ng-click="subscribePopup.init()" title="{{'Subscribe' | i18n}}"
                                ng-if="subscribe && !isGadget" ng-style="{'font-weight': currentView.jobId ? 'bold' : 'normal'}"></i>
                        </span>
                    </th>
                    <th class="colHeaderLink moreFields" ng-repeat="field in pivotTable.moreFields track by $index">
                        <span ng-bind="moreFieldsOptions.findOption(field).label"></span>
                    </th>
                    <th ng-if="showTotalInFront">
                        <br/>{{'Total' | i18n}}
                    </th>
                    <th ng-repeat="column in pivotTable._sortedColumns" column-key="column.columnKey" ng-class="{toDay: column.columnKey.isToday, nonBusinessDay: column.columnKey.isWeekend}">
                    </th>
                    <th>
                        <br/>{{'Total' | i18n}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''"
                    ng-class-even="compressed ? 'rowAlternate' : ''"
                    ng-repeat-start="row in pivotTable._sortedRows | limitTo:issuesCount.maxResults:issuesCount.startAt"
                    class="first">
                    <!-- issues block -->
                    <td class="nav issuetype" width="1%" ng-if="row.rowKey.issue">
                        <issue-type issue="row.rowKey.issue" />
                    </td>
                    <td class="nav issuekey" width="1%" ng-if="row.rowKey.issue" nowrap>
                        <issue-key issue="row.rowKey.issue" />
                    </td>
                    <td class="nav summary" colspan="2" ng-if="row.rowKey.issue">
                        <span ng-if="row.rowKey.issue.fields.parent">
                            <issue-key issue="row.rowKey.issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span ng-if="row.rowKey.issue.fields[epicLinkField.id]">
                            <a ng-click="navigated(null,'Jira Issue View')" href="{{hostBaseUrl}}/browse/{{row.rowKey.issue.fields[epicLinkField.id]}}" class="parentIssue" ng-bind="row.rowKey.issue.fields[epicLinkField.id]"></a>
                        </span>
                        <span>
                            <issue-summary issue="row.rowKey.issue" />
                        </span>
                    </td>
                    <td class="nav priority" width="1%" ng-if="row.rowKey.issue">
                        <issue-priority issue="row.rowKey.issue" />
                    </td>
                    <td class="nav" width="1%" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.project" ng-if="row.rowKey.project && (row.rowKey.keyName=='categoryrow' || !showCategoryRow)" jira-config="jiraConfig" />
                    </td>
                    <td class="nav" colspan="4" ng-if="row.rowKey.field" nowrap>
                        <span><issue-field field="row.rowKey.field" name='row.rowKey.keyName' jira-config="jiraConfig" /></span>
                        &nbsp;
                        <span ng-if="row.rowKey._issue">{{row.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[row.num]} }}</span>
                    </td>
                    <td class="nav" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field" field="row.rowKey._issue.fields[field] || row.rowKey.issue.fields[field] || row.rowKey.field.fields[field]"
                                     issue="row.rowKey._issue || row.rowKey.issue || row.rowKey.field" jira-config="jiraConfig"
                                     ng-if="row.rowKey._issue || row.rowKey.issue || row.rowKey.keyName == 'issue'" all-fields="allFields" />
                    </td>
                    <td ng-if="showTotalInFront" ng-style="{'color': row.color}" title="{{row.title}}" class="nav border total">
                        {{row.sum | prettyHours:jiraConfig}}
                    </td>
                    <td ng-init="p_show=false"
                        ng-mouseover="p_show=column.sum == 0 && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate &&
                          ((!groupByOptions.selected && (canLogWork || canLogWorkForUser) && !cannotLogWorkIssue[row.rowKey.keyValue]) ||
                            (groupByOptions.selected == 'workeduser' && canLogWorkForWorkedUser[row.rowKey.field.accountId]))"
                        ng-mouseleave="p_show=false"
                        ng-click="(column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && !cannotLogWorkIssue[row.rowKey.keyValue] &&
                          ((!groupByOptions.selected && (canLogWork || canLogWorkForUser) && addWorklogPopup.init(column.columnKey, row.rowKey)) ||
                            (column.sum == 0 && groupByOptions.selected == 'workeduser' && canLogWorkForWorkedUser[row.rowKey.field.accountId] &&
                             addWorklogDialog(null, null, column.columnKey.date, row.rowKey.field)));
                            editWorklogPopup.init(column.columnKey, row.rowKey, row.data)"
                        class="nav border"
                        ng-class="{toDay: column.columnKey.isToday,
                          nonBusinessDay: column.columnKey.isWeekend,
                          addWorklogPopup: !groupByOptions.selected && column.sum == 0 && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser) && !cannotLogWorkIssue[row.rowKey.keyValue]),
                          editWorklogPopup: column.sum != 0,
                          disabled: column.sum == 0 && (groupByOptions.selected || cannotLogWorkIssue[row.rowKey.keyValue] || (!canLogWork && !canLogWorkForUser)) && (groupByOptions.selected != 'workeduser' || !canLogWorkForWorkedUser[row.rowKey.field.accountId])}"
                        style="cursor:default"
                        ng-style="{'color': column.color}"
                        title="{{column.title}}"
                        ng-repeat="column in row.columns">
                        <span style="cursor:pointer">{{column.sum | prettyHours:jiraConfig}}</span>
                        <span ng-show="p_show" class="fa fa-plus" style="cursor:pointer" title="{{'Log Work against an issue' | i18n}}"></span>
                    </td>
                    <td ng-style="{'color': row.color}" title="{{row.title}}" class="nav border total">
                        {{row.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-class-odd="'rowAlternate'" ng-class-even="'rowNormal'" ng-repeat="data in row.data" ng-if="!compressed && !row.categoryRow">
                    <td class="nav">&nbsp;</td>
                    <td class="nav">&nbsp;</td>
                    <td colspan="{{rowKeySize - 3}}" class="nav summary">
                        <span ng-if="data.rowKey._issue && (data.rowKey._issue.key != data.rowKey.issue.key)">
                            <span ng-if="data.rowKey._issue">
                                <issue-type issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue.fields.parent && data.rowKey._issue.fields.parent.key != data.rowKey._issue.key">
                                <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-key issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-summary issue="data.rowKey._issue" />
                            </span>
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span ng-if="(!paramUsersInfo || paramUsersInfo.length > 1) && groupByOptions.selected != 'workeduser'">
                            <a ng-if="data.worklog.author.accountId" ng-title="{{data.worklog.author.displayName}}"
                               ng-href="{{hostBaseUrl + '/people/' + data.worklog.author.accountId}}" target="_parent">
                                <img ng-alt="{{data.worklog.author.displayName}}" class="avatar-image" style="border-radius: 50%"
                                     ng-src="{{data.worklog.author.avatarUrls['16x16']}}" width="16" height="16">
                            </a>
                            <span ng-bind="data.worklog.author.displayName"></span>
                        </span>
                        <worklog-comment worklog="data.worklog"/>
                    </td>
                    <td class="nav priority" width="1%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav" width="1%" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field" field="data.rowKey._issue.fields[field]" issue="data.rowKey._issue" jira-config="jiraConfig" ng-if="data.rowKey._issue" once="pivotTable"  all-fields="allFields"/>
                    </td>
                    <td ng-if="showTotalInFront" class="nav border total">
                        &nbsp;
                    </td>
                    <td ng-init="p_show=false"
                        ng-mouseover="p_show=groupByOptions.selected && data.columnKey.keyValue != column.columnKey.keyValue && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key])"
                        ng-mouseleave="p_show=false"
                        ng-click="groupByOptions.selected && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]) && addWorklogPopup.init(column.columnKey, data.rowKey); editWorklogPopup.init(column.columnKey, data.rowKey, [data], 'addPossible');"
                        ng-class="{toDay: column.columnKey.isToday,
                        nonBusinessDay: column.columnKey.isWeekend,
                        addWorklogPopup: groupByOptions.selected && data.columnKey.keyValue != column.columnKey.keyValue && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]),
                        editWorklogPopup: groupByOptions.selected && data.columnKey.keyValue == column.columnKey.keyValue && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]),
                        disabled: !groupByOptions.selected || (data.columnKey.keyValue == column.columnKey.keyValue && cannotLogWorkIssue[data.rowKey._issue.key] || (!canLogWork && !canLogWorkForUser && !canLogWorkForWorkedUser[row.rowKey.field.accountId]))}"
                        style="cursor:default"
                        class="nav border"
                        ng-repeat="column in pivotTable._sortedColumns">
                        <span style="cursor:pointer" ng-if="data.columnKey.keyValue == column.columnKey.keyValue">
                            {{data.value | prettyHours:jiraConfig}}
                        </span>
                        <span ng-show="p_show" class="fa fa-plus" style="cursor:pointer" title="{{'Log Work against an issue' | i18n}}"></span>
                    </td>
                    <td class="nav border total">
                        &nbsp;
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true" ng-class="{details: compressed == false}"></tr>
                <!-- total block -->
                <tr class="rowFooter" ng-hide="loading || !loaded || !pivotTable">
                    <td colspan="{{rowKeySize}}" class="nav total">
                        {{'Total' | i18n}}&nbsp;{{pivotTable.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[pivotTable.num]} }}
                    </td>
                    <td class="nav total" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="pivotTable.fieldTotals[field]" issue="{fields: pivotTable.fieldTotals}" jira-config="jiraConfig"/>
                    </td>
                    <td ng-if="showTotalInFront" ng-style="{'color': pivotTable.color}" title="{{pivotTable.title}}" class="nav border total">
                        {{pivotTable.sum | prettyHours:jiraConfig}}
                    </td>
                    <td ng-style="{'color': column.color}" title="{{column.title}}" class="nav border total" ng-repeat="column in pivotTable._sortedColumns">
                        {{column.sum | prettyHours:jiraConfig}}
                    </td>
                    <td ng-style="{'color': pivotTable.color}" title="{{pivotTable.title}}" class="nav border total">
                        {{pivotTable.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td colspan="{{rowKeySize + 1}}">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="count-pagination aui-group" ng-hide="!loaded || loading || restrictionError || !pivotTable">
        <div class="aui-item">
            <span class="results-count-text" ng-if="issuesCount.end">
                <span class="results-count-start" ng-bind="issuesCount.startAt + 1"></span>–<span class="results-count-end" ng-bind="issuesCount.end"></span> of <span class="results-count-total" ng-bind="issuesCount.total"></span>
            </span>
            <a ng-click="loading || !loaded || refresh()" ng-disabled="loading || !loaded" ng-class="{disabled: loading || !loaded}" title="{{'Refresh' | i18n}}" class="noprint">
                <i class="fa fa-sync" ng-title="'Refresh' | i18n"></i>
            </a>
        </div>
        <div class="pagination aui-item noprint">
            <ol class="aui-nav aui-nav-pagination">
                <li class="aui-nav-previous"><a ng-show="issuesCount.startAt > 0" ng-click="setStartAt(issuesCount.startAt - issuesCount.maxResults)">Prev</a><span ng-show="issuesCount.startAt <= 0 && issuesCount.total">Prev</span></li>
                <li ng-class="{'aui-nav-selected': issuesCount.startAt == startAt}" ng-repeat="p in pages" ng-init="startAt = issuesCount.maxResults * p" style="padding: 0"><a ng-click="setStartAt(startAt)" style="padding: 3px">{{p + 1}}</a></li>
                <li class="aui-nav-next" ng-init="isNext = issuesCount.startAt + issuesCount.maxResults < issuesCount.total"><a ng-show="issuesCount.startAt + issuesCount.maxResults < issuesCount.total" ng-click="setStartAt(issuesCount.startAt + issuesCount.maxResults)" style="padding: 3px">Next</a><span ng-show="issuesCount.startAt + issuesCount.maxResults >= issuesCount.total && issuesCount.total">Next</span></li>
            </ol>
        </div>
    </div>
    <div ng-if="loaded && !loading && !restrictionError" class="noprint">
        <button ng-if="canLogWork || canLogWorkForUser" class="aui-button aui-button-link" ng-click="addWorklogDialog()" title="{{'Log Work against an issue' | i18n}}">
            <span class="aui-icon aui-icon-small aui-iconfont-add"></span>
            {{'Log Work' | i18n}}
        </button>
    </div>
    <div class="aui-message aui-message warning" ng-show="loaded && !loading && restrictedProjects">
        <strong>{{'Data is limited by Auditors Roles' | i18n}}</strong>&nbsp;{{restrictedProjects}}
    </div>
    <div class="aui-message aui-message warning" ng-show="loaded && !loading && restrictedGroups">
        <strong>{{'Data is limited to Restricted Groups' | i18n}}</strong>&nbsp;{{restrictedGroups}}
    </div>
    <div ng-if="!loaded">
        <br/>
        <button class="aui-button" ng-click="execute()" ng-disabled="loading" ng-class="{disabled: loading}">
            <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
            {{'View Report' | i18n}}
        </button>
    </div>
</div>
