<div class="results-wrap">

    <ng-include src="templates.reportSummary"></ng-include>

    <aui-inline-dialog
            id="add-worklog"
            template="templates.addWorklog"
            popup-data="addWorklogPopup"
            container="'.addWorklogPopup'"
            work-description-required="workDescriptionRequired"
            work-labels-list="workLabelsList"
            jira-config="jiraConfig">
    </aui-inline-dialog>
    <aui-inline-dialog
            id="edit-worklog"
            template="templates.editWorklog"
            popup-data="editWorklogPopup"
            container="'.editWorklogPopup'"
            work-description-required="workDescriptionRequired"
            work-labels-list="workLabelsList"
            jira-config="jiraConfig">
    </aui-inline-dialog>
    <aui-inline-dialog id="import-popup" template="'/templates/popups/import.html'" popup-data="importPopup" container="'#import-popup-box'" persistent="true" no-bind="true" init-fn="initImportPopupDialog(params)"></aui-inline-dialog>
    <aui-inline-dialog id="user-hover" template="'/templates/popups/userHover.html'" popup-data="userHoverPopup" container="'.userHoverPopup'" on-hover="true"></aui-inline-dialog>

    <div class="w-100-p overflow-x-auto">
        <restriction-error></restriction-error>
        <table id="issuetable" cellspacing="0" cellpadding="3" border="0" ng-show="restrictionError == null" style="width: 100%;">
            <thead>
                <tr>
                    <td class="w-3"></td>
                    <th class="p-0 align-top h-8" colspan="{{rowKeySize}}">
                        <span class="flex pt-2">
                            <button-add-worklog class="mt-3"></button-add-worklog>
                            <pivottable-slider />
                        </span>
                    </th>
                    <th class="colHeaderLink moreFields" ng-repeat="field in pivotTable.moreFields track by $index">
                    </th>
                    <th ng-if="pivotTable._sortedColumns && pivotTable._sortedColumns.length > 0"
                        colspan="{{month.colspan}}"
                        ng-repeat="month in pivotTable.months"
                        ng-class="{ 'borderL' : month.firstColumn }"
                        class="align-middle">
                        <span class="ml-2 font-semibold text-text-color-1">{{month.monthName}}</span>
                    </th>
                    <th ng-if="!pivotTable.months || pivotTable.months.length == 0"
                        ng-repeat="column in pivotTable._sortedColumns"
                        ng-class="{toDay: column.columnKey.isToday, nonBusinessDay: column.columnKey.isWeekend,  borderL:  column.columnKey.isFirstColumn}"
                        class="h-10 borderWeek">
                    </th>
                    <th class="text-center stickyCell bg-white" ng-if="pivotTable.num > 0" width="8%">
                        <span class="font-semibold text-text-color-1">
                            <br/><br/>{{'Total' | i18n}}
                        </span>
                    </th>
                </tr>
                <tr class="rowHeader" ng-if="loaded && pivotTable && (pivotTable.num > 0 || (pivotTable._sortedRows && pivotTable._sortedRows.length > 0))">
                    <th class="w-4 nav"></th>
                    <th colspan="2" class="pl-2.5 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Key' : ''}}</th>
                    <th colspan="2" class="pl-0 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Issue' : ''}}</th>
                    <th class="pl-1 align-bottom text-text-color-1-important font-medium-important">{{ !groupByOptions.selected ? 'Priority' : ''}}</th>

                    <th class="text-center align-middle border-l-clear" ng-repeat="field in pivotTable.moreFields track by $index">
                        <table class="w-full ng-scope">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <span ng-bind="moreFieldsOptions.findOption(field).label"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th ng-repeat="column in pivotTable._sortedColumns"
                        column-key="column.columnKey"
                        ng-class="{toDay: column.columnKey.isToday, nonBusinessDay: column.columnKey.isWeekend,  borderL:  column.columnKey.isFirstColumn}"
                        class="h-10 borderWeek text-center">
                    </th>
                    <th class="text-center stickyCell bg-white" ng-if="pivotTable.num > 0" width="8%">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class-odd="compressed ? 'rowNormal' : ''"
                    ng-class-even="compressed ? 'rowAlternate' : ''"
                    ng-repeat-start="row in pivotTable._sortedRows | limitTo:issuesCount.maxResults:issuesCount.startAt"
                    ng-init="firstRow = $first"
                    ng-class="{first: row.rowKey.keyName == 'categoryrow' || !compressed}">
                    <!-- issues block -->
                    <td class="w-4 nav"></td>
                    <td class="nav issuetype print:w-5-p" width="2%" ng-if="row.rowKey.issue">
                        <issue-type issue="row.rowKey.issue" />
                    </td>
                    <td class="nav issuekeyp" width="2%" ng-if="row.rowKey.issue" nowrap>
                        <issue-key issue="row.rowKey.issue" />
                    </td>
                    <td class="nav summary print:w-12-p w-18-p" colspan="2" ng-if="row.rowKey.issue">
                        <span ng-if="row.rowKey.issue.fields.parent">
                            <issue-key issue="row.rowKey.issue.fields.parent" show-title="true" class="parentIssue" />
                        </span>
                        <span ng-if="row.rowKey.issue.fields[epicLinkField.id]">
                            <a ng-click="navigated(null,'Jira Issue View')" href="{{hostBaseUrl}}/browse/{{row.rowKey.issue.fields[epicLinkField.id]}}" class="parentIssue" ng-bind="row.rowKey.issue.fields[epicLinkField.id]"></a>
                        </span>
                        <span>
                            <issue-summary issue="row.rowKey.issue" />
                        </span>
                    </td>
                    <td class="nav priority" width="1%" ng-if="row.rowKey.issue">
                        <issue-priority issue="row.rowKey.issue" />
                    </td>
                    <td class="nav" width="1%" ng-if="row.rowKey.field" nowrap>
                        <issue-field field="row.rowKey.project" ng-if="row.rowKey.project && (row.rowKey.keyName == 'categoryrow' || !showCategoryRow)" jira-config="jiraConfig" />
                    </td>
                    <td class="nav" colspan="4" ng-if="row.rowKey.field" nowrap>
                        <span><issue-field field="row.rowKey.field" name='row.rowKey.keyName' jira-config="jiraConfig" /></span>
                        &nbsp;
                        <span ng-if="row.rowKey._issue && showDetailsCount">{{row.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[row.num]} }}</span>
                    </td>
                    <td class="nav text-center border-l-clear" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field" field="row.rowKey._issue.fields[field] || row.rowKey.issue.fields[field] || row.rowKey.field.fields[field]"
                                    issue="row.rowKey._issue || row.rowKey.issue || row.rowKey.field" jira-config="jiraConfig"
                                    ng-if="(row.rowKey._issue || row.rowKey.issue || row.rowKey.keyName == 'issue') &&
                                            (field.indexOf('project') < 0 ||
                                            !groupByOptions.selected ||
                                            (['project', 'issue'].indexOf(categorizeByOptions.selected) >= 0 && row.rowKey.keyName == 'categoryrow') ||
                                            (groupByOptions.selected == 'project' && row.rowKey.keyName == 'project') ||
                                            groupByOptions.selected === 'issue')"
                                    all-fields="allFields" />
                    </td>
                    <td ng-init="p_show=false"
                        ng-mouseover="p_show=column.sum == 0 && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate &&
                        ((!groupByOptions.selected && (canLogWork || canLogWorkForUser) && !cannotLogWorkIssue[row.rowKey.keyValue]) ||
                            (groupByOptions.selected == 'workeduser' && canLogWorkForWorkedUser[row.rowKey.field.accountId]))"
                        ng-mouseleave="p_show=false"
                        ng-click="(column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && !cannotLogWorkIssue[row.rowKey.keyValue] &&
                        ((!groupByOptions.selected && (canLogWork || canLogWorkForUser) && addWorklogPopup.init(column.columnKey, row.rowKey)) ||
                            (column.sum == 0 && groupByOptions.selected == 'workeduser' && canLogWorkForWorkedUser[row.rowKey.field.accountId] &&
                            addWorklogDialog(null, null, column.columnKey.date, row.rowKey.field)));
                            editWorklogPopup.init(column.columnKey, row.rowKey, row.data)"
                        class="nav borderWeekDays text-center"
                        ng-class="{toDay: column.columnKey.isToday,
                        todayBorder: column.columnKey.isToday && firstRow,
                        nonBusinessDay: column.columnKey.isWeekend,
                        addWorklogPopup: !groupByOptions.selected && column.sum == 0 && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser) && !cannotLogWorkIssue[row.rowKey.keyValue]),
                        editWorklogPopup: column.sum != 0,
                        disabled: column.sum == 0 && (groupByOptions.selected || cannotLogWorkIssue[row.rowKey.keyValue] || (!canLogWork && !canLogWorkForUser)) && (groupByOptions.selected != 'workeduser' || !canLogWorkForWorkedUser[row.rowKey.field.accountId]),
                        borderL:  column.columnKey.isFirstColumn}"
                        style="cursor:default"
                        ng-style="{'color': column.color}"
                        title="{{column.title}}"
                        ng-repeat="column in row.columns">
                        <span style="cursor:pointer">{{column.sum | prettyHours:jiraConfig}}</span>
                        <span ng-show="p_show" class="fa fa-plus" style="cursor:pointer" title="{{'Log Work against an issue' | i18n}}"></span>
                    </td>
                    <td ng-style="{'color': row.color}"
                        title="{{row.title}}"
                        class="nav total text-center stickyCell"
                        ng-class-odd="'bg-white'"
                        ng-class-even="compressed ? 'rowAlternate' : 'bg-white'">
                        {{row.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-class-odd="'rowAlternate'" ng-class-even="'rowNormal'" ng-repeat="data in row.data" ng-if="!compressed && !row.categoryRow">
                    <td class="nav">&nbsp;</td>
                    <td class="nav">&nbsp;</td>
                    <td class="nav">&nbsp;</td>
                    <td colspan="{{rowKeySize - 3}}" class="nav summary">
                        <span ng-if="data.rowKey._issue && (data.rowKey._issue.key != data.rowKey.issue.key)">
                            <span ng-if="data.rowKey._issue">
                                <issue-type issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue.fields.parent && data.rowKey._issue.fields.parent.key != data.rowKey._issue.key">
                                <issue-key issue="data.rowKey._issue.fields.parent" show-title="true" class="parentIssue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-key issue="data.rowKey._issue" />
                            </span>
                            <span ng-if="data.rowKey._issue">
                                <issue-summary issue="data.rowKey._issue" />
                            </span>
                        </span>
                        <span ng-if="data.worklog._issue">
                            <issue-key issue="data.worklog._issue" show-title="true" />
                        </span>
                        <span ng-if="(!paramUsersInfo || paramUsersInfo.length > 1) && groupByOptions.selected != 'workeduser'">
                            <a ng-if="data.worklog.author.accountId"
                               ng-title="{{data.worklog.author.displayName}}"
                               ng-href="{{hostBaseUrl + '/people/' + data.worklog.author.accountId}}"
                               target="_parent">
                                <img ng-alt="{{data.worklog.author.displayName}}" class="avatar-image inline-flex" style="border-radius: 50%"
                                    ng-src="{{data.worklog.author.avatarUrls['16x16']}}" width="16" height="16">
                            </a>
                            <span ng-bind="data.worklog.author.displayName"></span>
                        </span>
                        <worklog-comment worklog="data.worklog"/>
                    </td>
                    <td class="nav priority" width="5%">
                        <span ng-if="data.rowKey._issue">
                            <issue-priority issue="data.rowKey._issue" />
                        </span>
                    </td>
                    <td class="nav border-l-clear" width="1%" ng-repeat="field in row.moreFields track by $index">
                        <issue-field name="field"
                                    field="data.rowKey._issue.fields[field]"
                                    issue="data.rowKey._issue"
                                    jira-config="jiraConfig"
                                    ng-if="data.rowKey._issue && (field.indexOf('project') < 0 ||
                                            (categorizeByOptions.selected != 'project' && groupByOptions.selected != 'project'))"
                                    once="pivotTable"
                                    all-fields="allFields"/>
                    </td>
                    <td ng-init="p_show=false"
                        ng-mouseover="p_show=groupByOptions.selected && data.columnKey.keyValue != column.columnKey.keyValue && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key])"
                        ng-mouseleave="p_show=false"
                        ng-click="groupByOptions.selected && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]) && addWorklogPopup.init(column.columnKey, data.rowKey); editWorklogPopup.init(column.columnKey, data.rowKey, [data], 'addPossible');"
                        ng-class="{toDay: column.columnKey.isToday,
                        nonBusinessDay: column.columnKey.isWeekend,
                        addWorklogPopup: groupByOptions.selected && data.columnKey.keyValue != column.columnKey.keyValue && (column.columnKey.date || column.columnKey.startDate) >= allowToLogFromDate && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]),
                        editWorklogPopup: groupByOptions.selected && data.columnKey.keyValue == column.columnKey.keyValue && ((canLogWork || canLogWorkForUser || canLogWorkForWorkedUser[row.rowKey.field.accountId]) && !cannotLogWorkIssue[data.rowKey._issue.key]),
                        disabled: !groupByOptions.selected || (data.columnKey.keyValue == column.columnKey.keyValue && cannotLogWorkIssue[data.rowKey._issue.key] || (!canLogWork && !canLogWorkForUser && !canLogWorkForWorkedUser[row.rowKey.field.accountId])),
                        borderL:  column.columnKey.isFirstColumn}"
                        style="cursor:default"
                        class="nav borderWeekDays text-center"
                        ng-repeat="column in pivotTable._sortedColumns">
                        <span style="cursor:pointer" ng-if="data.columnKey.keyValue == column.columnKey.keyValue">
                            {{data.value | prettyHours:jiraConfig:false:'zeroable'}}
                        </span>
                        <span ng-show="p_show" class="fa fa-plus" style="cursor:pointer" title="{{'Log Work against an issue' | i18n}}"></span>
                    </td>
                    <td class="nav borderWeekDays total stickyCell"
                        ng-class-odd="'rowAlternate'" ng-class-even="'bg-white'" >
                        &nbsp;
                    </td>
                </tr>
                <tr ng-repeat-end ng-hide="true" ng-class="{details: compressed == false}"></tr>
                <!-- total block -->
                <tr ng-hide="loading || !loaded || !pivotTable" class="bg-secondary-color-clarity-4 font-semibold">
                    <td class="nav">&nbsp;</td>
                    <td colspan="{{rowKeySize}}" class="nav">
                        {{'Total' | i18n}}&nbsp;{{pivotTable.num != 1 ? 'issues' : 'issue' | i18n:{placeholders:[pivotTable.num]} }}
                    </td>
                    <td class="nav text-center border-l-clear" ng-repeat="field in pivotTable.moreFields track by $index">
                        <issue-field name="field" field="pivotTable.fieldTotals[field]" issue="{fields: pivotTable.fieldTotals}" jira-config="jiraConfig"/>
                    </td>
                    <td ng-style="{'color': column.color}" title="{{column.title}}" class="nav borderWeekDays text-center" ng-repeat="column in pivotTable._sortedColumns" ng-class="{borderL:  column.columnKey.isFirstColumn}">
                        {{column.sum | prettyHours:jiraConfig}}
                    </td>
                    <td ng-style="{'color': pivotTable.color}" title="{{pivotTable.title}}" class="nav stickyCell bg-secondary-color-clarity-4 text-center">
                        {{pivotTable.sum | prettyHours:jiraConfig}}
                    </td>
                </tr>
                <tr ng-show="loaded && loading">
                    <td>&nbsp;</td>
                    <td colspan="{{rowKeySize + 1}}">
                        <loading/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination></pagination>

    <button-add-worklog class="mt-5 ml-4"></button-add-worklog>

    <data-limit-auditors-roles></data-limit-auditors-roles>

    <data-limit-restricted-groups></data-limit-restricted-groups>

    <empty-values></empty-values>
</div>
