<div class="formTitle margin">
  <h2>Welcome to {{appName | i18n}}</h2>
</div>
<h3 class="margin">Getting started</h3>
<br />
<div class="aui margin">
  <p>
    {{appName | i18n}} for Jira expands Jira's built-in time tracking
    function and includes the following Reports:
  </p>
  <ul style="list-style-type: disc">
    <li>
      <a
        ng-click="navigated('TimeEntry')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=TimeEntry"
        target="_blank"
      >
        Time Entry
      </a>
      - Provides a convenient way to record hours worked in real-time (for
      instance, start, stop, resume timer, log work done, or edit previous
      records).
    </li>
    <li>
      <a
        ng-click="navigated('Timesheet')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=Timesheet"
        target="_blank"
      >
        Time Tracker
      </a>
      - Provides the most extensive way to analyze user workloads. It displays a
      classic sheet view of hours worked per day and includes many options to
      customize the report.
    </li>
    <li>
      <a
        ng-click="navigated('Calendar')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=Calendar"
        target="_blank"
      >
        Calendar
      </a>
      - Provides a summary of hours worked per day in a calendar view.
    </li>
    <li>
      <a
        ng-click="navigated('Timespent')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=Timespent"
        target="_blank"
      >
        Timespent
      </a>
      - Provides a simplified way to analyze user workload. It displays a
      classic sheet view with only the Time Spent column and includes many
      options to customize the report. Use the Pivot by Field option to extend
      Time Spent by the field value when the worklog starts.
    </li>
    <li>
      <a
        ng-click="navigated('IssueWorkedTimeByUser')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=IssueWorkedTimeByUser"
        target="_blank"
      >
        Pivot by User
      </a>
      - Displays a summary of hours worked for a project during a specific
      period. The columns contain project users (resources), and the rows
      contain project issues (tasks).
    </li>
    <li>
      <a
        ng-click="navigated('Timesheet')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=IssueWorkedTimeByStatus"
        target="_blank"
      >
        Pivot by Status
      </a>
      - Displays the time worked on issues arranged by the issue statuses. This
      report spreads hours worked across all statuses for the issue, starting
      from the Started Time. You can only use Started Time by enabling Started
      Time In Status in the User Default Settings.
    </li>
    <li>
      <a
        ng-click="navigated('IssueWorkedTimeByLabel')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=IssueWorkedTimeByLabel"
        target="_blank"
      >
        Pivot by Label
      </a>
      - Displays a summary of hours worked for a project spread over columns
      from worklog comments.
    </li>
    <li>
      <a
        ng-click="navigated('TimeTracking')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=TimeTracking"
        target="_blank"
      >
        Time Tracking
      </a>
      - Displays Estimated Time versus actual Time Spent per issue.
    </li>
    <li>
      <a
        ng-click="navigated('PieChart')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=PieChart"
        target="_blank"
      >
        Pie Chart
      </a>
      - Displays a visual summary of the time worked on a project in a certain
      period.
    </li>
    <li>
      <a
        ng-click="navigated('IssuePassedTimeByStatus')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=IssuePassedTimeByStatus"
        target="_blank"
      >
        Time in Status
      </a>
      - Displays the time elapsed for particular issues. This report calculates
      the time passed between status changes based on the issue change history.
      You can filter the columns with the Time In Status Categories option in
      the User Default Settings.
    </li>
    <li>
      <a
        ng-click="navigated('IssuePassedTimeByResolution')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=IssuePassedTimeByResolution"
        target="_blank"
      >
        Resolution Time
      </a>
      - Displays the time elapsed for resolved and unresolved issues.
    </li>
    <li>
      <a
        ng-click="navigated('TimeBalance')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=TimeBalance"
        target="_blank"
      >
        Time Balance
      </a>
      - Displays all changes in the time tracking fields for issues in a certain
      period. Note: There is no access to worklogs from this report page.
    </li>
    <li>
      <a
        ng-click="navigated('CostReport')"
        href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/timereports#!pivotTableType=CostReport"
        target="_blank"
      >
        Cost Report
      </a>
      - Displays costs for a certain period based on the hourly rates.
    </li>
  </ul>
  <p ng-if="isTimesheet">
    <strong>Note:</strong> These are the same reports found in Time Tracker Lite.
    Time Tracker offers
    <a href="https://primetimesheet.atlassian.net/wiki/spaces/KB/pages/2783150081/Differences+between+Timesheet+Reports+and+Gadgets+Time+Reports">additional features listed here.</a>
  </p>
  <p ng-if="isTimesheet">
    To access the reports, navigate to
    <strong>Projects > your project > Reports > Other > Time Tracker</strong>. To
    record hours worked from the issue in real-time, use the Time Entry Issue
    Panel options for groups and projects in
    <a
      ng-click="navigated(null,'Configuration Page')"
      href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/configuration"
      target="_blank"
    >
      Configuration</a
    >. Note: Depending on your permissions, you can select the Time Tracker 
    icon using the Apps or Project menu. The Apps menu icon is
    available if you are in the Auditors Group or the Time Entry Issue Panel
    Group. The Project menu icon is available if you are only on Time Entry
    Issue Panel Projects. You can also add a quick link with the Jira
    <a
      href="https://confluence.atlassian.com/jira/creating-links-in-the-application-navigator-346948276.html"
      target="_blank"
      >Application Navigator</a
    >, which lets you set a link that is viewable only by groups you specify.
  </p>

  <p ng-if="!isTimesheet">
    To access the reports, navigate to
    <strong>Projects > your project > Reports > Other > {{appName | i18n}}</strong>.
    To record hours worked from the issue in real-time, use the Time Entry Issue
    Panel options for groups and projects in
    <a
      ng-click="navigated(null,'Configuration Page')"
      href="{{hostBaseUrl}}/plugins/servlet/ac/{{appKey}}/configuration"
      target="_blank"
    >
      Configuration</a
    >. Note: Depending on your permissions, you can select the Timesheet Reports
    and Gadgets icon using the Apps or Project menu. The Apps menu icon is
    available if you are in the Auditors Group or the Time Entry Issue Panel
    Group. The Project menu icon is available if you are only on Time Entry
    Issue Panel Projects. You can also add a quick link with the Jira
    <a
      href="https://confluence.atlassian.com/jira/creating-links-in-the-application-navigator-346948276.html"
      target="_blank"
      >Application Navigator</a
    >, which lets you set a link that is viewable only by groups you specify.
  </p>
  <p>
    You can add {{appName | i18n}} to the
    <a
      href="{{hostBaseUrl}}/secure/admin/EditDefaultDashboard!default.jspa"
      target="_blank"
      >Jira dashboard</a
    >
    to provide a convenient way to monitor your team's workload.
  </p>
  <p>
    You can also export the underlying data from your Time Reports (such as the
    worklog) to Excel or CSV on the report page.
  </p>
  <br />
  <div ng-if="isTimesheet">
    <h3 id="additionalFeatures">Additional features of {{appName | i18n}}</h3>
    <p>
      Time Tracker for Jira Cloud includes the same reports as
      Time Tracker Lite and also includes these additional features:
    </p>

    <ul style="list-style-type: disc">
      <li>
        <a
          href="https://tempo.scrollhelp.site/trg/latest/access-settings"
          target="_blank"
        >
          Log work for other users
        </a>
        - Select specific groups to be able to log time impersonating other
        users.
      </li>
      <li>
        <a
          href="https://tempo.scrollhelp.site/trg/latest/access-settings"
          target="_blank"
        >
          Email subscription
        </a>
        - You can send an email or create an email subscription for your
        preferred reports.
      </li>
      <li>
        <a
          href="https://tempo.scrollhelp.site/trg/latest/access-settings"
          target="_blank"
        >
          REST API integration:
        </a>
        You can use REST API integrations in Time Tracker for
        Jira Cloud.
      </li>
      <li>
        Log Suggested Work Automatically: Enable the
        <strong>Log Suggested Work</strong> option in
        <strong>User Preferences</strong> to log suggested work automatically.
      </li>
    </ul>
  </div>
  <h3>Additional Resources</h3>
  <ul>
    <li>
      <a
        href="https://www.tempo.io/docs/timesheet-reports-and-gadgets"
        target="_blank"
        ng-if="isTimesheet" >Documentation</a
      >
      <a
        href="https://help.tempo.io/timereports/"
        target="_blank"
        ng-if="!isTimesheet" >Documentation</a
      >
    </li>
    <li>
      <a
        href="https://tempo-io.atlassian.net/servicedesk/customer/portal/6/group/31"
        target="_blank"
        >Submit a support request</a
      >
    </li>
  </ul>
</div>
